[2022-02-11 02:41] looseale commented on #1306
Hi.
We had a server problem, it is up and running now.
Thanks for letting us know.

[2022-02-11 02:41] #1306 closed, assigned to nobody

[2022-02-11 05:36] jgsuess commented on #1253
Thanks. That was helpful. I am now down to 56 false negatives, as shown below. Does this mean the TCK is wrong or the check that the parser provides is weak? What can be done to strengten it?

If the TCK is sound, please raise the priority to a bug.

I will also run the TCK against version 4 and see how it will go.

[code]

[2022-02-11 05:41] jgsuess commented on #1253
@AgustinBettati

Full report, for reference. Also some false positives.
[code]

[2022-02-11 05:49] jgsuess commented on #1253
For comparison: errors produced by AMF/AML4 parsing
[code]

[2022-02-11 13:37] looseale commented on #1303
Hi.
Fixed with commit 4a0075e49caafde1cd202fb6f9a445828b6aef51.
This will be released with the next AMF version at 9th of March

[2022-02-11 13:37] #1303 closed, assigned to nobody

[2022-02-11 13:56] looseale commented on #1304
Hi.
I tried to reproduce this with the last version of AMF (5.0.3) and is working for me.
I used this code:
[code]

with this API:

[code]

and the rendered content was

[code]

Are you resolving/transforming the BaseUnit?

Also, I recommend you to move to the last version. Any non critical bug fixing will not be ported to AMF 4.x.x (we will only fix security issues in AMF 4 basically).
You can fi

[2022-02-11 14:55] looseale commented on #1305
Hi.

There is a problem with the API: you are using a ref to a parameter in a place that make non sense to use it. You should have a reference to a schema there instead.
AMF only search references where the definition is allowed (e.g. you are referencing that parameter in a `parameters` section and it is working there).

To fix this you could extract the parameter schema to a declaration in `compo

[2022-02-11 14:55] #1305 closed, assigned to nobody

[2022-02-11 19:47] AgustinBettati commented on #1253
Hello @jgsuess, thanks for all the detail!

We made an extensive analysis of the TCK a few years ago when initially supporting RAML. I can confirm that the majority of the cases you have listed have been registered as limitations from AMFs side, or corrections that need to be made in the TCK.

Nevertheless we have decided to revise and improve the current state of the TCK as there have been some a

[2022-02-14 00:16] anandsgar-sap commented on #1305
Hi @looseale

I had a chat with a colleague and we could observe following:

If parameters cannot be provided in $ref, how come the validator is not erroring the below $refs
{ "$ref": "#/components/parameters/top" },
{ "$ref": "#/components/parameters/skip" },
{ "$ref": "#/components/parameters/search" },

& failing only for count $ref:
{ "$ref": "#/components/parameters/count" },

Also, please re

[2022-02-14 02:52] looseale commented on #1305
Hi @anandsgar-sap

I didn't said you cannot reuse parameters, I said you should reference them only from a valid place.

Taking your API and the `$ref` to `"#/components/parameters/count"` as example:
In line 29, the ref to that parameter is correct and no error is shown. In that case you are using a `$ref` to the parameter inside a `parameters` inside an `operation`, that is a `parameter object`

[2022-02-14 03:32] anandsgar-sap commented on #1287
@tomsfernandez  Could you please help me here, please let me know if we have a way currently? It is important for me to understand as i want to go ahead with this dependency.

[2022-02-14 06:52] jagadish-kb commented on #1305
HI @looseale
    I dont find your assumption in this [section](https://github.com/OAI/OpenAPI-Specification/blob/main/versions/3.0.2.md#schema-object) of Spec. Rather as per the spec definition of schema object, please find the below w.r.t Reference Objects usage in its place:

_Alternatively, any time a Schema Object can be used, a  [Reference Object](https://github.com/OAI/OpenAPI-Specification/

[2022-02-14 11:35] tomsfernandez commented on #1287
Can you share a gist with the code you are running ? And I'm not sure what you mean by "the appropiate JSON structure to consume", maybe add an example of what you are expecting ?

Can you give me an example of this please? Do you want to serialize the web-api structure as a plain JSON object ?

[2022-02-15 03:33] anandsgar-sap commented on #1287
Can you give me an example of this please? Do you want to serialize the web-api structure as a plain JSON object ?

[2022-02-15 13:30] looseale commented on #1305
Hi @jagadish-kb
We have this distinction in resolving `$ref` for performance. We pre-compute all schemas in a map and then resolve the references in schema nodes using that map. We do this because traversing the API each time to resolve JSON references is very time-consuming in big APIs and the API will be invalid anyway.

For example, this is a reduced case of your API:

[code]

This shows an err

[2022-02-15 20:44] tomsfernandez commented on #1287
Hi @anandsgar-sap please open another issue for this serialization of the web-api structure as a plain JSON object.
Please answer my other question in the previous comment so we can solve this.

[2022-02-16 18:53] mkmishra89 opened #1320 "Not able to mock"
i am trying to mock the below code but getting error could you please help me for that.

private BaseUnit stringContentToModel(AMFBaseUnitClient client, String specDoc) throws ExecutionException, InterruptedException {
        final AMFParseResult parseResult = client.parseContent(specDoc).get();

Error : java.util.concurrent.ExecutionException: amf.core.client.scala.exception.UnsupportedDomainFor

[2022-02-17 12:22] nschejtman commented on #1320
Hi @mkmishra89 ,
please make sure you follow the issue reporting template.

Regarding your question, you can check you are obtaining  the your `AMFBaseUnitClient` from an appropriate configuration. For example, if you are parsing a RAML 1.0 spec you can use the `amf.apicontract.client.platform.RAMLConfiguration.RAML10()` method to obtain such configuration

[2022-02-22 13:19] looseale commented on #1304
Hi @jgsuess
Any update about this or can I close it?

[2022-02-22 19:39] jgsuess commented on #1304
I will build a test case.

On Tue, 22 Feb 2022, 23:19 Alejandro Loose, ***@***.***>
wrote:

[2022-03-08 22:43] ncovercash opened #1338 "Unable to use $ref in OAS Path Item objects"
### **I'm submitting a ...**
- [x] bug report
- [ ] feature request
- [ ] question
- [ ] other

### **What is the current behavior?**

Currently, `$ref` is improperly resolved for relative paths within Path Item objects _that, themselves, are $ref'd_ within API schemas.

### **If the current behavior is a bug, please provide the minimal steps to reproduce with AMF code. Please don't upload AMF cod

[2022-03-10 11:52] mkmishra89 opened #1340 "how to read the server using amf for java"
Hi

i am trying to read server object using AMF through java but not able to read it. Could you please let me know how i can read it.

[2022-03-10 12:58] arielmirra commented on #1340
Hi @mkmishra89! it's not clear what you're trying to do, please provide more information like code or a test with the problem.

AMF can parse APIs in files or strings: https://a.ml/docs/amf/using-amf/amf_parsing

You can also create or modify an AMF Model in memory: https://a.ml/docs/cookbook/model_in_memory

You can find more code examples in Java in the documentation provided above. Hope that he

[2022-03-10 12:58] #1340 closed, assigned to arielmirra

[2022-03-10 13:04] mkmishra89 commented on #1340
i want to read this servers object

![image](https://user-images.githubusercontent.com/97277843/157667583-6964eb26-a288-4e29-b7d2-c13b0404e8f6.png)

[2022-03-10 15:31] arielmirra commented on #1338
Hi @ncovercash! This is a bug, I reported it internally and will keep you updated when I investigate further. Thanks for such a clear report!

internal link just for history sake: https://gus.my.salesforce.com/a07EE00000sRUzYYAW

[2022-03-11 05:12] mkmishra89 opened #1342 "Not able to read server details from the WebAPI model after parsing openAPi spec using java"
we are using below code to fetch details.

final WebApi api = (WebApi) document.encodes();
final List<Operation> operations = api.endPoints().stream().map(EndPoint::operations).flatMap(Collection::stream).collect(Collectors.toList());
operations.forEach(operation -> {
    Server server = operation.servers().get(0);
    //todo read this server object as JSON
});

we want to read the server object a

[2022-03-11 05:13] mkmishra89 commented on #1340
we are using below code to fetch details.

final WebApi api = (WebApi) document.encodes();
final List<Operation> operations = api.endPoints().stream().map(EndPoint::operations).flatMap(Collection::stream).collect(Collectors.toList());
operations.forEach(operation -> {
    Server server = operation.servers().get(0);
    //todo read this server object as JSON
});

we want to read the server object a

[2022-03-11 05:14] mkmishra89 commented on #1340
@arielmirra please look above sample code.

[2022-03-14 06:58] mkmishra89 commented on #1342
Gentle Reminder

[2022-03-15 15:22] ShauniArima opened #1344 "Duplicated schemas during conversion"
* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] question
  - [ ] other

* **What is the current behavior?**

During conversion of a RAML file that define `schemas`, linked schemas using differents `relative paths` result in different schemas in the output.

For example:
[code]

Result in a output with duplicated A in the schemas part.

You can find a sample with a tes

[2022-03-16 16:49] ShauniArima commented on #645
This issue does not seems to be a duplicate of #646. Resource types seems to be resolved but not traits.

Would you want a sample that expose this behaviour ?

[2022-03-16 18:00] deiteris commented on #899
The issue seems to be fixed with 5.0.5 as I'm no longer able to reproduce it. I'm closing this issue. Thanks!

[2022-03-16 18:00] #899 closed, assigned to nobody

[2022-03-16 18:11] tomsfernandez commented on #899
Hi @deiteris, yes this issue was solved and released with the 5.0.5 release. Sorry for not updating this thread. Thanks for the proactivity closing this issue!.

[2022-03-16 18:14] tomsfernandez commented on #645
HI @ShauniArima this issue is a duplicate because the cause (misuse of AMF to migrate between RAML 1.0 and OAS 3.0) is the same. That is why it is a duplicate.

[2022-03-16 20:35] ShauniArima commented on #645
Hmmm I'll check that tomorrow but after resolving the model there is still a bad output. I'll create an example to explain this issue if you want.

[2022-03-18 16:30] ShauniArima opened #1353 "What really does `validate`?"
* **I'm submitting a ...**
  - [ ] bug report
  - [ ] feature request
  - [x] question
  - [ ] other

* **What is the current behavior?**

The `validate` function seems to manipulate the model by resolving `optionnal properties`. Is it the desired behaviour?

For example:

api.raml
[code]

By using this script:

[code]

The output is correct and `optional properties` are resolved (`200?`):

[code]

[2022-03-21 04:31] mkmishra89 commented on #1342
Gentle Reminder.

[2022-03-21 17:28] ShauniArima commented on #1353
I have updated the previous comment to provide an example of the behaviour I am talking about.

[2022-03-24 08:02] mkmishra89 commented on #1342
Gentle Reminder

[2022-03-28 14:27] tomsfernandez commented on #1342
Hi @mkmishra89 sorry for not answering earlier, our notifier bot suddenly stopped working. Please see: https://github.com/aml-org/examples/blob/master/AMF5/src/test/java/javaPlatform/RenderDomainElementTest.java. This shows how to render domain elements like Server to the desired spec

[2022-03-28 14:27] #1342 closed, assigned to nobody

[2022-03-28 14:28] tomsfernandez commented on #1344
Hi @ShauniArima sorry, our notification bot stopped working all of a sudden. We are triaging this issue, we will provide updates soon.

[2022-03-28 14:31] tomsfernandez commented on #1353
Hi @ShauniArima. Yes, validation does in fact mutate the model as we need the model to be as denormalized as possible (applying traits and resource loaders for example) to be able to validate correctly. If you want to reuse the validated model you can call the `cloneUnit` method on the parsed baseUnit to validate a clone of it and avoid mutating the original. Please re-open the issue or keep askin

[2022-03-28 14:31] #1353 closed, assigned to nobody

[2022-03-29 12:53] ShauniArima commented on #1353
Thanks for your answer!

The issue with that behaviour is that this is not explicit. But now I get the point so I am fine.

Also, this method is tagged as `deprecated`. Do you have some clues about it?

[2022-03-29 12:53] ShauniArima commented on #1344
Thank you for answering this issue 😄

[2022-03-29 13:06] ShauniArima opened #1361 "Stack overflow error during `transform`"
* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] question
  - [ ] other

* **What is the current behavior?**

When `transform` is called on a big model, a recursive call seems to be stuck in an infinite loop and cause a Stack overflow error.

* **If the current behavior is a bug, please provide the minimal steps to reproduce with AMF code. Please don't upload AMF code

[2022-03-29 13:44] ShauniArima opened #1362 "Some threads are not stopped after transformation is done"
* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] question
  - [ ] other

* **What is the current behavior?**

Converting RAML to OpenAPI is working great but after the work is done, some threads are not stopped.

* **If the current behavior is a bug, please provide the minimal steps to reproduce with AMF code. Please don't upload AMF code mixed with yours.**

[code]

T

[2022-03-29 14:23] tomsfernandez commented on #1361
HI @ShauniArima! How did you create that model?

[2022-03-29 14:26] tomsfernandez commented on #1362
HI @ShauniArima. This is a known issue for us in AMF and it is related to Scala rather than our product. To force the threads to stop you will have to provide an ExecutionContext to the AMFConfiguration and at the end of the process, force all of its threads to stop.

You can see an example here: https://github.com/aml-org/examples/blob/master/AMF5/src/test/scala/scalaPlatform/SchedulerTest.scala

[2022-03-29 14:37] ShauniArima commented on #1362
Oh thanks, I will check that!

[2022-03-29 14:38] ShauniArima commented on #1361
I have a RAML file that I use with that code:

[code]

Also, it seems to be more frquent when `validate` is used.

[2022-03-29 15:05] #1362 closed, assigned to nobody

[2022-03-30 20:38] tomsfernandez commented on #1361
@ShauniArima can you provide is the API you are using so we can create a ticket to box some time for this ?

[2022-03-31 09:35] ShauniArima commented on #1361
Unfortunately, I can not share the API now. I need to do some work on it in order to be able to share it with you.

I will check with my team on the tasks we need to assign before sending the API to you.

[2022-04-01 12:34] ShauniArima commented on #1361
After some tests on the API, it seems that this overflow is caused by the number of schemas that are defined. There are 3147 JSON Schemas referenced in the specifications.

So I am facing an issue now. If I remove the `schemas` part in the `RAML` file and replace each reference to JSON Schemas with `includes`, the parse step fails. Having schemas defined in the API would let the control over the n

[2022-04-01 12:45] tomsfernandez commented on #1361
Typescript does support custom transformation pipelines with the `TransformationPipelineBuilder` class (same as Java). Unfortunately without the API there isn't something meaningful we can do from our side. I'm closing this issue for now but please re-open it when you can provide us with an API that you can post here and it reproduces this issue.

[2022-04-01 12:45] #1361 closed, assigned to nobody

[2022-04-01 13:23] tomsfernandez commented on #1344
Hi @ShauniArima, it seems this issue is originated from the same functionality as https://github.com/aml-org/amf/issues/1338. We will investigate them together.

Internal ticket link: https://gus.my.salesforce.com/a07EE00000sRUzYYAW

[2022-04-01 13:25] tomsfernandez commented on #1320
I'm marking this issue as stale and closing it as more than a month has gone by without an answer from the author

[2022-04-01 13:25] #1320 closed, assigned to nobody

[2022-04-01 13:26] tomsfernandez commented on #1287
I'm marking this issue as 'stale' and closing it as more than a month has passed without a response from the issue author

[2022-04-01 13:26] #1287 closed, assigned to nobody

[2022-04-01 14:49] tomsfernandez commented on #1304
I'm marking this issue as 'stale' and closing it as it has been more than 30 days since we have been expecting a response from the authors and they haven't responded back. Please re-open the issue when you can get back to this.

[2022-04-01 14:49] #1304 closed, assigned to looseale

[2022-04-04 08:41] ShauniArima commented on #1361
Yes, thanks. 😄
I finally found my issue. I was playing with the `Xss` parameter of the JVM in IntelliJ but it looks like it does not apply the setting correctly. After setting it through the `maven jvm config`, now it works. 💪
Sorry about that. I hope that you do not lose so much time on this issue because of me. 😢

[2022-04-04 08:45] ShauniArima commented on #1344
Thank you @tomsfernandez. 😄
I was wondering if it is possible to have some news about it in one of the two issues impacted?

[2022-04-13 16:13] nschejtman opened #1382 "Test"
Your issue may already be reported! Please search on Github issues before creating one.

* **I'm submitting a ...**
  - [ ] bug report
  - [ ] feature request
  - [ ] question
  - [ ] other

* **What is the current behavior?**

* **If the current behavior is a bug, please provide the minimal steps to reproduce with AMF code. Please don't upload AMF code mixed with yours.**

* **What is the expecte

[2022-04-13 16:13] #1382 closed, assigned to nobody

[2022-04-18 16:49] hghianni commented on #1344
Hi @ShauniArima, I have looked into this issue and we decided no change will be made. For us conversion is a best effort and decisions around it are strongly based on opinions, we only guarantee that the converted file will be valid. So there are cases like these where the decisions made may be unsatisfactory for some users as result is not exactly what they expected but as I said is debatable. Fe

[2022-04-18 16:55] #1344 closed, assigned to nobody

[2022-04-26 09:14] ShauniArima commented on #1344
Hi @hghianni! 👋
Thanks for your answer. Sorry, I was not able to answer your message sooner. 😢
I understand your point of view about decisions. But I am not sure that avoiding doubloons is related to decisions in the software. For me, it is more related to something that is not handled correctly. Maybe I am wrong so feel free to answer me! 😄

[2022-04-27 13:19] hghianni commented on #1338
Hello @ncovercash  this issue has been fixed and will be present in the next AMF release version 5.0.7, probably May 4. Thank you!

[2022-04-27 13:20] #1338 closed, assigned to arielmirra

[2022-04-29 20:22] hghianni commented on #1292
Hello @jgsuess this issue has been fixed and will be present in the next AMF release version 5.0.8, probably May 4. Thank you!

[2022-04-29 20:22] #1292 closed, assigned to nobody

[2022-04-30 00:10] jgsuess commented on #1292
Thank you! This is great news. This is the release I was looking for. I think your Jedi mind tricks have worked on this release :)

[2022-05-11 06:48] jgsuess opened #1404 "AML implementation depends on internal packages of target library. Clean OSGi use not possible."
Your issue may already be reported! Please search on Github issues before creating one.

* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] question
  - [ ] other

* **What is the current behavior?**
`JvmShapePayloadValidator.loadSchema` has a dependency on `URIV4FormatValidator`, which is an internal class. Access to internal classes is sensibly denied in OSGi. Please w

[2022-05-11 06:56] jgsuess opened #1405 "AMF5 uses commons.io 1.4, which is vulnerable"
Your issue may already be reported! Please search on Github issues before creating one.

* **I'm submitting a ...**
  - [ ] bug report
  - [ ] feature request
  - [ ] question
  - [x] other

* **What is the current behavior?**
AMF transitively depends on [`org.apache.commons.io`](https://mvnrepository.com/artifact/commons-io/commons-io/1.4) which is vulnerable to a path traversal exploit.

* **If

[2022-05-13 11:47] mkmishra89 opened #1407 "Trying to parse and map a particular Open API spec crashes the APP due to memory"
We are using AMF parser version 5.0.1 in java and below is our code to parse and transform oas file

our application is getting crash due to memory issue. Could you please help us. oas file size is 3.7MB  and memory allocated in  CF is 1024 MB.

below is the sample code which we are using to parse and transform the oas file.

@DisplayName("AMF Parser demo")
    @Test
    void parseOASFile() throws

[2022-05-16 09:35] mkmishra89 commented on #1407
We have added below code for references

[2022-05-16 09:39] mkmishra89 commented on #1407
@tomsfernandez could you please have a look.

[2022-05-16 09:51] mkmishra89 commented on #1407
[sampleoas.txt](https://github.com/aml-org/amf/files/8698992/sampleoas.txt)

[2022-05-16 11:47] hghianni commented on #976
Hello @deiteris this issue has been fixed and will be present in the next AMF release version 5.0.9, probably June 1. Thank you!

[2022-05-16 11:47] #976 closed, assigned to nobody

[2022-05-17 08:48] Vivek-Vishal commented on #1407
Hello @tomsfernandez ,
Request your assistance to help on this issue. It is a blocker for us as we are unable to work with any open api specifications of higher file sizes.

[2022-05-17 08:52] mkmishra89 commented on #1407
@tomsfernandez Could you please help us on the above issue. It is blocker for us not able to work with big file.

Please let us know if you need any details from our end.

[2022-05-18 03:18] ncovercash commented on #1338
@hghianni @arielmirra  thank you for addressing this issue!  It looks like this fixed all of the test cases I provided previously (separate paths and schemas), however the same bug is still present for parameters.

I updated https://github.com/ncovercash/amf-ref-demo with this example as before: [diff](https://github.com/ncovercash/amf-ref-demo/commit/baf0bc56a78da492389b4ca896eecc22fb69612b).

Th

[2022-05-19 05:49] mkmishra89 commented on #1407
@tomsfernandez @jstoiko  could you please help us on the above issue it blocker for us.

[2022-05-19 13:05] hghianni commented on #1338
Hi @ncovercash, I'm glad this fixes the previous issue. Please create a new issue, so I can report it internally only for this case. I fixed several related cases but this is handled differently that's why I wasn't able to detect it. Thank you!

[2022-05-19 16:58] ncovercash opened #1408 "Unable To Use $ref in OAS Parameter Specifications"
* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] question
  - [ ] other

* **What is the current behavior?**

Currently, `$ref` is improperly resolved for relative paths within Parameters

* **If the current behavior is a bug, please provide the minimal steps to reproduce with AMF code. Please don't upload AMF code mixed with yours.**

#### _Since this is a schema issu

[2022-05-19 18:00] arielmirra commented on #1408
Hi @ncovercash! This definitely a bug. I've created a [bug report](https://gus.lightning.force.com/lightning/r/ADM_Work__c/a07EE00000xNqp9YAC/view) assigned to @hghianni as he solved the PR #1338 you linked. We're doing the AMF release, so this fix will not be available in the next AMF release, but in the next one. I'll keep you updated anyway. Thank you!

[2022-05-20 04:51] mkmishra89 commented on #1407
@arielmirra @hghianni could you please look above issue and help us for the same.

[2022-05-20 11:10] tomsfernandez commented on #1407
Hello @mkmishra89. We understand that this issue is a blocker for you and your team but we haven't had the opportunity to check this out yet. I'll try to check it out today. Please stop the spamming as it won't change how fast we resolve / check this issue out.

[2022-05-20 11:11] tomsfernandez commented on #1407
@mkmishra89 The next time **please** follow the bug issue template

[2022-05-20 13:57] tomsfernandez commented on #1407
@arielmirra will check this when he has some available time

[2022-05-23 11:10] jgsuess opened #1411 "amf.apicontract.client.platform.model.document.APIContractProcessingData.withSourceSpec(Spec) is referencing internal"
Your issue may already be reported! Please search on Github issues before creating one.

* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] question
  - [ ] other

* **What is the current behavior?**
The API builder API for amf is not closed. It leaks at least one reference to an internal class in
`amf.apicontract.client.platform.model.document.APIContractProcessingData.

[2022-05-23 14:57] arielmirra commented on #1407
Hi @mkmishra89! I've been investigating your case, running the provided API through several profilers and analyzing time, CPU and memory usage.

Here are the results with AMF in Java, and only parsing, without transformation:
![image](https://user-images.githubusercontent.com/8195364/169844769-bc3c8ede-51d8-41e0-85f5-f330c5a56153.png)

And here are the results when parsing and transforming the API

[2022-05-23 14:57] #1407 closed, assigned to arielmirra

[2022-05-23 15:39] arielmirra commented on #1411
Hi @jgsuess! That's interesting, but I couldn't find such a reference using the Java client interface, I've tried the following (starting from line 102 in the [ModelBuilderTest in AMF examples](https://github.com/aml-org/examples/blob/master/AMF5/src/test/java/javaPlatform/ModelBuilderTest.java#L102):
[code]

Could you provide the code example where you found this? Thank you!

[2022-05-24 06:38] jgsuess commented on #1411
This what I see in the analysis:
![image](https://user-images.githubusercontent.com/782737/169964813-586d9e88-47e5-48ae-a1de-5c599b0b2b15.png)

[2022-05-24 06:40] jgsuess commented on #1411
You cannot see it, because you are looking at a superclass, that does not have it. Try an `instanceOf` cast.
![image](https://user-images.githubusercontent.com/782737/169965174-0448e65b-7128-4a19-972c-7bc12a3746d3.png)

[2022-05-26 20:54] arielmirra commented on #1411
You're right, I've found it and analyzed changing it, but we can't change it for backward-compatibility reasons (we can't change the method firm). Thanks for the heads-up!

[2022-05-26 20:54] #1411 closed, assigned to arielmirra

[2022-05-31 00:12] jgsuess opened #1424 "Missing Accessor Method in API of ShapeOperation"
Your issue may already be reported! Please search on Github issues before creating one.

* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] question
  - [ ] other

* **What is the current behavior?**
Constructor method `class amf.shapes.client.platform.model.domain.operations.ShapeOperation.withResponses` should have corresponding accessor method `class amf.shapes.client

[2022-05-31 00:23] jgsuess commented on #1424
I also cannot find any means in the whole hierarchy to obtain the full list of `responses`. This is despite
[ShapeOperation](https://github.com/aml-org/amf/blob/develop/documentation/model.md#shapeoperation) showing an array. Is the library unable to provide this information? How can I query the property `http://a.ml/vocabularies/shapes#returns`?

[2022-05-31 02:06] jgsuess opened #1425 "amf.apicontract.client.platform.model.domain.Tag.withVariables seems misnamed"
Your issue may already be reported! Please search on Github issues before creating one.

* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] question
  - [ ] other

* **What is the current behavior?**

The method for setting the documentation for a Tag is called `withVariables` and documented as *setting the host property for the server*. This does not seem to correspond

[2022-05-31 14:01] epomatti opened #1426 "Broken link"
This link is broken: https://a.ml/vocabularies/security#security

Referenced from https://github.com/aml-org/amf/blob/develop/documentation/model.md#operation

[2022-05-31 14:08] epomatti commented on #1426
Nevermind this is only a namespace.

[2022-05-31 14:08] #1426 closed, assigned to nobody

[2022-06-01 15:16] arielmirra commented on #1424
Hi @jgsuess! That's correct, the responses accessor method is missing. In a ShapeOperation, there's always only one response stored, that's why we haven't added the `responses()` method.

Thank you for reporting, I've created an internal issue to track this, with id W-11233146. I'll keep you up to date, it should be available in the AMF release version 5.0.10, next month.

[2022-06-01 15:18] arielmirra commented on #1425
Hi @jgsuess! That's correct, the naming is not on point. To be backward compatible, we'll not delete that method but add a new `withDocumentation()` one.

Thank you for reporting, I've created an internal issue to track this, with id W-11233146. I'll keep you up to date, it should be available in the AMF release version 5.0.10, next month.

[2022-06-02 22:49] jgsuess opened #1428 "Identifying Containment in AMF parse tree"
Your issue may already be reported! Please search on Github issues before creating one.

* **I'm submitting a ...**
  - [ ] bug report
  - [ ] feature request
  - [x] question
  - [ ] other

* **What is the current behavior?**
While recursively parsing the AMF datastructure I am identifying references from several location that point to shared objects like datatypes, etc. This is expected, as thes

[2022-06-02 22:59] jgsuess opened #1429 "Details on editing pipeline mode"
Your issue may already be reported! Please search on Github issues before creating one.

* **I'm submitting a ...**
  - [ ] bug report
  - [ ] feature request
  - [x] question
  - [ ] other

* **What is the current behavior?**

I am writing a recursive marshalling. While I understand that [cycling (parsing and rendering) is not recommended](https://a.ml/docs/related-docs/amf_conversion#can-i-parse

[2022-06-03 14:04] nschejtman commented on #1428
Hi @jgsuess ,
let me see if I understand correctly your question. The AMF model has relationships between nodes. You are asking if there's a way to classify these relationships into containment (aggregation or composition) and non-containment in the OOP sense. Correct?

[2022-06-03 14:19] nschejtman commented on #1429
Hi @jgsuess ,
that documentation is for conversion. Say you parse a RAML API spec and want to obtain a OAS API spec from it. Not sure conversion is what you are after for marshalling but I'll explain anyways:

The AMF model is unique. After parsing you will obtain a BaseUnit close to the original spec file. If you parse a RAML spec, then the model will be RAML-ish. If you want to render an OAS fil

[2022-06-03 14:27] nschejtman commented on #1429
What I think you will need is to render the BaseUnit to JSON-LD, which is an RDF representation format we use to represent the AMF model. You can choose to either render the parsed BaseUnit or transform it first with the `Editing` pipeline. That's up to you.

The Editing pipeline will transform you BaseUnit into a canonical AMF BaseUnit. We don't have a precise definition of all it does (it resolv

[2022-06-03 22:32] jgsuess commented on #1428
Yes, that is correct. This means that my storage will be canonical without replication. At the moment, copies will be stored, as I have to interpret every item as a copy. The denormalisation also implies that intentional reuse is elided.

[2022-06-06 04:05] jgsuess commented on #1428
I guess my question could be answered if I had a query that tells me which BaseUnit an Item belongs to and how it can be identified within that base unit using a navigation string and corresponding function. Given that the BaseUnits are containments on the top level, and hold either one or more conceptual items, these items are unique based on container BaseUnit URI and the fragment of the item de

[2022-06-06 14:38] nschejtman commented on #1428
Got it. Unfortunately we don't have such property classification explicit in our code. There's a silver lining though. Only elements that are declarable (values from the `http://a.ml/vocabularies/document#declares` property) can be referenced by 0+ elements, so no containment. The caveat here is that in our model any element is declarable. This even differs between specs, OAS 3.0 can declare "resp

[2022-06-06 14:39] nschejtman commented on #1428
Will close with that comment, feel free to re-open

[2022-06-06 14:39] #1428 closed, assigned to nobody

[2022-06-06 14:39] nschejtman commented on #1429
Will close with that comment, feel free to re-open

[2022-06-06 14:39] #1429 closed, assigned to nobody

[2022-06-13 14:27] ShauniArima opened #1440 "How to update declarations in TransformationStep?"
* **I'm submitting a ...**
  - [ ] bug report
  - [ ] feature request
  - [x] question
  - [ ] other

* **How to update declarations in TransformationStep?**

During the transformation, I want to flatten and remove schemas according to some custom rules, I wanted to implement a transformation step that should clean these declarations. In order to do that, I have checked how the AST is modified whe

[2022-06-13 14:57] nschejtman commented on #1440
Hi @ShauniArima ,
your code seems to be correct, the `withRage` method should mutate the property. There must be some bug that causes the un-expected result. You can check the `document` you are returning after calling your custom flattening code if there the flattening is correct. If it is then the bug is elsewhere (e.g. how you hook/call the transformation step in AMF).

[2022-06-13 14:57] #1440 closed, assigned to nobody

[2022-06-13 17:27] kdubb commented on #967
@tomsfernandez I've played around with this and cannot seem to get it to work. Any chance this could be added to your internal schedule sometime soon?

[2022-06-14 07:57] manisharma07 opened #1443 "unable to read host and basePath after parsing OAS2.0 file using AMF parser"
I'm submitting a question here,
we're parsing OAS2.0 spec file using AMF client
Document doc = (Document)OASConfiguration.OAS20().baseUnitClient().transform(model).baseUnit();

We're unable to find host and basePath field in the **doc** generated,
![image](https://user-images.githubusercontent.com/97285218/173524620-36681f9e-2471-47df-b14d-6cfd5dd55857.png)

for OAS3,0 we get it under servers,

[2022-06-14 12:23] nschejtman commented on #1443
Hi @manisharma07,
this is because in OAS 3.0 we propagate servers down to the operations. You can take a look at the code here: [ServersNormalizationStage](https://github.com/aml-org/amf/blob/develop/amf-api-contract/shared/src/main/scala/amf/apicontract/internal/spec/common/transformation/stage/ServersNormalizationStage.scala). You can resolve with the Editing pipeline, that will still propagate

[2022-06-14 12:23] #1443 closed, assigned to nobody

[2022-06-14 13:00] hghianni commented on #1408
Hi @ncovercash! This issue has been fixed and will be present in the next AMF release version 5.0.10, probably June 29. Thank you!

[2022-06-14 13:00] #1408 closed, assigned to arielmirra

[2022-06-15 21:28] tomsfernandez commented on #967
@kdubb Hi! Last week we did an analyzed this issue. We found out the general cause but it require a lot of effort to solve, as you have surely seen, the part of the code that solved type inheritance is quite complex and difficult to debug and read. We don't have it scheduled yet but as I said before, we have an initial analysis of what a solution would be like and the problems we will face. Sorry

[2022-06-23 05:55] mkmishra89 opened #1450 "Character encoding happing by default in operationId"
Your issue may already be reported! Please search on Github issues before creating one.

* **I'm submitting a ... question**
  - [ ] question

while trying to get operation details we are getting encoded value.

final AMFParseResult parseResult = client.parseContent(specDoc).get();
BaseUnit model = parseResult.baseUnit();
final Document document = (Document) amfClient.transform(model).baseUnit();

[2022-06-23 17:43] tomsfernandez commented on #1450
Hi @mkmishra89. Could you please provide us the AMF version and platform (JS or JVM) you are using?

The `id()` method of AMF elements is encoded as it is a URI. You can always decode it if you need to. How did you obtain the String values that you displayed in the issue description ? Those don't look like AMF ids.

[2022-06-24 04:17] mkmishra89 commented on #1450
@tomsfernandez we are using AMF 5.0.1 and platform is java (jvm). Could you please suggest how we can decode.

[2022-06-26 09:24] deiteris opened #1452 "Parser allows discriminator for inline object declaration"
Your issue may already be reported! Please search on Github issues before creating one.

* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] question
  - [ ] other

* **What is the current behavior?**

The parser successfully validates `discriminator` placed inside the inline declaration of the object type, while this is against the current specification.
https://github.c

[2022-06-26 09:30] deiteris opened #1453 "Discriminator value is not validated"
Your issue may already be reported! Please search on Github issues before creating one.

* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] question
  - [ ] other

* **What is the current behavior?**

The `discriminatorValue` property is not validated against the type of the `discriminator` field.

* **If the current behavior is a bug, please provide the minimal steps to

[2022-06-27 05:32] mkmishra89 commented on #1450
@tomsfernandez any update

[2022-06-27 10:56] tomsfernandez commented on #1450
Hi @mkmishra89. Please look at the question I posted in my previous comment.

To decode the id you can use a vainilla Java option like `java.net.URLDecoder` or something like that. AMF will always output element ids as encoded URIs because that is how the framework is intended to work.

[2022-06-27 17:50] hghianni commented on #1452
Hi @deiteris, this is a bug. I have created an internal [ticket](https://gus.lightning.force.com/lightning/r/ADM_Work__c/a07EE00001080mFYAQ/view) to fix it.
We will keep you posted via this github thread. Thanks!

[2022-06-27 20:12] hghianni commented on #1453
Hi @deiteris, this is also a bug. I have created another internal [ticket](https://gus.lightning.force.com/lightning/r/ADM_Work__c/a07EE0000108N1wYAE/view).
We will keep you posted via this github thread. Thanks!

[2022-06-28 06:08] ggolchha opened #1455 "Scheme not present for server object after converting open api 2.x.x to 3.x.x"
* **I'm submitting a question**

* **What is the current behavior?**
Currently the scheme is missing in server object.

* **If the current behavior is a bug, please provide the minimal steps to reproduce with AMF code. Please don't upload AMF code mixed with yours.**
private final AMFBaseUnitClient amfBaseUnit20Client = OASConfiguration.OAS20().baseUnitClient();
BaseUnit oasApi = amfBaseUnit20Clie

[2022-06-28 14:32] arielmirra commented on #1425
Hi @jgsuess! This issue has been solved in PR #1454! It'll be available in the next AMF release (coming after 5.0.10). Thank you!

[2022-06-28 14:32] #1425 closed, assigned to arielmirra

[2022-06-28 14:32] arielmirra commented on #1424
Hi @jgsuess! This issue has been solved in PR #1454! It'll be available in the next AMF release (coming after 5.0.10). Thank you!

[2022-06-28 14:32] #1424 closed, assigned to arielmirra

[2022-06-28 19:34] deiteris opened #1460 "How to remove an endpoint or operation"
Your issue may already be reported! Please search on Github issues before creating one.

* **I'm submitting a ...**
  - [ ] bug report
  - [ ] feature request
  - [x] question
  - [ ] other

I was reading the documentation and noticed that it only mentions creating new endpoints, operations and populate them with data, but never seen removing existing ones. Is there a method for that?

I'm trying

[2022-06-29 17:58] #1450 closed, assigned to nobody

[2022-06-29 18:24] tomsfernandez commented on #1460
Hi @deiteris!. We don't provide a way to filter out endpoints or operations natively in our interface. You must do what you showed us:
- extract desired endpoints and operations from the baseUnit
- re-add them with `withOperations` or `withEndpoints`

We do this internally also. Our interface would grow a lot if we did this for every entity and if we only did it for some it wouldn't be coherent.

[2022-06-29 18:24] #1460 closed, assigned to nobody

[2022-06-29 19:01] deiteris commented on #1460
Thanks @tomsfernandez! I'll stick to my current solution then :)

[2022-07-02 11:49] deiteris opened #1464 "Draft-2019-09 support in documentation"
Your issue may already be reported! Please search on Github issues before creating one.

* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] question
  - [ ] other

I noticed the [Json Schema Draft 2019-09 to Draft 7 Emission](https://a.ml/docs/related-docs/json_schema_draft_2019_09_to_draft_7) section in the documentation and it mentions the following:
[code]

Which curr

[2022-07-11 10:30] tomsfernandez commented on #1464
Hi @deiteris. Thanks for the suggestion! Ajv didn't support draft 2019-09 when we wrote that article but as you said, it does now. I'll create an issue in our internal ticket system to change this. The internal ticket is: https://gus.lightning.force.com/lightning/r/ADM_Work__c/a07EE000011BLLtYAO/view.

Thanks for bringing this up!

[2022-07-11 11:36] tomsfernandez commented on #1405
HI @jgsuess! Sorry for the wait. The only internal sbt module that has a dependency on `org.apache.commons.io` is the adhocCli artifact which we use internally for a very specific test suite. This shouldn't make users that depend on the `amf-cli` or other modules vulnerable to commons-io exploits.

We regularly scan the project in search of vulnerable dependencies. We will setup a "Security Policy

[2022-07-11 11:36] #1405 closed, assigned to nobody

[2022-07-14 08:51] nipun0212 opened #1490 "Want Null to be replaced with undefined for the nullable properties."
Your issue may already be reported! Please search on Github issues before creating one.

* **I'm submitting a ...**
  - [x] question
Want Null to be replaced with undefined for the nullable properties.

* **What is the current behavior?**
In the current scenario for any property for which nullable is true, we get parsed model as below

    "CostCenterName":{
                  "anyOf":[

[2022-07-15 11:09] kamilakacprzak99 opened #1492 "Problem with Trait and security Schema"
I would like to create a ruleset that will check if there is included Security Schema and traits in the raml.
This is fragment from the raml

![image](https://user-images.githubusercontent.com/82581286/179211937-b537aef9-ce32-4c76-8d08-f1bf36dfe1ce.png)

When trying to create a ruleset it works the other way around, when security schema is implemented, it throws an error. The same thing happens wi

[2022-07-18 17:22] ggolchha commented on #1455
Hi @tomsfernandez @nschejtman @looseale
This question is open from several weeks, can you please help me with this ?

[2022-07-20 21:26] gutee commented on #1490
The type here is not platform-specific and should be interpreted by the user of the library. Besides that, we can't make that change as it would be a change in the current behaviour of the library.

[2022-07-20 21:26] #1490 closed, assigned to nobody

[2022-07-22 01:12] brennana opened #1502 "Missing customDomainProperties of Shapes obtained via UnionShape.anyOf"
* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] question
  - [ ] other

* **What is the current behavior?**
It appears that the obtainable customDomainProperties of a given shape are actually those of a UnionShape, if that Shape is explicitly obtained via that UnionShape's `anyOf`, particularly when the UnionShape declares its own customDomainProperties.

So, if a Uni

[2022-07-22 14:47] pope1838 commented on #1492
Hi @kamilakacprzak99!
The rule you've wrote checks that all security schemes object must have a name set.
In term of security schemes, the rule will check if the api contains a declared (under securitySchemes top key) and reusable security scheme but not if you are importing a security scheme fragment.
If you only need to check if there is an include to the fragment from the API, regarding the fac

[2022-07-22 14:47] #1492 closed, assigned to nobody

[2022-07-29 11:16] deiteris opened #1519 "JSON definitions and RAML types names collision"
Your issue may already be reported! Please search on Github issues before creating one.

* **I'm submitting a ...**
  - [ ] bug report
  - [x] feature request
  - [ ] question
  - [ ] other

* **What is the current behavior?**

When working with RAML documents that heavily rely on JSON schemas, there's a possible namespace collision when defining a type definition in JSON schemas and RAML types in

[2022-08-08 19:25] arielmirra commented on #1502
Hi @brennana! This is definitely a bug. I've reported it in our system with the identifier `W-11567107`. I'll keep you up-to-date with any changes made. Thank you!

[2022-08-08 20:34] arielmirra commented on #1519
Hi @deiteris! Thank you for bringing this up! It's been a problem highly discussed among us, and we've analyzed if this is possible. The main problem is that it shouldn't be possible to access RAML declarations inside the JSON Schema context. But this behavior has been released and thus we can't change it now, for backward-compatibility reasons.

Furthermore, validating this can be extremely diffi

[2022-08-08 20:34] #1519 closed, assigned to nobody

[2022-08-22 08:08] dcrossleyau opened #1551 "Erroneous validation additional properties (okay v5.0.10 but fails v5.0.11)"
* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] question
  - [ ] other

* **Please tell us about your environment:**

  - AMF Version: v5.0.11
  - AMF Distribution: amf-client-js
  - Operating System: macOS Catalina with node.js 14.20.0

---

Our project has many separate modules with RAML or OpenAPI definitions. We use amf-client-js to validate. Each time that we upg

[2022-08-22 13:30] mkmishra89 opened #1552 "Getting open spec file invalid."
Hello Team,

We have one spec file where under security we have

"security": [
		{
			"basicAuthentication": []
		},
		{
			"oauth2": [
				"XXXXXXXXXXXXXXXX_1",
				"XXXXXXXXXXXXXXXX_2",
				"XXXXXXXXXXXXXXXX_3",
				"XXXXXXXXXXXXXXXX_4",
				"XXXXXXXXXXXXXXXX_5",
				"XXXXXXXXXXXXXXXX_6",
				"XXXXXXXXXXXXXXXX_7"
			]
		}
	],

and under

"components": {
		"securitySchemes": {
			"basicAuthentica

[2022-08-22 14:18] looseale commented on #1551
Hi @dcrossleyau.
I cannot reproduce the error of `additionalProperties`, but yes the other errors. I don't know how you are calling AMF to get those errors (in my test I only parse and validate), you should provide a minimal AMF code as is requested in the issue template.
Anyway, the other errors are also incorrect and I was able to reproduce them. I reported an internal issue W-11631501 with this

[2022-08-22 14:24] looseale commented on #1551
If you are forced to bump the AMF version for some reason, I saw that moving the schemas to a subfolder (not putting them in the same folder as the API, but creating a `schemas` folder for example) and changing the reference from the RAML (adding the `schemas/` in the `types` of the RAML) is a workaround for the issue.

[2022-08-22 14:32] looseale commented on #1552
Hi @mkmishra89.
We already told you in your previous issues to use the template and provide examples and code of the problem.
This issue report is incomprehensible.

[2022-08-22 14:32] #1552 closed, assigned to nobody

[2022-08-23 09:13] dcrossleyau commented on #1551
Thanks. Okay, i will return.

[2022-08-23 14:09] dcrossleyau commented on #1551
We do deliberately keep up to verify and deploy each new AMF version. This particular 5.0.11 release was important, as it dealt with JSON Schema.

We have a large OSS project with ~100 separate repositories. Most of them do have the schema files at the same directory level as the parent RAML descriptions. Some have a mixture, with some schema in subdirectories.

As said in the initial report, all

[2022-08-23 14:10] dcrossleyau commented on #1551
This is the reduced script used to parse and validate. \
Do: `node validate.js ramls/patron.raml`

[code]

[2022-08-23 14:13] dcrossleyau commented on #1551
The package [test-amf-1511.tar.gz](https://github.com/aml-org/amf/files/9403257/test-amf-1511.tar.gz) contains the reduced RAML and just the relevant schema files. The RAML is reduced to one endpoint. The "types" declaration section is retained. Those declared schema are referenced from the parent JSON Schema "account.json". Those "types" are also used for other endpoints in the original RAML desc

[2022-08-24 04:16] dcrossleyau commented on #1551
Same with the recent v5.0.12

[2022-08-31 09:04] dcrossleyau opened #1569 "unresolved-reference context Boxed Error"
* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] question
  - [ ] other

* **Please tell us about your environment:**

  - AMF Version: v5.0.12
  - AMF Distribution: amf-client-js
  - Operating System: macOS Catalina and Ubuntu with node.js 14.20.0
  - Link to your project: [folio-org/mod-inventory](https://github.com/folio-org/mod-inventory/blob/master/ramls/inventory

[2022-08-31 13:06] nschejtman commented on #1569
Hi @dcrossleyau,
this is a bug in AMF. AMF has an plugin architecture where each parser determines if it can parse a certain file. The problem is that the JSON-LD parser is conflicting here. It does a pre-parsing to determine if it can parse a file. That pre-parsing needs to parse the `@context` property, since that is a reserved keyword in JSON-LD.

The "Boxed error" you are getting seems to be t

[2022-08-31 14:27] nschejtman commented on #1569
Internal issue link: https://gus.lightning.force.com/lightning/r/ADM_Work__c/a07EE000015QUNFYA4/view

[2022-09-01 05:47] dcrossleyau commented on #1569
Ah, thanks for the explanation.

However it does seem strange that the single record `examples/instance_get.json` does trigger this, but the collection of multiple records `examples/instances_get.json` (an array of two records which each have the `@context` property) does not trigger it.

(I can provide a demonstration that is restricted to just processing the "collection" if that helps.)

[2022-09-01 05:48] dcrossleyau commented on #1569
Does the "internal issue" label mean that you expect to be able to actually fix this behaviour? Or just to provide a better report about what went wrong?

If the latter, then i suppose that we will either need to rename that property (not likely) or instead reduce the single-record example to avoid it.

[2022-09-06 17:41] nschejtman commented on #1569
The parser expects the `@context` property in the root object, that's why it fails for the single instance but not the multiple instances example.

Syntax guessing is brittle in this sense. We do a "best effort" to guess what a document is but it will never be perfect by definition, since the user is not telling us explicitly what to parse. To illustrate this: a JSON file is also an invalid XML fi

[2022-09-06 17:43] nschejtman commented on #1569
`internal-issue` means we created a ticket in our internal issue tracker. We intend to fix this, but I cannot provide an ETA. We will keep this issue updated thou

[2022-09-07 07:49] dcrossleyau commented on #1569
That is great news. Thanks for the clarification.

[2022-09-16 19:52] deiteris opened #1599 "Parser allows JSON schemas to participate in type specialization, expression and inheritance"
Your issue may already be reported! Please search on Github issues before creating one.

* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] question
  - [ ] other

* **What is the current behavior?**

When working with RAML types and JSON schemas, the parser allows JSON schema types to participate in type inheritance and specialization and in type expressions while the s

[2022-09-20 23:46] brennana opened #1607 "RAML resource payload schemas cannot override resource-type payload schemas"
* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] question
  - [ ] other

* **What is the current behavior?**
When applying a resource type over a resource, operation payload schemas that are overridden in the declaration are actually merged with the existing payload schema from the resource type (if it exists). This behavior is shown via the code below:

[code]

* **Wh

[2022-09-21 16:00] looseale commented on #1551
Hi @dcrossleyau
The issue is fixed with commit 7e48312ca1e80ed370ecbf74c083e2059ee8cdae and it will be released in the next AMF version (scheduled for October 19)

[2022-09-21 16:00] #1551 closed, assigned to nobody

[2022-09-22 05:23] dcrossleyau commented on #1551
Thanks.

[2022-09-22 07:09] manisharma07 opened #1611 "Fetch detailed error message while validating the OAS file"
Your issue may already be reported! Please search on Github issues before creating one.

* **I'm submitting a ...**
  - [ ] question

* **What is the current behavior?**
     When we use amf playground to parse  oas file with error, the error message is clear
     for example:"Security scheme 'OAuth2_ClientCredentials' not found in declarations."
     But when I try to fetch the same using this co

[2022-09-23 18:13] hghianni commented on #1599
Hi @deiteris, there is a bug when the JSON schema is not external. That's the reason why you are not seeing any validation errors. We throw a warning in this cases. You may wrap the report and map the warning to a violation if you prefer.  I created an internal [issue](https://gus.lightning.force.com/lightning/r/ADM_Work__c/a07EE0000176OHzYAM/view) to fix it. Thank you!

[2022-09-23 18:53] deiteris commented on #1599
Hi @hghianni, you mean if I include JSON schema from a file, I should get validation warnings? I extracted the JSON schema into a file, but still don't get any validation messages.

[code]

The code I use to parse and validate:

[code]

The output is as follows:

[code]

[2022-09-25 10:58] mkmishra89 commented on #1611
Hello Team, Any update on the above question

[2022-09-26 12:08] hghianni commented on #1599
If you include the JSON in a type and then you inherit from that type, it uses the same malfunctioning mechanism to detect inheritance as in your first example. Validations will appear if you include the JSON directly where you want to inherit from it:

[code]

[2022-09-26 12:53] deiteris commented on #1599
Okay, but this seems to be working only if JSON schema is a subtype of `object` and `array` types and only without type comprehension. Moreover, the same RAML will not trigger validation warning if JSON schema is declared as RAML type:
[code]

[2022-09-28 05:26] mkmishra89 commented on #1611
Hi,

Could you please check this and do needful.

[2022-10-03 04:06] mkmishra89 commented on #1611
HI team ,

Could you please look this issue.

[2022-10-08 18:21] rubiesonthesky opened #1625 "npm package README is out of date"
* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] question
  - [ ] other

* **What is the current behavior?**

https://www.npmjs.com/package/amf-client-js README is using old syntax which does not work anymore? It's also little bit confusing because it sounds like that you need to have Scala installed for the npm package or maybe you do? :)

Ideally that README should t

[2022-10-11 01:39] guham opened #1626 "Type array is missing in the generated RAML specification"
* **I'm submitting a ...**
  - [ ] bug report
  - [ ] feature request
  - [x] question
  - [ ] other

* **What is the current behavior?**

Defining a new endpoint with an array schema, without specifying the shape of the items outputs `type: array`. If the shape of the items is specified, the facet `type` is missing.

I understand there is a type inference when a RAML file is parsed ([Determine De

[2022-10-13 18:50] hghianni commented on #1626
Hi @guham, this is a bug. I created an internal [issue](https://gus.lightning.force.com/lightning/r/ADM_Work__c/a07EE000018jdmTYAQ/view) to fix it. Thank you!

[2022-10-13 18:54] hghianni commented on #1611
Hi @manisharma07, please provide an example API to reproduce the issue. Thank you!

[2022-10-19 10:28] mkmishra89 commented on #1611
[RM_SalesOrganization.json.txt](https://github.com/aml-org/amf/files/9819563/RM_SalesOrganization.json.txt)
@hghianni  Please find the attached spec file.

[2022-10-19 10:31] mkmishra89 commented on #1611
This is what we are getting from playground .

![image](https://user-images.githubusercontent.com/97277843/196666917-5f81d105-6e85-41b3-ad20-5132ec279216.png)

Same we are expecting similar response from the code.

https://amf-model-playground.herokuapp.com/

[2022-10-19 12:36] hghianni commented on #1625
Hi @rubiesonthesky, I updated the README to the latest version. Any suggestions are welcome. Thank you!

[2022-10-19 12:36] #1625 closed, assigned to nobody

[2022-10-19 13:04] hghianni commented on #1611
Hi @mkmishra89, in the playground we only parse the API so the error `Security scheme 'OAuth2' not found in declarations` is a parsing error. In your code you are printing errors from the AMFValidationReport. You should find the same message from the playground in the AMFParseResult. Thank you!

[2022-10-19 13:06] #1611 closed, assigned to nobody

[2022-10-26 10:36] f-schnabel commented on #1626
Hi, I would like to work on this issue. Is this already picked up internally? I read the [contributing guidelines](https://github.com/aml-org/amf/blob/develop/CONTRIBUTING.md), but the link at the bottom to accept the [Contributors Agreement](https://api-notebook.anypoint.mulesoft.com/notebooks#380297ed0e474010ff43) didn't work. Do I still need to accept something or am I allowed to work on this i

[2022-10-26 10:40] f-schnabel commented on #1626
I found a comment from a bot in another [PR](https://github.com/aml-org/amf/pull/1285) and it linked to a [cla agreement](https://cla.salesforce.com/sign-cla?prUrl=https%3A%2F%2Fgithub.com%2Faml-org%2Famf%2Fpull%2F1285), which I accepted now.

[2022-10-28 13:25] hghianni commented on #1626
Hi @Shadow-Devil, we haven't started this issue yet. If you want to work on it you should fork the repo, solve the issue and then we will cherry-pick your commits.

[2022-10-29 22:57] f-schnabel commented on #1626
I'm a bit lost by the complexity of the project, but I maybe found something:
https://github.com/aml-org/amf/blob/de1a6dbcf92db18674983aea151c5902c1eb6705/amf-shapes/shared/src/main/scala/amf/shapes/internal/spec/raml/emitter/RamlArrayShapeEmitter.scala#L24-L28
I think this is the place, where if the `items` node is emitted, then there is no need to display the `type: array` anymore, which is adde

[2022-11-05 19:51] f-schnabel commented on #1626
I've created two commits, one for arrays and one for objects. As said before, this issue was only about arrays, but in my opinion we should have the same behaviour for arrays and objects.
[Array fix](https://github.com/Shadow-Devil/amf/commit/893b0d9fdf5923a6c6bba0add2dc40b0339743ac)
[Object fix](https://github.com/Shadow-Devil/amf/commit/2ba11d7da99fa00cd82b6c39275da226baa210d4)

[2022-11-07 20:54] f-schnabel commented on #1626
@hghianni Should I create a PR with the changes? You said, that you would cherry-pick the commits, so I thought I shouldn't create one.

[2022-11-11 20:17] hghianni commented on #1607
Hi @brennana! After analyzing this issue we conclude that the merge algorithm is not working exactly as the spec indicates and we agree with you that Type1 should be overridden by Type 2 instead of merging. Unfortunately at the moment we cannot change this because of backwards compatibility. Thank you !

[2022-11-11 20:17] #1607 closed, assigned to nobody

[2022-11-17 13:01] nschejtman commented on #1626
@Shadow-Devil awesome job on that PR. Just reviewed the RAML Spec and it says two contradictory things:

From [Determine Default Types](https://github.com/raml-org/raml-spec/blob/3ba244ade44c2757f2038767d88e3647543d535a/versions/raml-10/raml-10.md#determine-default-types)

From [Array Type](https://github.com/raml-org/raml-spec/blob/3ba244ade44c2757f2038767d88e3647543d535a/versions/raml-10/raml-10

[2022-11-17 16:18] f-schnabel commented on #1626
Thank you @nschejtman! I will take a look at the RenderOptions 🙂

[2022-11-18 18:59] profj-higgo opened #1664 "A RAML file referencing a security scheme in a library is converted into an invalid OAS3 file"
* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] question
  - [ ] other

* **What is the current behavior?**

A RAML file which references a security scheme in a library is converted by AMF into an invalid OAS3 file.

* **If the current behavior is a bug, please provide the minimal steps to reproduce with AMF code. Please don't upload AMF code mixed with yours.**

I ha

[2022-11-20 19:30] f-schnabel commented on #1626
@nschejtman
What do you think should the default be?
My proposal would be to call it
`typeInference: Boolean = false`
with a setter:
[code]

But maybe you there is a better name and the default should be to don't render the `type` facade.
You can also see the proposal here: https://github.com/aml-org/amf-core/commit/3c6ef51236cc700a0a5c8708f08828183800ee8b

[2022-11-22 20:46] looseale commented on #1664
Hi @profj-higgo.
You should use the pipeline 'compatibility' as parameter when transforming in the first code block:

`final BaseUnit transformedOas3Model = oas30Client.transform( parseResult.baseUnit(), PipelineId.Compatibility).baseUnit(); `

Check out this doc and the examples at the end: https://a.ml/docs/related-docs/amf_conversion

Also, take into account that the conversion between specs is

[2022-11-22 20:46] #1664 closed, assigned to nobody

[2022-11-23 20:48] nschejtman commented on #1626
@Shadow-Devil awesome job! Would call it `implicitRamlTypes`, _inference_ in the context of semantic graphs means something else. Also would set the default to `true` to maintain backwards compatiibility.

[2022-11-24 09:30] f-schnabel commented on #1626
@nschejtman
I've updated the name, the default setting and created a PR. I would be happy if you could review it. 😄

[2022-11-24 15:23] nschejtman commented on #1626
@Shadow-Devil Approved 👏. Will cherry pick it so it runs on our CI pipeline

[2022-11-24 15:32] nschejtman commented on #1626
@Shadow-Devil cherry-picked PR https://github.com/aml-org/amf-core/pull/563

[2022-11-28 18:09] #1626 closed, assigned to nobody

[2022-11-28 18:10] nschejtman commented on #1626
@Shadow-Devil your changed have been merged. Congratulations 👏