[2017-10-05 12:06] sichvoge opened #22 "missing semantic sugar for URI parameters"
Assume the following RAML:

[code]

Executing `./amf.js validate -cp file://acme-profile.raml -in RAML example/api.raml`, AMF validator returns `java.lang.Exception: Expected map but found: "string"`.

Modifying `customer_id: string` to use the extended form with `type` validates correctly.

[2017-10-05 13:14] sichvoge opened #24 "empty value for any resource in RAML should be valid"
Assume the following RAML:

[code]

Despite the title is missing, the following command `./amf.js validate -p RAML -in RAML api.raml` fails with `java.lang.Exception: Expected map but found: ""`.

There is no value for `/{customer_id}` which should be still valid in RAML.

[2017-10-05 17:22] sichvoge opened #25 "Strange "enum" validation"
RAML:

[code]

Command line:

[code]

Report:

[code]

I am not sure why it is failing validation. Seems completely valid for me.

[2017-10-13 02:17] jarrodek opened #36 "Loading file error in JS client"
My setup:

Node JS server side code.
Package dependency:
[code]

Application code:
[code]

For url defined as a local path i've got the following error:

[code]

For url with `https` scheme:

[code]

For `http` scheme:

[code]

The example RAML is the one I was using all the time working on the API console and RAML parser parses it without errors. Is there anything I can do to make it work?

[2017-11-16 07:22] petrochenko-pavel-a opened #87 "Ranges of propertyTerms are not validated properly"
As you may see from the image, ranges of the property terms are not validated:

![Issue](http://g.recordit.co/xNSX4vhUGu.gif)

Regards,
Pavel

[2017-12-13 04:59] vromero opened #112 "JDK9: define a stable automatic module name with `Automatic-Module-Name` entry in MANIFEST"
[body of the issue copied from](https://github.com/ReactiveX/RxJava/issues/5618)

JDK9 is out and introduces a module system.

AMF does not currently use modules. When we use it in a JDK9 modular application, Java turns the JAR into a so-called automatic module, whose name is derived from the JAR archive name. However, the default name does not follow the recommended module naming conventions (rev

[2017-12-13 14:18] antoniogarrote opened #113 "Mule integration: Xerces conflicts"
The library cannot be executed in Mule because of conflicts with Xerces introduced as a transitive dependency through SHACL.
We need to make sure that the library can be executed correctly in Mule

[2017-12-20 00:31] vromero opened #126 "commons-io used but not declared as dependency"
https://github.com/mulesoft/amf/blob/1e0f7d9ad9889b7830edc850cc5282ee8ddba167/amf-validation/jvm/src/main/scala/amf/plugins/features/validation/SHACLValidator.scala#L7

Won't work in client applications unless `commons-io` is manually included.

[2018-01-16 16:26] petrochenko-pavel-a opened #141 "Being able to define an url of the thing"
We need a mechanism to define url for the thing.

One option is a link header, but it does not always work.

[2018-01-16 23:06] vromero opened #142 "Parsing input streams"
I can see:

`parseString*` and `parseFile*` which cover many use cases but it would be interesting to also have `parseInputStream` so files downloaded from internet could be passed without writting to the disk or consuming memory.

[2018-01-22 15:31] petrochenko-pavel-a opened #149 "Remove unused dialect/vocabulary files"
Remove unused dialect/vocabulary files

[2018-01-25 22:18] antoniogarrote opened #151 "Range of dialect definitions and !include / !extend"
This issue reviews the semantics of `range` for object properties after the introduction of the !extend keyword.

The facet `range` can be used to set the range of a property to be literal (not reviewed in this issue) or a target node mapping reference.

The target node can be define:

- with class and properties

[code]

- Only properties

[code]

- Only class term:

[code]

- the special `AnyNod

[2018-02-24 00:38] vromero opened #166 "Non literal types are not honored"
Defining a vocabulary term with:

[code]

In a dialect:

[code]

Ends up creating a triple like this:

[code]

Note the lack of `^^xsd:dateTime` after the literal.

[2018-03-05 20:04] jarrodek opened #170 "JS client: TypeError: Cannot read property 'length' of undefined"
I am having following error in node version:

[code]
I have installed nevest version of the library from npm. Any walkarounds?

[2018-03-05 23:17] jarrodek opened #171 "Node client: Cannot find target for parametrized resource type"
I am trying to use resolve function to produce canonical form from the API spec. I am experiencing the following error:
[code]
The API I am trying to use in my example API that I am using to work with demo applications:
https://github.com/advanced-rest-client/raml-example-api

Let me know if you need more details.

[2018-03-14 06:05] jarrodek opened #177 "Query parameters model very depends on location [json/ld]"
In HTTP method model query parameters are defined under `http://raml.org/vocabularies/http#parameter` property as an array of a type of `http://raml.org/vocabularies/http#Parameter`.

Trait's query parameters are, however, defined differently. They comes as a `http://raml.org/vocabularies/data#queryParameters` property where parameters are keys of an object and the object is of type of `http://ram

[2018-03-15 20:41] petrochenko-pavel-a opened #180 "Exception while parsing RAML files from java"
Hi guys, I am parsing RAML files using Java api and observing following exception:

[code]

According to my understanding it seems that Java wrappers for fragments are missed

Thanks in advance,
Pavel

[2018-07-06 17:36] ForsakenHarmony opened #331 "Getting a weird : in the file path with the JS client"
I'm trying to get the amf javascript client to work (I'm on windows) but it always inserts a `:` into the path

`file://api.raml` becomes `:\api.raml`

version: 1.6.0

code
[code]

error
[code]

[2018-07-13 12:39] looseale commented on #331
Hi. This should be working now.
You can try it with the snapshot version 1.7.0-SNAPSHOT.2 (we will publish a new release next Monday or Tuesday).
There is a little change with the paths in Windows: if the path is absolute, you need to specify the drive in the path (e.g.: file://C:/testing/api.raml). If the path is relative, it's fine how you're using it.

[2018-07-13 14:40] jstoiko commented on #331
@beta tag on npmjs?

[2018-07-13 14:53] looseale commented on #331
Yes, @snapshot or @beta, both works.

[2018-07-13 18:29] #331 closed

[2018-07-14 04:29] vromero opened #333 "Upload to repository the sources"
JMV users expect the source to be published along side the artifact so tooling can download to help debugging:

![image](https://user-images.githubusercontent.com/1119553/42720820-d4f6d7c6-86e3-11e8-947e-94001cc50180.png)

[2018-07-14 04:30] vromero opened #334 "Upload CLI jar to repository"
The CLI jar, meant to be a quick and handy tool has its whole point defeated by the fact that the only way to obtain it is to download the sources and compiling.

[2018-10-05 18:42] jstoiko opened #394 "Rename .raml files in vocabularies/ folder"
- [ ] Change extension `.raml` to `.yaml` to avoid confusion
- [ ] Update reference in docbook documentation: https://github.com/aml-org/docbook/blob/master/documentation/doc_model.md

[2018-10-15 07:58] postatum opened #397 "Can't load examples with amf-playground"
Hi.

I cant load local multi-file examples in [amf-playground](https://github.com/aml-org/amf-playground) and the error seems to come from amf.

Here's what I do:
1. Build the amf (with es5 output mode) and use it as a dependency for https://github.com/aml-org/amf-playground;
2. Run `gulp serve` and open a `playground.html` page in a browser;
3. Click `Load API Specification` and select `Banking A

[2018-10-15 17:43] jstoiko commented on #397
This is coming from the fact that [`JsBrowserPlatform` throws an Exception](https://github.com/aml-org/amf/blob/10622e7aafc6fd1cb7ca176d66983088f0c9b9dc/amf-core/js/src/main/scala/amf/core/remote/browser/JsBrowserPlatform.scala#L27) for `operativeSystem` instead of returning [something like it is the case in `JsServerPlatform`](https://github.com/aml-org/amf/blob/10622e7aafc6fd1cb7ca176d66983088f0

[2018-11-01 11:54] Nathan-Smith opened #404 ""Summary" / "Summaries" not supported in pluralize and singularize"
[InflectorBase](https://github.com/aml-org/amf/blob/master/amf-core/shared/src/main/scala/amf/core/utils/InflectorBase.scala) contains a number of plural, singular, irregular and uncountable rules. The word "Summary" should pluralize to "Summaries" and vice versa.

My suggestion is to update [InflectorBase](https://github.com/aml-org/amf/blob/master/amf-core/shared/src/main/scala/amf/core/utils/In

[2019-01-14 08:01] postatum opened #417 "Validation silently ignores inexisting types references in params"
Hi.
See below for a RAML and code example. Note that params in RAML point to in-existing types:
[code]

When performing a validation though this is not reported. The only thing that gets output by the code below is:
[code]

Resolution ignores these type params as well and simply replaces `application/json: <<targetType>>[]` with `type: any`.

Tested with `amf-client-js@3.1.1` installed from NPM.

[2019-01-22 10:11] postatum opened #429 "Domain model constructor methods produce error in JS"
With version `3.1.1` installed from npm and Node `v10.14.1` following code [1] generates proper RAML.

But when line ` .withServers([server])` is replaced with `.withServer('http://someorg.bar/{version}')` an error is produced [2] pointing to the `.withServer`. call.

This happens with all methods that receive basic types like `string` and produce instances of AMF classes. I tested it with WebApi,

[2019-01-23 09:18] postatum opened #430 "How to construct nested RAML 1.0 endpoints?"
With version 3.1.1 installed from npm and Node v10.14.1 following code [1] generates following RAML [2].
Note that endpoints aren't nested in the generated RAML string.

What am I doing wrong here?

[1]
[code]
[2]
[code]

[2019-01-24 08:22] postatum opened #431 "Optional methods in resource types are html-encoded"
With version 3.1.1 installed from npm and Node v10.14.1 following code [1] generates following output [2].
Note that `?` symbol in `get?` us html-encoded and I have to access that method as `['get%3F']`.

[1]
[code]

[2]
[code]

[2019-01-28 07:07] postatum commented on #429
Looks like it's necessary to call `AMF.init()` before using these methods.

[2019-01-28 07:07] #429 closed

[2019-01-29 07:06] postatum opened #434 "Getting integer maximum() in Java causes error"
Tested on AMF 3.1.4.
When running following code [1] an error is printed [2] even though `integer` type seems to be a whole number and not a float [according to RAML 1.0 spec](https://github.com/raml-org/raml-spec/blob/master/versions/raml-10/raml-10.md/#integer).

If I make it `number` and values `0.0, 125.0` everything works properly and values with digits after dots are printed.

[1]
[code]

[2

[2019-02-06 20:30] kevinduffey commented on #430
Not sure if this is the issue, but from the same in [2] your /users/{id} are not indented 2 spaces.

[2019-02-06 20:33] kevinduffey commented on #334
I agree. I do not (nor can not in some cases) install the full SBT stack just to build the jar file. This should be built and pushed as a maven artifact, as well as a download. I would even say, today, besides a maven artifact for Java developers to use in their own code, pushing a Docker image that can be used in CLI mode may be useful, as this is something we would use during a build step most l

[2019-02-12 10:48] postatum opened #439 "RAML 1.0 with `uses:` is not resolved/generated properly"
Tested with `amf-client-js@3.1.6`. Validation says that both unresolved and resolved models are valid without a single warning.

`script.js`:
[code]

`api-uses-lib.raml`:
[code]
`lib.raml`:
[code]

Output:
[code]

[2019-02-12 10:55] postatum commented on #439
Nevermind. I guess it just removes types in API Doc. This works correctly with `RAML 1.0 Library`.

[2019-02-12 10:55] #439 closed

[2019-02-13 07:51] postatum commented on #431
This issues also affects usage of `BaseUnit.findById`:
[code]

[2019-02-18 08:28] postatum opened #440 "Part of NodeShape id is lost after toJsonSchema call"
Using `amf-client-js@3.1.7`
[code]

Outputs
[code]

Note the `After` id and how it lost `http://a.ml/amf/default_document` part. Same happens when parsing files.

[2019-02-21 10:53] postatum opened #441 "OAS 2.0 recursive references aren't resolved"
Using `amf-client-js@3.1.7`.

[code]

Produces

[code]

Note this part:
[code]

[2019-03-20 08:22] postatum opened #454 "Pattern properties are validated incorrectly"
Using `amf-client-js@3.1.8` with JS I've parsed some files and performed their validation.

Consider these files and validation results:
[File 1](https://github.com/raml-org/raml-tck/blob/392211992e92c4d16dd2f117ecaafebb26b1f680/tests/raml-1.0/Types/reuse-datatypes-02/valid.raml)
[code]

[File 2](https://github.com/raml-org/raml-tck/blob/392211992e92c4d16dd2f117ecaafebb26b1f680/tests/raml-1.0/Type

[2019-03-20 08:42] postatum opened #455 "Validation of "protocols" is case-sensitive"
`amf-client-js@3.1.8`

Consider this RAML
[code]

When I parse and validate it, validation results say that:
[code]

Even though RAML 1.0 spec says `The protocols node MUST be a non-empty array of strings, of values HTTP and/or HTTPS, and is case-insensitive.`: https://github.com/raml-org/raml-spec/blob/master/versions/raml-10/raml-10.md#protocols

[2019-03-20 08:50] postatum opened #456 "Error "scala.MatchError: null" when trying to validate particular files"
`amf-client-js@3.1.8`

When trying to validate these files after parsing I get an error saying `scala.MatchError: null`.

Files:
* [One](https://github.com/raml-org/raml-tck/blob/392211992e92c4d16dd2f117ecaafebb26b1f680/tests/raml-1.0/Annotations/root-09/valid-inheritance.raml)
* [Two](https://github.com/raml-org/raml-tck/blob/392211992e92c4d16dd2f117ecaafebb26b1f680/tests/raml-1.0/Annotations/oth

[2019-03-21 05:56] postatum opened #458 ""TypeError: Cannot read property 'hj' of null" when parsing a file"
`amf-client-js@3.1.8`

I get this error when trying to run following code to parse RAML that's below.

JS code:
[code]

RAML (`api.raml`):
[code]

[2019-03-21 06:00] postatum opened #459 ""Properties allowedTargets not supported" in annotationType declaration"
`amf-client-js@3.1.8`

When running following JS code with RAML file, I get validation error saying:
[code]
I think it should work because [RAML spec here](https://github.com/raml-org/raml-spec/blob/master/versions/raml-10/raml-10.md#declaring-annotation-types) says:
`An annotation type declaration has the same syntax as a data type declaration, and its facets have the same syntax as the correspon

[2019-03-21 06:31] postatum opened #460 "Using type facets in union type"
`amf-client-js@3.1.8`

When running following JS code to parse RAML below, I get a validation error saying:
`Properties maximum,minimum not supported in a RAML 1.0 unionShape node`

In RAML 1.0 spec I didn't find whether it's allowed or not to use properties like `maximum` in a declaration of type which is union of types that support that property. In this case both integer and number support `max

[2019-03-25 18:24] deepaksuseelan opened #462 "Swagger $ref not properly resolved"
Using AMF client 2.12 version 3.1.8 the below swagger definition

definitions:
  subhousehold:
    type: object
      properties:
       profile:
         $ref: '#/definitions/Profile'

produces in RAML 1.0 as

subhousehold:
  type: object
  properties:
    profile: "#/definitions/Profile"

The part #/definitions/Profile isnt resolved correctly.

[2019-03-31 15:41] deduper opened #463 "CLI Usage Documentation Improvement Request"
I'd never heard of this project until a couple days ago. The AMF parser sounds like a super improvement over other existing API parsers out there.

After skimming [_the documentation_](https://a.ml/) and spending a little time in [_the playground_](https://a.ml/amf-playground/vocabularies.html), I eventually landed here in the repo.

The [_installation and usage section_](https://github.com/aml-or

[2019-04-04 08:39] postatum opened #464 "Ignored RAML issue: Empty protocols array or a single string"
### Issue
Running code below should fail or report validation error because according to RAML 1.0 spec it parses and validates an invalid RAML string.

The spec says:

Spec link: https://github.com/raml-org/raml-spec/blob/master/versions/raml-10/raml-10.md#protocols

### amf-client-js version
3.1.9

### javascript code

Node: This is also true for protocols value of: `protocols: HTTP`.

[code]

[2019-04-04 08:45] postatum opened #465 "Ignored RAML issue: Invalid mediaType values"
### Issue
Running code below should fail or report validation error because according to RAML 1.0 spec it parses and validates an invalid RAML string.

The spec says:

Spec link:
https://github.com/raml-org/raml-spec/blob/master/versions/raml-10/raml-10.md#default-media-types

### amf-client-js version
3.1.9

### javascript code

Same issue is true for a different array format: `mediaType: [ sdfsd

[2019-04-04 08:52] postatum opened #466 "Ignored RAML issue: Missing required documentation properties"
### Issue
Running code below with each of the RAML inputs provided should fail or report validation error because according to RAML 1.0 spec provided RAML inputs are invalid.

The spec says:

Spec link:
https://github.com/raml-org/raml-spec/blob/master/versions/raml-10/raml-10.md#user-documentation

### amf-client-js version
3.1.9

### RAML Inputs

[code]

[code]

[code]

### JavaScript Code

[cod

[2019-04-04 08:59] postatum opened #467 "Ignored RAML issue: Using inexisting property in XML example"
### Issue
Running code below with each of the RAML inputs provided should fail or report validation error because according to RAML 1.0 spec provided RAML inputs are invalid.

Note the inexisting `country_name1` property in RAML `application/xml` example.
This issue is also true for XML examples in types definition.

### amf-client-js version
3.1.9

### RAML Inputs

[code]

schema.xsd:
[code]

###

[2019-04-04 09:16] postatum opened #468 "Ignored RAML issue: Invalid number format value"
### Issue
Running code below with each of the RAML inputs provided should fail or report validation error because according to RAML 1.0 spec provided RAML inputs are invalid.

The spec says:

Spec link:
https://github.com/raml-org/raml-spec/blob/master/versions/raml-10/raml-10.md#number

### amf-client-js version
3.1.9

### RAML Inputs
[code]

### JavaScript Code
[code]

[2019-04-04 09:18] postatum opened #469 "Ignored RAML issue: Invalid file.max(min)Length value"
### Issue
Running code below with each of the RAML inputs provided should fail or report validation error because according to RAML 1.0 spec provided RAML inputs are invalid.

The spec says:

Spec link:
https://github.com/raml-org/raml-spec/blob/master/versions/raml-10/raml-10.md#file

### amf-client-js version
3.1.9

### RAML Inputs
[code]

### JavaScript Code
[code]

[2019-04-04 09:21] postatum opened #470 "Ignored RAML issue: Invalid datetime format value"
### Issue
Running code below with each of the RAML inputs provided should fail or report validation error because according to RAML 1.0 spec provided RAML inputs are invalid.

The spec says:

Spec link:
https://github.com/raml-org/raml-spec/blob/master/versions/raml-10/raml-10.md#date

### amf-client-js version
3.1.9

### RAML Inputs
[code]

### JavaScript Code
[code]

[2019-04-04 09:27] postatum opened #471 "Ignored RAML issue: Making subtype property optional"
### Issue
Running code below with each of the RAML inputs provided should fail or report validation error because according to RAML 1.0 spec provided RAML inputs are invalid.

The spec says:

Spec link:
https://github.com/raml-org/raml-spec/blob/master/versions/raml-10/raml-10.md#object-type-specialization

### amf-client-js version
3.1.9

### RAML Inputs
[code]

### JavaScript Code
[code]

[2019-04-05 07:16] postatum opened #473 "Ignored RAML issue: Blank example"
### Issue
Running code below with each of the RAML inputs provided should fail or report validation error because according to RAML 1.0 spec provided RAML inputs are invalid.

The spec says:

Spec link:
https://github.com/raml-org/raml-spec/blob/master/versions/raml-10/raml-10.md/#single-example

**Note:** I'm not 100% sure this is a violation of the spec but it feels like an empty example should

[2019-04-17 04:30] postatum opened #475 "Ignored RAML issue: Using descriminator inline"
### Issue
Running code below should fail or report validation error because according to RAML 1.0 spec provided RAML input is invalid.

The spec says:

Spec link:
https://github.com/raml-org/raml-spec/blob/master/versions/raml-10/raml-10.md/#using-discriminator

### AMF Version
4.0.0-SNAPSHOT

### Code
[code]

### api.raml
[code]

[2019-04-18 06:04] postatum opened #478 "Using inexisting property as "discriminator" value"
### Issue
Running code below should fail or report validation error because according to RAML 1.0 spec provided RAML input is invalid.

The spec says:

Spec link:
https://github.com/raml-org/raml-spec/blob/master/versions/raml-10/raml-10.md/#object-type

### AMF Version
4.0.0-SNAPSHOT

### Code
[code]

### api.raml
[code]

[2019-04-18 06:07] postatum opened #479 "User-defined facet name on a type matches built-in facets"
### Issue
Running code below should fail or report validation error because according to RAML 1.0 spec provided RAML input is invalid.

The spec says:

Spec link:
https://github.com/raml-org/raml-spec/blob/master/versions/raml-10/raml-10.md/#user-defined-facets

### AMF Version
4.0.0-SNAPSHOT

### Code
[code]

### api.raml (facet of ancestor)
[code]

### Another api.raml (facet of type)
[code]

[2019-04-18 06:11] postatum opened #480 "Missing required user-defined facet"
### Issue
Running code below should fail or report validation error because according to RAML 1.0 spec provided RAML input is invalid.

The spec says:

Spec link:
https://github.com/raml-org/raml-spec/blob/master/versions/raml-10/raml-10.md/#user-defined-facets

### AMF Version
4.0.0-SNAPSHOT

### Code
[code]

### api.raml
[code]

[2019-04-18 06:13] postatum opened #481 "Facet name begins with open parenthesis"
### Issue
Running code below should fail or report validation error because according to RAML 1.0 spec provided RAML input is invalid.

The spec says:

Spec link:
https://github.com/raml-org/raml-spec/blob/master/versions/raml-10/raml-10.md/#user-defined-facets

### AMF Version
4.0.0-SNAPSHOT

### Code
[code]

### api.raml
[code]

[2019-04-18 06:18] postatum opened #482 "Invalid facet value type ignored"
### Issue
Running code below should fail or report validation error because according to RAML 1.0 spec provided RAML input is invalid.

### AMF Version
4.0.0-SNAPSHOT

### Code
[code]

### api.raml
[code]

[2019-04-18 06:37] postatum opened #483 "JSON-defined type used in type inheritance"
### Issue
Running code below should fail or report validation error because according to RAML 1.0 spec provided RAML input is invalid.

The spec says:

Spec link:
https://github.com/raml-org/raml-spec/blob/master/versions/raml-10/raml-10.md/#using-xml-and-json-schema

### AMF Version
4.0.0-SNAPSHOT

### Code
[code]

### api.raml
[code]

[2019-04-18 06:48] postatum opened #484 "JSON-defined type used in header, query/uri-param"
### Issue
Running code below should fail or report validation error because according to RAML 1.0 spec provided RAML input is invalid.

The spec says:

Spec link:
https://github.com/raml-org/raml-spec/blob/master/versions/raml-10/raml-10.md/#using-xml-and-json-schema

### AMF Version
4.0.0-SNAPSHOT

### Code
[code]

### api.raml
header
[code]
query param
[code]
uri param
[code]

[2019-04-18 07:11] postatum opened #485 "String value of properties declaration"
### Issue
Running code below should fail or report validation error because according to RAML 1.0 spec provided RAML input is invalid.

The spec says:

Spec link:
https://github.com/raml-org/raml-spec/blob/master/versions/raml-10/raml-10.md/#property-declarations

### AMF Version
4.0.0-SNAPSHOT

### Code
[code]

### api.raml
[code]

[2019-04-18 07:14] postatum opened #486 "Using invalid method-level protocols"
### Issue
Running code below should fail or report validation error because according to RAML 1.0 spec provided RAML input is invalid.

The spec says:

Spec link:
https://github.com/raml-org/raml-spec/blob/master/versions/raml-10/raml-10.md/#methods

### AMF Version
4.0.0-SNAPSHOT

### Code
[code]

### api.raml
[code]

[code]

[2019-04-18 08:05] postatum opened #487 "Using invalid media type in method body"
### Issue
Running code below should fail or report validation error because according to RAML 1.0 spec provided RAML input is invalid.

The spec says:

Spec link:
https://github.com/raml-org/raml-spec/blob/master/versions/raml-10/raml-10.md/#bodies

### AMF Version
4.0.0-SNAPSHOT

### Code
[code]

### api.raml
[code]

Same is true for response bodies

[code]

[2019-04-18 08:31] postatum opened #488 "Applying resourceType without providing required parameters"
### Issue
Running code below should fail or report validation error because according to RAML 1.0 spec provided RAML input is invalid.

The spec says:

Spec link:
https://github.com/raml-org/raml-spec/blob/master/versions/raml-10/raml-10.md/#resource-type-and-trait-parameters

### AMF Version
4.0.0-SNAPSHOT

### Code
[code]

### api.raml
[code]

[2019-04-18 08:32] postatum commented on #488
Sorry, this seems to be fixed in 4.0.0-SNAPSHOT

[2019-04-18 08:32] #488 closed

[2019-04-18 08:58] postatum opened #489 "Applying transformation functions without a pipe (|)"
### Issue
Running code below should fail or report validation error because according to RAML 1.0 spec provided RAML input is invalid.

The spec says:

Spec link:
https://github.com/raml-org/raml-spec/blob/master/versions/raml-10/raml-10.md/#resource-type-and-trait-parameters

### AMF Version
4.0.0-SNAPSHOT

### Code
[code]

### api.raml
[code]

[2019-04-18 09:16] postatum opened #490 "Not supported node in security scheme describedBy"
### Issue
Running code below should fail or report validation error because according to RAML 1.0 spec provided RAML input is invalid.

The spec says:

Spec link:
https://github.com/raml-org/raml-spec/blob/master/versions/raml-10/raml-10.md/#describedby

### AMF Version
4.0.0-SNAPSHOT

### Code
[code]

### api.raml
[code]

[2019-04-18 09:23] postatum opened #491 "Using not supported OAuth 1.0 signature"
### Issue
Running code below should fail or report validation error because according to RAML 1.0 spec provided RAML input is invalid.

The spec says:

Spec link:
https://github.com/raml-org/raml-spec/blob/master/versions/raml-10/raml-10.md/#oauth-10

### AMF Version
4.0.0-SNAPSHOT

### Code
[code]

### api.raml
[code]

[2019-04-18 09:25] postatum opened #492 "Annotations allowedTargets is ignored"
### Issue
Running code below should fail or report validation error because according to RAML 1.0 spec provided RAML input is invalid.

The spec says:

Spec link:
https://github.com/raml-org/raml-spec/blob/master/versions/raml-10/raml-10.md/#declaring-annotation-types

### AMF Version
4.0.0-SNAPSHOT

### Code
[code]

### api.raml
Is true for all the values of allowedTargets.
[code]

[2019-04-19 07:14] postatum opened #493 "Using value of incorrect type in annotation"
### Issue
Running code below should fail or report validation error because according to RAML 1.0 spec provided RAML input is invalid.

The spec says:

Spec link:
https://github.com/raml-org/raml-spec/blob/master/versions/raml-10/raml-10.md/#applying-annotations

### AMF Version
4.0.0-SNAPSHOT

### Code
[code]

### api.raml
[code]

[2019-04-19 07:20] postatum opened #494 "Annotation value minimum/maximum constraint is not validated"
### Issue
Running code below should fail or report validation error because according to RAML 1.0 spec provided RAML input is invalid.

The spec says:

Spec link:
https://github.com/raml-org/raml-spec/blob/master/versions/raml-10/raml-10.md/#declaring-annotation-types

### AMF Version
4.0.0-SNAPSHOT

### Code
[code]

### api.raml
maximum
[code]

minimum
[code]

[2019-04-19 07:28] postatum opened #495 "Annotation value properties arent validated against its definition"
### Issue
Running code below should fail or report validation error because according to RAML 1.0 spec provided RAML input is invalid.

The spec says:

Spec link:
https://github.com/raml-org/raml-spec/blob/master/versions/raml-10/raml-10.md/#applying-annotations

### AMF Version
4.0.0-SNAPSHOT

### Code
[code]

### api.raml
[code]

[2019-04-19 07:44] postatum opened #496 "Using invalid properties in security scheme declaration"
### Issue
Running code below should fail or report validation error because according to RAML 1.0 spec provided RAML input is invalid.

The spec says:

Spec link:
https://github.com/raml-org/raml-spec/blob/master/versions/raml-10/raml-10.md/#security-scheme-declaration

### AMF Version
4.0.0-SNAPSHOT

### Code
[code]

### api.raml
This issue is also true when invalid properties are defined in `#%R

[2019-04-19 07:52] postatum opened #497 "Invalid properties in ResourceType fragment"
### Issue
Running code below should fail or report validation error because according to RAML 1.0 spec provided RAML input is invalid.

The spec says:

Spec link:
https://github.com/raml-org/raml-spec/blob/master/versions/raml-10/raml-10.md/#resource-types-and-traits

### AMF Version
4.0.0-SNAPSHOT

### Code
[code]

### api.raml
[code]

[2019-04-19 08:58] postatum opened #498 "Overlaying behavioral properties is allowed"
### Issue
Running code below should fail or report validation error because according to RAML 1.0 spec provided RAML input is invalid.

The spec says:

Spec link:
https://github.com/raml-org/raml-spec/blob/master/versions/raml-10/raml-10.md/#overlays

### AMF Version
4.0.0-SNAPSHOT

### Code
[code]

### base.raml
[code]

### api.raml (overlay)
[code]

[2019-04-19 09:18] postatum opened #499 "Defining nested resource in resourceType"
### Issue
Running code below should fail or report validation error because according to RAML 1.0 spec provided RAML input is invalid.

The spec says:

Spec link:
https://github.com/raml-org/raml-spec/blob/master/versions/raml-10/raml-10.md/#resource-types-and-traits

### AMF Version
4.0.0-SNAPSHOT

### Code
[code]

### api.raml
[code]

[2019-04-19 09:33] postatum opened #500 "URI parameters should not allow '/' in default, enum & example"
This issue is true for AMF 4.0.0-SNAPSHOT https://github.com/raml-org/raml-java-parser/issues/240

[2019-04-22 06:18] postatum opened #501 "Invalid security scheme describedBy format"
### Issue
Running code below should fail or report validation error because according to RAML 1.0 spec provided RAML input is invalid.

The spec says:

Spec link:
https://github.com/raml-org/raml-spec/blob/master/versions/raml-10/raml-10.md/#describedby

### AMF Version
4.0.0-SNAPSHOT

### Code
[code]

### api.raml
[code]

[2019-04-22 06:39] postatum opened #502 "Included JSON schema is not validated"
### Issue
Running code below should fail or report validation error because according to RAML 1.0 spec provided RAML input is invalid.

**In particular the issue is that included JSON schema is not validated. In this example JSON Schema definitions reference non-existing definitions.**

The spec says:

Spec link:
https://github.com/raml-org/raml-spec/blob/master/versions/raml-10/raml-10.md/#using-

[2019-04-22 06:57] postatum opened #503 "Overriding built-in facets is allowed"
### Issue
Running code below should fail or report validation error because according to RAML 1.0 spec provided RAML input is invalid.

The spec says:

Spec link:
https://github.com/raml-org/raml-spec/blob/master/versions/raml-10/raml-10.md/#user-defined-facets

### AMF Version
4.0.0-SNAPSHOT

### Code
[code]

### api.raml
[code]

[2019-04-22 07:05] postatum opened #504 "Using scalar as "responses" map value"
### Issue
Running code below should fail or report validation error because according to RAML 1.0 spec provided RAML input is invalid.

The spec says:

Spec link:
https://github.com/raml-org/raml-spec/blob/master/versions/raml-10/raml-10.md/#responses

### AMF Version
4.0.0-SNAPSHOT

### Code
[code]

### api.raml
[code]

[2019-04-22 07:07] postatum opened #505 "Facet name matches ancestor type facet name"
### Issue
Running code below should fail or report validation error because according to RAML 1.0 spec provided RAML input is invalid.

The spec says:

Spec link:
https://github.com/raml-org/raml-spec/blob/master/versions/raml-10/raml-10.md/#user-defined-facets

### AMF Version
4.0.0-SNAPSHOT

### Code
[code]

### api.raml
[code]

[2019-04-22 07:45] postatum opened #506 "Descriminator kind value is not validated"
### Issue
Running code below should fail or report validation error because according to RAML 1.0 spec provided RAML input is invalid.

**Spec says nothing about validating discriminator property values so I'm not certain whether it's a bug or not.**

### AMF Version
4.0.0-SNAPSHOT

### Code
[code]

### api.raml
[code]
### example-library.raml
[code]

[2019-04-22 07:47] postatum opened #507 "Invalid trait structure"
### Issue
Running code below should fail or report validation error because according to RAML 1.0 spec provided RAML input is invalid.

The spec says:

Spec link:
https://github.com/raml-org/raml-spec/blob/master/versions/raml-10/raml-10.md/#declaring-resource-types-and-traits

### AMF Version
4.0.0-SNAPSHOT

### Code
[code]

### api.raml
[code]

[2019-04-22 08:08] postatum opened #508 "Defining discriminator inline"
### Issue
Running code below should fail or report validation error because according to RAML 1.0 spec provided RAML input is invalid.

The spec says:

Spec link:
https://github.com/raml-org/raml-spec/blob/master/versions/raml-10/raml-10.md/#using-discriminator

### AMF Version
4.0.0-SNAPSHOT

### Code
[code]

### api.raml
[code]

[2019-04-22 08:24] postatum opened #509 "YAML anchors/aliases not validated"
Inspired by https://github.com/raml-org/raml-js-parser-2/issues/715

### Issue
Running code below should fail or report validation error because according to RAML 1.0 spec provided RAML input is invalid.

The spec says:

https://github.com/raml-org/raml-spec/blob/master/versions/raml-10/raml-10.md/#markup-language

https://yaml.org/spec/1.2/spec.html#id2786196

### AMF Version
4.0.0-SNAPSHOT

###

[2019-04-22 08:32] postatum opened #510 "Extending type creates cyclic dependency"
### Issue
Running code below should fail or report validation error because according to RAML 1.0 spec provided RAML input is invalid.

The spec says:

Spec link:
https://github.com/raml-org/raml-spec/blob/master/versions/raml-10/raml-10.md/#introduction-1

**Not sure if this is considered "extending" though.**

### AMF Version
4.0.0-SNAPSHOT

### Code
[code]

### api.raml
[code]
and
[code]

[2019-04-22 08:44] postatum opened #511 "Incorrect validation error message"
Spec says

So the validation is performed correctly, but an error message is strange:

### AMF Version
4.0.0-SNAPSHOT

### Code
[code]
[code]

[2019-04-22 09:22] postatum opened #512 "Overlay defines securitySchemes"
### Issue
Running code below should fail or report validation error because according to RAML 1.0 spec provided RAML input is invalid.

The spec says:

Spec link:
https://github.com/raml-org/raml-spec/blob/master/versions/raml-10/raml-10.md/#overlays

### AMF Version
4.0.0-SNAPSHOT

### Code
[code]

### api.raml
[code]

### base.raml
[code]

[2019-04-22 09:26] postatum opened #513 "Overlay adds trait nodes"
### Issue
Running code below should fail or report validation error because according to RAML 1.0 spec provided RAML input is invalid.

The spec says:

Spec link:
https://github.com/raml-org/raml-spec/blob/master/versions/raml-10/raml-10.md/#overlays

### AMF Version
4.0.0-SNAPSHOT

### Code
[code]

### api.raml
[code]

### base.raml
[code]

[2019-04-22 09:28] postatum opened #514 "Overlay defines resourceTypes"
### Issue
Running code below should fail or report validation error because according to RAML 1.0 spec provided RAML input is invalid.

The spec says:

Spec link:
https://github.com/raml-org/raml-spec/blob/master/versions/raml-10/raml-10.md/#overlays

### AMF Version
4.0.0-SNAPSHOT

### Code
[code]

### api.raml
[code]

### base.raml
[code]

[2019-04-22 09:30] postatum opened #515 "Overlay defines trait"
### Issue
Running code below should fail or report validation error because according to RAML 1.0 spec provided RAML input is invalid.

The spec says:

Spec link:
https://github.com/raml-org/raml-spec/blob/master/versions/raml-10/raml-10.md/#overlays

### AMF Version
4.0.0-SNAPSHOT

### Code
[code]

### api.raml
[code]

### base.raml
[code]

[2019-04-26 10:47] postatum opened #517 "Chain of raml->oas->raml conversions produces incorrect result"
Using `amf-client-js@3.1.10` with this code
[code]
Outputs
[code]

**Note how `type: User` became ` type: - "#/definitions/User"`.**

[2019-05-17 16:28] jarrodek opened #522 "Referencing library name inside a library is required to correctly process API"
The issue is originally reported in API Console project: https://github.com/mulesoft/api-console/issues/611

Consider the following example:

api.raml:

[code]

lib.raml

[code]

In this example the `errors` property is not rendered by the console. But when `fooendpoint` resource type use is changed to `lib.ServerError` then it works.

The problem is at this point when you are building library, pr

[2019-05-21 06:35] postatum opened #416 "Array type determined"
### Issue
Running code below should fail or report validation error because there are no rules in RAML 1.0 to determine array type.

Spec link:
https://github.com/raml-org/raml-spec/blob/master/versions/raml-10/raml-10.md/#determine-default-types

### amf-client-js version
3.2.0

### javascript code

Same code as here https://github.com/aml-org/amf/issues/469

### RAML
Note how this RAML spec is m

[2019-05-21 06:35] postatum opened #524 "Array type determined"
### Issue
Running code below should fail or report validation error because there are no rules in RAML 1.0 to determine array type.

Spec link:
https://github.com/raml-org/raml-spec/blob/master/versions/raml-10/raml-10.md/#determine-default-types

### amf-client-js version
3.2.0

### javascript code

Same code as here https://github.com/aml-org/amf/issues/469

### RAML
Note how this RAML spec is m

[2019-06-04 19:19] #22 closed

[2019-06-04 19:20] BlockLucas commented on #22
Already resolved

[2019-06-04 19:21] gutee commented on #24
Already resolved, now validates title is missing

[2019-06-04 19:21] #24 closed

[2019-06-04 19:21] gutee commented on #25
Already resolved

[2019-06-04 19:21] #25 closed

[2019-06-04 19:23] gutee commented on #112
This is already done

[2019-06-04 19:23] #112 closed

[2019-06-04 19:24] gutee commented on #113
This dependency has been removed

[2019-06-04 19:24] #113 closed

[2019-06-04 19:29] gutee commented on #126
It is a dependency of org.topbraid:shacl, I don't see why it would not be included automatically

[2019-06-04 19:29] #126 closed

[2019-06-04 19:32] gutee commented on #170
Done in jira issue

[2019-06-04 19:32] #170 closed

[2019-06-04 19:33] gutee commented on #171
Done in jira issue

[2019-06-04 19:33] #171 closed

[2019-06-04 19:33] gutee commented on #177
Done in jira issue

[2019-06-04 19:33] #177 closed

[2019-06-04 19:34] gutee commented on #180
This is already resolved

[2019-06-04 19:34] #180 closed

[2019-06-04 19:35] gutee commented on #333
Duplicated from #115

[2019-06-04 19:35] #333 closed

[2019-06-04 19:40] gutee commented on #417
This is already fixed

[2019-06-04 19:40] #417 closed

[2019-06-04 19:51] BlockLucas commented on #454
https://www.mulesoft.org/jira/browse/APIMF-1508

[2019-06-04 19:54] gutee commented on #454
Jira file to track progress, all 3 files have the same problem here

[2019-06-04 19:55] BlockLucas commented on #455
https://www.mulesoft.org/jira/browse/APIMF-1509

[2019-06-04 19:56] gutee commented on #455
Jira issue to track progress. @postatum Is this an issue coming from new raml tck?

[2019-06-04 20:47] BlockLucas commented on #456
https://www.mulesoft.org/jira/browse/APIMF-1510

[2019-06-04 20:49] gutee commented on #458
Duplicate from #456, annotation type referencing type is making amf throw this exceptions.

[2019-06-04 20:49] #458 closed

[2019-06-04 20:57] BlockLucas commented on #459
https://www.mulesoft.org/jira/browse/APIMF-1511

[2019-06-04 20:57] gutee commented on #459
allowedTargets property is not being supported in when using inheritance in the defined type. Jira issue added to track progress

[2019-06-04 20:57] #459 closed

[2019-06-04 21:06] gutee commented on #462
@deepaksuseelan The API does not work as '#/definitions/Profile' is not defined in the scope of the definitions. Besides the validation error, we can only ignore the ref and take the string into the model.

[2019-06-04 21:06] #462 closed

[2019-06-04 21:16] BlockLucas commented on #464
https://www.mulesoft.org/jira/browse/APIMF-1512

[2019-06-05 15:04] gutee commented on #465
@postatum 'fwfefwf/xml' conforms with RFC6838 because it has the structure of a valid media type, the only thing is that it is not registered as one of the standards, but it is valid.

[2019-06-05 15:04] #465 closed

[2019-06-05 15:10] gutee commented on #467
@postatum AMF does not provide an xml validator, it must be provided through validation plugins. Check our implementors (like API Designer) that provide an xml validator and validate this.

[2019-06-05 15:10] #467 closed

[2019-06-05 15:13] gutee commented on #468
This has already been discussed, a warning has been added and the invalid format is ignored (https://www.mulesoft.org/jira/browse/APIMF-1059).

[2019-06-05 15:13] #468 closed

[2019-06-05 15:16] BlockLucas commented on #469
https://www.mulesoft.org/jira/browse/APIMF-1517

[2019-06-05 15:19] BlockLucas commented on #470
https://www.mulesoft.org/jira/browse/APIMF-1518

[2019-06-05 15:25] gutee commented on #471
@postatum A warning is being placed in the property when it is optional.

[2019-06-05 15:33] BlockLucas commented on #479
https://www.mulesoft.org/jira/browse/APIMF-1519

[2019-06-05 15:35] BlockLucas commented on #480
https://www.mulesoft.org/jira/browse/APIMF-1519

[2019-06-05 17:17] BlockLucas commented on #482
https://www.mulesoft.org/jira/browse/APIMF-1519

[2019-06-05 17:23] BlockLucas commented on #485
https://www.mulesoft.org/jira/browse/APIMF-1520

[2019-06-05 17:30] BlockLucas commented on #486
https://www.mulesoft.org/jira/browse/APIMF-1521

[2019-06-05 17:31] gutee commented on #487
Duplicated from #465

[2019-06-05 17:31] #487 closed

[2019-06-05 17:55] gutee commented on #489
@postatum what if I want to name my parameter 'param !upperunderscorecase'? What is the naming restriction. If it has no pipe, it means no transformation has been used

[2019-06-05 19:33] gutee commented on #490
Jira issue to track: https://www.mulesoft.org/jira/browse/APIMF-1522

[2019-06-05 19:41] gutee commented on #491
Jira issue to track: https://www.mulesoft.org/jira/browse/APIMF-1522

[2019-06-05 19:53] BlockLucas commented on #492
https://www.mulesoft.org/jira/browse/APIMF-1523

[2019-06-05 20:00] BlockLucas commented on #493
https://www.mulesoft.org/jira/browse/APIMF-1524

[2019-06-05 20:03] gutee commented on #494
Duplicated from #493

[2019-06-05 20:03] #494 closed

[2019-06-05 20:08] gutee commented on #495
The annotation value is valid against the annotation type, as the type has additionalProperties in true by default, so iDontExist is valid that type's properties

[2019-06-05 20:08] #495 closed

[2019-06-05 20:17] gutee commented on #496
Jira issue to track this: https://www.mulesoft.org/jira/browse/APIMF-1522

[2019-06-05 20:21] gutee commented on #497
This is because a resource type can't be validated on its own, it is an ast until it is applied (think of parameters)

[2019-06-05 20:21] #497 closed

[2019-06-05 20:24] gutee commented on #524
We make an inference of type when unique facets of each type is used, that is why it's not asked

[2019-06-05 20:25] gutee commented on #499
Duplicated from #497

[2019-06-05 20:25] #499 closed

[2019-06-05 20:32] gutee commented on #501
Jira issue to track https://www.mulesoft.org/jira/browse/APIMF-1522

[2019-06-05 20:33] gutee commented on #502
Duplicated by #497

[2019-06-05 20:33] #502 closed

[2019-06-05 20:35] gutee commented on #503
Duplicated by #479

[2019-06-05 20:35] #503 closed

[2019-06-05 20:36] gutee commented on #504
Duplicated from #497

[2019-06-05 20:36] #504 closed

[2019-06-05 20:37] gutee commented on #505
Jira issue to track https://www.mulesoft.org/jira/browse/APIMF-1519

[2019-06-05 20:42] gutee commented on #507
Duplicated from #497

[2019-06-05 20:42] #507 closed

[2019-06-05 20:43] gutee commented on #508
Duplicated from #475

[2019-06-05 20:43] #508 closed

[2019-06-05 20:48] gutee commented on #510
This is not cyclic, as the type can be constructed (reaching a simple object type at the end in 'SomeType')

[2019-06-05 20:48] #510 closed

[2019-06-05 20:48] BlockLucas commented on #509
https://www.mulesoft.org/jira/browse/APIMF-1526

[2019-06-05 20:50] gutee commented on #511
Duplicated from #471

[2019-06-05 20:50] #511 closed

[2019-06-05 20:54] gutee commented on #498
Duplicates:
#512 refers to securitySchemes node
#513 refers to add a trait to traits node
#514 refers to resourceTypes node
#515 refers to traits node

[2019-06-05 20:55] gutee commented on #513
Duplicated by #498

[2019-06-05 20:55] #513 closed

[2019-06-05 20:56] gutee commented on #514
Duplicated by #498

[2019-06-05 20:56] #514 closed

[2019-06-05 20:56] gutee commented on #515
Duplicated by #498

[2019-06-05 20:56] #515 closed

[2019-06-05 20:56] gutee commented on #512
Duplicated by #498

[2019-06-05 20:56] #512 closed

[2019-06-06 15:00] gutee commented on #36
This is no longer happening.

[2019-06-06 15:00] #36 closed

[2019-06-06 15:09] gutee commented on #149
No longer an issue.

[2019-06-06 15:09] #149 closed

[2019-06-06 15:11] gutee commented on #430
AMF model does not support nested endpoints. That is just a syntactic sugar from raml that we can parse

[2019-06-06 15:11] #430 closed

[2019-06-06 17:11] gutee commented on #434
This is no longer happening

[2019-06-06 17:11] #434 closed

[2019-06-06 17:26] gutee commented on #404
Jira issue to track progress: https://www.mulesoft.org/jira/browse/APIMF-1527

[2019-06-06 17:29] BlockLucas commented on #517
Jira issue: https://www.mulesoft.org/jira/browse/APIMF-1528

[2019-06-06 17:48] gutee commented on #440
Jira issue to track progress: https://www.mulesoft.org/jira/browse/APIMF-1530

[2019-06-06 18:12] BlockLucas commented on #478
https://www.mulesoft.org/jira/browse/APIMF-1533

[2019-06-06 18:25] nschejtman commented on #522
Jira issue: https://www.mulesoft.org/jira/browse/APIMF-1534

[2019-06-06 19:01] BlockLucas commented on #441
https://www.mulesoft.org/jira/browse/APIMF-1536

[2019-06-06 19:01] BlockLucas commented on #441
Here the definition should be emitted as well, similar to the result of resolving JSON Schemas

[2019-06-06 20:02] gutee commented on #141
This is old, closing.

[2019-06-06 20:02] #141 closed

[2019-06-06 20:03] gutee commented on #87
This is done.

[2019-06-06 20:03] #87 closed

[2019-06-06 20:05] gutee commented on #166
createdAt property gives you the type, you don't need that after the literal

[2019-06-06 20:05] #166 closed

[2019-06-06 20:26] gutee commented on #151
This is old.

[2019-06-06 20:26] #151 closed

[2019-06-06 21:31] gutee commented on #394
Jira issue to track progress: https://github.com/aml-org/amf/issues/394

[2019-06-07 18:34] gutee commented on #431
This is fixed in branch dialects-meta-refactor, to be merged for the next release

[2019-06-07 18:34] #431 closed

[2019-06-12 17:04] gutee commented on #404
This is done and will be included in the next version of amf (3.2.2) due june 20th.

[2019-06-12 17:04] #404 closed

[2019-06-19 13:53] pmdartus opened #533 "Incorrect fixpoint property name on Recursive Shape"
In the generated `amf-client-js.d.ts` type definition the `model.domain.RecursiveShape` references `fixPoint` while it should reference `fixpoint`.

https://github.com/aml-org/amf/blob/e24fa66e09386a4c046cc617a5cf538f04a810b5/amf-client/js/typings/amf-client-js.d.ts#L940

Also, I am not able to find the Scala class definition for `RecursiveShape` in this repository. Where is this class defined?

[2019-06-19 19:29] gutee commented on #464
Current amf version is 3.2.2. This is fixed for the next version. The part where a string is also valid will not be fixed because of backwards compatibility.

[2019-06-19 19:29] #464 closed

[2019-06-19 19:29] gutee commented on #455
Current amf version is 3.2.2. This is fixed for the next version.

[2019-06-19 19:29] #455 closed

[2019-06-19 19:30] gutee commented on #486
Current amf version is 3.2.2. This is fixed for the next version.

[2019-06-19 19:30] #486 closed

[2019-06-20 12:12] pmdartus opened #535 "Inconsistent id generation for shapes with description"
Using `amf-client-js@3.2.1-1`, I notice that the `id` of shape properties are different if the shapes have or not a description facet.

## Repro

[code]

### Actual

[code]

### Expected

[code]

[2019-06-21 15:51] gutee commented on #459
Current amf version is 3.2.2. This is fixed for the next version.

[2019-06-25 20:52] gutee commented on #524
This will be fixed in the spec with this: https://github.com/raml-org/raml-spec/issues/710

[2019-06-25 20:52] #524 closed

[2019-06-25 21:01] gutee commented on #456
Current amf version is 3.2.2. This is fixed for the next version.

[2019-06-25 21:01] #456 closed

[2019-06-26 14:58] gutee commented on #533
This will be fixed in the next amf js release (current version is 3.2.2)

[2019-06-26 14:58] #533 closed

[2019-06-26 18:51] nschejtman commented on #506
This is not a bug.

We will NOT validate the value of discriminator properties further than the validations imposed on the property itself (in the example above, that it is a string). If the value of the discriminator property does not match any type we will not show any validations.

Examples will ALWAYS be validated against the type for which that example has been defined. In the above example,

[2019-06-26 18:51] #506 closed

[2019-06-26 20:50] jstoiko commented on #506
I confirm this is not a bug as far as RAML is concerned. The RAML 1.0 spec does not constrain or impose any sort of validation on  the value of an object property referred by the ‘discriminator’ facet.

[2019-07-15 10:51] postatum opened #538 "x-amf- prefixes on some properties in JSON"
Is there a way to remove `x-amf-` prefixes from properties in generated JSON schema (using `toJsonSchema`?
AFAIR these properties also appear when converting raml to oas.

E.g. some properties are called:
* `x-amf-discriminatorValue` instead of `discriminatorValue`
* `x-amf-facet-amazing` instead of `amazing` facet
* `x-amf-examples` instead of `examples`
* `x-amf-fileTypes` instead of `fileTypes`

[2019-07-15 12:20] postatum commented on #538
Oh, I just realized prefixes are added to RAML-specific properties.

[2019-07-15 12:20] #538 closed

[2019-07-15 13:35] gutee commented on #440
This is fixed and will be available in the next release (currently 3.2.2 is out).

[2019-07-15 13:35] #440 closed

[2019-07-15 15:35] gutee commented on #490
This is fixed and stated for 3.3.0 release

[2019-07-15 15:35] #490 closed

[2019-07-15 15:35] gutee commented on #501
This is fixed and stated for 3.3.0 release

[2019-07-15 15:35] #501 closed

[2019-07-15 15:35] gutee commented on #491
This is fixed and stated for 3.3.0 release

[2019-07-15 15:35] #491 closed

[2019-07-15 15:35] gutee commented on #496
This is fixed and stated for 3.3.0 release

[2019-07-15 15:35] #496 closed

[2019-07-15 15:35] gutee commented on #485
This is fixed and stated for 3.3.0 release

[2019-07-15 15:35] #485 closed

[2019-07-15 15:38] gutee commented on #492
This is fixed and stated for 3.3.0 release

[2019-07-15 15:38] #492 closed

[2019-07-17 11:13] postatum opened #539 "Incorrect json schema produced from RAML "type: file""
With amf-client-js@3.2.2

Running code [1] produces output [2].
Note that it converts RAML `type: file` to JSON Schema ` "type": "file"` even though [there's no type `file`](https://json-schema.org/latest/json-schema-validation.html#rfc.section.6.1.1) in JSON Schema draft 04. Thus it produces not valid draft4 schema.

Files should be represented using `type:string` and [contentEncoding](https://js

[2019-07-18 18:37] #478 closed

[2019-07-18 18:37] BlockLucas commented on #478
Resolved in 3.3.0

[2019-07-19 06:12] postatum opened #540 "Type expression using type "file" produces an error when generating amf graph"
True for both amf-client-js 3.2.2 and 3.3.0.

Running code [1] produces and error [2]. Changing RAML type definition to [3] fixes the issue.
The error is caused by the line `const graph...` .

[1]
[code]
[2]
[code]
[3]
[code]

[2019-07-19 06:49] postatum opened #541 "Strange behavior when including same schema file in multiple types"
Using amf-client-js@3.3.0.

Running index.js from below produces different json types shapes in `model.declares` when parsing from a string and a file. Works fine when including different schema files.

Note how `File model` output is missing `CatInJsonSchema` type but has two `CatInJson` types. At least types IDs say that.

Hard to explain what bug I am reporting exactly, but the behaviour is str

[2019-07-19 08:44] postatum opened #542 "Changed ScalarShape StrFields don't work as advertised in JS in 3.3.0 release"
3.3.0 release says that I should rework my code like
[code]
But here's how it behaves in JS (see the end of output. see how methods `value` don't exist):

Version
[code]

`index.js`
[code]

`Output`
[code]

[2019-07-20 15:59] gutee commented on #493
This is fixed and will be available in the next amf version.

[2019-07-20 15:59] #493 closed

[2019-07-22 07:13] postatum opened #543 "Getting values of annotation fields"
Considering RAML example below, how do I get values of `Cat.ramltopojo.plugins[0].name` and other items' properties?

[code]

[2019-07-23 19:14] gutee commented on #543
Hi @postatum, to answer your question:

Once you get to the Cat type (in the declares property of the document), this NodeShape will have a 'customDomainProperties' property, which will have the annotation ramltopojo. This annotation will have an 'extension' property with the current value, which is a DataNode (ObjectNode, ArrayNode, ScalarNode).

You could use 'properties' in the first ObjectNode

[2019-07-23 19:14] #543 closed

[2019-07-24 05:02] postatum commented on #543
Thanks @gutee !

[2019-07-24 18:34] gutee commented on #535
Jira issue: https://www.mulesoft.org/jira/browse/APIMF-1597

[2019-07-24 21:04] gutee commented on #539
Oas apis support 'file' type, raml too, we can't restrict this as we don't know where it will be used. It's up to the user to translate this or not.

Also, there is nothing to translate this to, as contentEncoding facet is available since schema 07 only.

[2019-07-24 21:04] #539 closed

[2019-07-24 22:34] gutee commented on #540
Tracking this internally as https://www.mulesoft.org/jira/browse/APIMF-1599

[2019-07-24 22:37] gutee commented on #540
This is fixed for the next version of amf

[2019-07-24 22:37] #540 closed

[2019-07-25 07:43] postatum commented on #539
Hi @gutee . Thank you for your answer!

Right. OAS 2.0 and RAML have type "file". OAS 3.0 doesn't. But that's not my point.

To me it seems like a method `toJsonSchema` would be used to produce JSON Schema. It has a `JsonSchema` in its name but produces an invalid JSON Schema representation of a file.

My bad. Draft 04 had [binaryEncoding](https://json-schema.org/draft-04/json-schema-hypermedia.ht

[2019-07-25 17:28] gutee commented on #539
I understand, but as we can't assume that translation is correct, we can't do that. Maybe the name is misleading and we should change that. But right now that is how users use and understand it and we will not change it. Thanks for the clarification though!

[2019-07-26 07:23] postatum commented on #539
Got it. Thank you too.

[2019-07-26 21:27] gutee commented on #469
This is fixed and will be available in the next version of amf.

[2019-07-26 21:27] #469 closed

[2019-07-29 19:22] gutee commented on #541
Jira issue for internal tracking: https://www.mulesoft.org/jira/browse/APIMF-1603

[2019-07-29 21:23] gutee commented on #542
This is fixed for the next version of amf.

[2019-07-29 21:23] #542 closed

[2019-07-29 21:43] gutee commented on #500
Internal jira issue for tracking: https://www.mulesoft.org/jira/browse/APIMF-1605

[2019-07-31 10:17] postatum opened #546 "Property "examples" is always an empty list"
With amf-client-js@3.3.0 and apparently Java version as well.

Consider this code [1] which outputs this [2]. Note how `examples` is always an empty list.

According to issue reported in webapi-parser (https://github.com/raml-org/webapi-parser/issues/34), this happens to examples on other nodes and in Java.

[1]
[code]

[2]
[code]

[2019-08-07 18:25] gutee commented on #479
This is fixed and stated for 4.0.0 release

[2019-08-07 18:25] #479 closed

[2019-08-07 18:25] gutee commented on #480
This is fixed and stated for 4.0.0 release

[2019-08-07 18:25] #480 closed

[2019-08-07 18:26] gutee commented on #481
This is fixed and stated for 4.0.0 release

[2019-08-07 18:26] #481 closed

[2019-08-07 18:26] gutee commented on #482
This is fixed and stated for 4.0.0 release

[2019-08-07 18:26] #482 closed

[2019-08-07 18:26] gutee commented on #505
This is fixed and stated for 4.0.0 release

[2019-08-07 18:26] #505 closed

[2019-08-07 18:26] gutee commented on #509
This is fixed and stated for 4.0.0 release

[2019-08-07 18:26] #509 closed

[2019-08-09 14:47] gutee commented on #546
Examples in raml are part of the schema property in amf model, they are accessed like this:

encodes.endPoints[0].parameters[0].schema.examples

[2019-08-09 14:47] #546 closed

[2019-08-09 19:39] gutee commented on #535
This is correct, as one is a simple inheritance and the other is a complex inheritance (adds properties to the inherited type, in this case description)

[2019-08-09 19:39] #535 closed

[2019-08-12 14:45] gutee commented on #541
Jira issue has been resolved as 'Works as Designed'. This is because we are using the ids here to define the json schemas, they should not be used as fixed strings never.

[2019-08-12 14:45] #541 closed

[2019-08-23 05:28] postatum opened #550 "Using directory path as "url" argument in "parseStringAsync" issue"
Using JS and Java versions of amf-client 3.4.1.

Note how when using directory path as a [`url` argument](https://github.com/aml-org/amf-core/blob/2f34c462260bfe4d34ed33c44dd8e43a5359a776/shared/src/main/scala/amf/client/parse/Parser.scala#L63) to `parseStringAsync` in JS [1], reference is not resolved [2]. Using file-looking path makes reference to be resolved properly.

On the other hand, in Jav

[2019-08-27 10:31] postatum commented on #550
Clarifications:
1. This issue is true for both js and java versions.
2. References are resolved when path contains fake file name or a trailing slash: `file://somedir/`, `file://somedir/api.raml` and are not resolved when path contains only directory name without a trailing slash: `file://somedir`.

I'm trying to address this issue in my fork.

[2019-08-29 09:51] postatum opened #552 "How to figure out a concrete implementation of Shape?"
Hi.

Is there a way to figure out a concrete implementation of `Shape` when a method's return type is `Shape`?
E.g. `Payload.schema()` method/property returns `Shape`.

This question comes from https://github.com/raml-org/webapi-parser/issues/38#issuecomment-526109933

[2019-09-04 17:21] gutee commented on #552
You can use an `instanceof` in js. In amf bundle the classes of the specific shapes are exposed, this means that if you import, for example NodeShape, you are able to use the class like this `shape instanceof NodeShape`.

[2019-09-04 17:21] #552 closed

[2019-09-04 21:02] #550 closed

[2019-09-05 06:24] postatum commented on #552
Nice, thanks!

[2019-09-05 07:27] postatum opened #555 "Type declared a "type: nil" information is lost on resolution"
amf-client-js@3.4.1

When type is defined as `type: nil` or an explicit `nil`, it's information is lost when model is resolved and it's impossible to find it by searching through shapes by name or id.

E.g. running code [1] produces [2]. Note how `Resolved:` output lacks `Dog http://a.ml/amf/default_document#/declarations/types/nil/Dog` while `Cat http://a.ml/amf/default_document#/declarations/typ

[2019-09-09 16:06] #522 closed

[2019-09-09 16:08] AgustinBettati commented on #522
The console is rendering the errors property as expected, it is likely that there has been a fix related to references within libraries.

[2019-09-10 06:53] postatum opened #556 "NodeShape.inherits() becomes empty after validation"
amf-client-js@3.4.1 as well as Java version.

This issue was originally reported to me by @jpbelang.

`NodeShape.inherits()` property returns an empty list after validation is performed. See js code [1] and output [2].

[1]
[code]

[code]

[2019-09-10 17:40] gutee commented on #500
This is fixed and will be released in amf 3.5.0

[2019-09-10 17:40] #500 closed

[2019-09-10 17:41] gutee commented on #470
This is fixed and will be released in amf 3.5.0

[2019-09-10 17:41] #470 closed

[2019-09-10 18:14] looseale commented on #555
Related JIRA issue: https://www.mulesoft.org/jira/browse/APIMF-1646

[2019-09-10 18:16] gutee commented on #556
Hi, this is because resolution is applied to the model so it can be validated, types need to be resolved to be validated.

When resolving with editing pipeline and not with the validation pipeline, annotations are added to check which properties come from inheritance and from which types they come.

[2019-09-10 18:16] #556 closed

[2019-09-13 14:07] looseale commented on #555
Fixed. To be released in the next version (9th October).
Already available in the snapshot version (3.6.0-SNAPSHOT.1).

[2019-09-13 14:07] #555 closed

[2019-09-24 06:16] postatum opened #557 "Type properties are lost in json schema when defining type using !include"
Using amf-client-js@3.5.1

Consider the JS code [1]. When `lib.raml` is defined like [2], it's JSON Schema output from running `toJsonSchema` doesn't include `description`. Meanwhile, when the type is defined in RAML [3], it's `toJsonSchema` call output includes `description`.

[1]
[code]
[2]
[code]

[3]
[code]

schema.json
[code]

Output
[code]

[2019-09-24 14:26] gutee commented on #517
Two way conversion is not supported in amf, only compatibility conversion from one spec to another.

[2019-09-24 14:26] #517 closed

[2019-09-24 20:41] jstoiko commented on #557
@postatum: aren't you supposed to `resolve()` in order to get `!include`d definitions?

[2019-09-25 06:45] postatum commented on #557
This still happens when I resolve the model.

I've changed RAML like so to work with resolution:
[code]
And JS code like so:
[code]

And got same results.

[2019-09-30 18:24] gutee commented on #557
Hi, that is because that shape has the parsed json schema in its cache. You should re-build the schema before that, using 'unit.declares[0].buildJsonSchema()'

[2019-09-30 18:24] #557 closed

[2019-10-16 09:18] postatum opened #558 "IDs in AMF Graph differ when using resourceTypes"
Using `amf-client-js@3.5.4`.  Consider attached JS code.

Having three graphs:
1. Graph A generated from a regular RAML API (`const simple`);
2. Graph B generated from the API 1 but refactored to use `resourceTypes` (`const resourcetypes`);
3. Graph C generated from the API 1 but refactored to use `traits` (`const traits`).

All the used APIs are identical semantically, meaning when resolved they

[2019-10-18 18:39] gutee commented on #558
Hi, IDs are only IDs, they do not define structure, meaning that as long as they are unique, it doesn't matter what form they have. Imagine them as being just a UUID that identifies them, no one should use them directly.

[2019-10-23 14:56] antoniogarrote commented on #558
We need to make sure that we can create stable IDs as an additional constraint to support a better semdiff capability.

[2019-10-23 14:56] antoniogarrote commented on #558
It would be good to review this problem

[2019-10-28 07:18] postatum opened #559 "Is there a way to resolve only types?"
Using amf-client-js@3.5.4 it's possible to resolve types without losing their definitions in the API root using `editing` pipeline.
But is there a way to resolve ONLY types in API document and not put them as inline type declarations to endpoints?

E.g. code [1] outputs [2]. I'm trying to make it produce [3].

[1]
[code]

[2]
[code]

[3]
[code]

[2019-10-28 19:39] dsimpsonOMF opened #560 "Parse RAML from network directory"
I am trying to use this library from within the raml-org's wrapper in java, but it seems it can't access that directory. See error below:

`Exception in thread "main" java.util.concurrent.ExecutionException: amf.core.remote.FileNotFound: File Not Found: S:\...\credit-applications-sapi.raml (The system cannot find the path specified)
	at java.util.concurrent.CompletableFuture.reportGet(CompletableF

[2019-10-31 05:43] postatum commented on #560
@dsimpsonOMF Hi. Try prefixing file path with `file:///`.

[2019-10-31 05:49] postatum opened #561 "Universal way to check if annotation is applied?"
Lets say I have a following API [1]. Is there a _universal_ way to see if a declaration has annotation `(customName)` applied to it?
I can dig into objects by following their structure but I'm looking for something that would let me treat all the objects the same way no matter their structure.

[1]
[code]

[2019-10-31 07:04] postatum opened #562 "minimum, maximum, minLength, maxLength are 0 when not defined"
Using amf-client-js@3.5.4, consider this code [1].

I think `minimum` and `maximum` should not return `0`, but `null` or `undefined`.
Getting value `0` makes it impossible to guess whether user specified `minimum: 0` or didn't specify `minimum` at all.

Happens for both `number`, `integer` and string `min/maxLength`.

[code]

[code]

[2019-10-31 19:45] dsimpsonOMF commented on #560
I have an instance of the java.io.File.File class which I call .toURI().toString() on. This comes prefixed with "file:/" on the beginning of the path when I pass it in as an arg. I am sorry that I didn't put that in the original post. Point still stands however that it can't find that file.

[2019-11-01 13:04] gutee commented on #561
Hi, all objects in amf model inherit from DomainElement which has a CustomDomainProperties field that has the raml annotations. Is this what you need?

[2019-11-01 13:16] gutee commented on #560
Hi, this is a Windows path right? Meaning that you use AMF with any of the parse file methods passing this parameter 'file:///S:/some-path/credit-applications-sapi.raml'?

[2019-11-01 13:34] gutee commented on #559
Hi, there is currently no way of doing this, as the first thing that is resolved is the references so that we can resolve the shapes with no linking in the middle. Also, overlays, extensions, traits and resource types should be applied.
A pipeline to resolve only the declarations wouldn't work because we would have to traverse all the model and replace the links to the shapes with the new resolved

[2019-11-01 13:34] #559 closed

[2019-11-01 13:40] gutee commented on #562
Hi, this is because you are using the value() method which will give you a default value if none is found. You can use the option() method to get an Option, or the isNull/nonNull methods to check this.

[2019-11-01 13:40] #562 closed

[2019-11-04 06:37] postatum commented on #561
Yes, but in this example, when I get the `hasErrorResponse` trait, it's `CustomDomainProperties` is empty. I can only get that annotation when I go deep into its `properties` like so https://github.com/raml-org/webapi-parser/issues/48#issuecomment-548226590

[2019-11-04 06:48] postatum commented on #562
Amazing. Thank you!

[2019-11-04 10:19] postatum opened #563 "How to constuct a Uri/Path parameter?"
amf-client-js@3.5.4 and seems to be true for Java version as well.

Consider this code [1]. When I run it the [2] is generated. When I use `withParameterS` instead, it works mostly fine, but I still get `(amf-parameters)`  instead of `uriParameters` [3].

What's the proper way to construct `uriParameters`?

[1]
[code]

[2]
[code]

[3]
[code]

[2019-11-04 19:22] gutee commented on #561
Yes, that is correct. This is because in the case of the trait, the annotation `customName` is not applied to the declaration, it is applied directly to the type inside the payload. This is when the trait or resource type is applied.

But remember that when you access the trait or the resource type (raw value, the declaration, not the application of it), this is a macro, this means it is a dynamic

[2019-11-04 19:22] #561 closed

[2019-11-04 22:12] jstoiko opened #564 "Issue when translating JSON schema array items to RAML"
A JSON Schema can define an array with items that can be of multiple possible types. The way to do that in JSON Schema is to declare an array of types as the value of "items", e.g. `"items": [(...)]`.

The screenshot below is an example.

<img width="1298" alt="Screen Shot 2019-11-01 at 17 35 07" src="https://user-images.githubusercontent.com/9660342/68162361-b271be80-ff0c-11e9-82d5-476b092f71e4.p

[2019-11-05 07:11] postatum commented on #563
Can you give an example please?

[2019-11-05 10:22] HugaertsDries commented on #563
@postatum like the following:
[code]

[2019-11-05 18:16] gutee commented on #564
Hi Jonathan, according to https://tools.ietf.org/html/draft-fge-json-schema-validation-00#section-8.2.3.2 that is not the behaviour of the items as an array, it is a tuple style behaviour. With this meaning, the json schema you are exposing can't be rendered in raml types, and the unions example don't have the same meaning as the json schema.

[2019-11-05 18:16] #564 closed

[2019-11-06 07:28] postatum opened #565 "Conversion of JSON anyOf to RAML does not produce a union type"
Using `amf-client-js@3.5.4`.

Consider this code [1]. First it converts RAML union type to JSON Schema `anyOf` [2] but then fails to convert `anyOf` back to a RAML union type [3].

[1]
[code]

[2]
[code]

[3]
[code]

[2019-11-08 10:35] postatum opened #566 "How to get a list of required properties of RAML DT (NodeShape)?"
I define a RAML Data Type in a RAML document/lib and parse it. Then I access that defined datatype using amf model and get a `NodeShape`.
But how do I check which properties (`PropertyShape`) of `NodeShape` are required?

[2019-11-08 18:04] gutee commented on #566
Hi, when the propertyShape is required property minCount will be 1, else it will be 0.

[2019-11-08 18:04] #566 closed

[2019-11-10 05:32] postatum commented on #566
And is there a name to list required fields' names?

[2019-11-10 05:34] gutee commented on #566
There is not, you will have to traverse the list to check which are required

[2019-11-10 05:40] postatum commented on #566
And how do I figure out which field is required? `NodeShape` properties are `PropertyShape` which have a `range` of `Shape` subclasses. None of those seem to have fields similar to `required`.

[2019-11-10 06:19] gutee commented on #566
Node shape has properties which are PropertyShape instances. PropertyShapes have a minCount property. When the value of this property is 1, it is required, when it is 0, it is not required.

[2019-11-10 06:20] postatum commented on #566
Oh I got it. Sorry, misunderstood you the first time. Thanks!

[2019-11-12 08:18] postatum commented on #566
@gutee I don't want to open a new issue to ask another API question, so please help me with this one.
Is there a way to get [RAML 0.8 "repeat" property](https://github.com/raml-org/raml-spec/blob/master/versions/raml-08/raml-08.md#repeat) value?

E.g. I have a `NodeShape` with `PropertyShape`s in it all of which are `ScalarShape`s. And the document looks like this [1]. How do I figure out if prope

[2019-11-12 13:35] gutee commented on #566
Hi, 'repeat' property means that property will be an ArrayShape (the range of the PropertyShape)

[2019-11-14 08:19] postatum opened #567 "Resolving large files never finishes"
Consider this issue https://github.com/raml-org/webapi-parser/issues/56.

The code I used to test:
[code]

On my machine parsing takes about 15 seconds but resolution works for 10 minutes and does not finish.

[2019-11-19 07:16] postatum opened #568 "Output pretty-printed JSON Schemas from toRamlDatatype"
Hi. Please consider this question https://github.com/raml-org/webapi-parser/issues/57

Is there a way to output pretty-printed JSON Schemas when using `.toRamlDatatype()` or generating strings/files from a model?

[2019-12-02 10:43] postatum opened #569 "Run AMF.init() internally when necessary"
Suggestion: call `AMF.init()` or run things it does when its run is required to perform some task.

I suggest this because I ran into following issue.

In JS I have a local module and a library, both of which check element type with `instanceof`.
Local module works correctly because it explicitly calls `AMF.init()`, but a library doesn't work as expected because it doesn't call `AMF.init()`.

This

[2019-12-11 11:40] postatum opened #391 "Inconsistent OAS20 generated from RAML DataType"
Using amf-client-js@4.0.2.

I've ran this code [0] and got different OAS 20 structure depending on where `!include` was used in RAML.

When it's used in array `items` [1], it gets translated to OAS as `"$ref": "inventoryObject.raml"` [2].
When it's used in `type` [3], it gets translated to OAS as `"$ref": "#/definitions/type"` [4].

PS. After resolution produced OAS is correct in both cases, but b

[2019-12-11 11:40] postatum opened #571 "Inconsistent OAS20 generated from RAML DataType"
Using amf-client-js@4.0.2.

I've ran this code [0] and got different OAS 20 structure depending on where `!include` was used in RAML.

When it's used in array `items` [1], it gets translated to OAS as `"$ref": "inventoryObject.raml"` [2].
When it's used in `type` [3], it gets translated to OAS as `"$ref": "#/definitions/type"` [4].

PS. After resolution produced OAS is correct in both cases, but b

[2019-12-12 04:04] BBartosz commented on #571
Cant we parse object type same way we parse array item type?

[2019-12-13 05:44] BBartosz commented on #571
@postatum could you point me direction where I should look for parsing logic?

[2019-12-16 18:46] dsimpsonOMF opened #572 "Custom Validation Profile Not Violating"
Hello, I am trying to follow the format documented [here](https://github.com/aml-org/amf/blob/4.0.3/documentation/validation.md) to create my own validation profile, but I can't get it to ever return a violation, warning, or info. I am primarily trying to do this in NodeJS, but I also tried to do this in Java just to replicate the problem. I am using version 4.0.3 of the AML parser.

I used the ja

[2019-12-17 08:08] postatum opened #573 "OAS20 renderers lose x- properties"
Using AMF 4.0.3.
See input file (api.raml) and output. Note how parsing OAS20 and then generating OAS20 string from it loses `User.properties.group.x-nullable` property.
This happens for both manually-made OAS20 YAML Renderer and `Oas20Renderer` which outputs JSON.

**Java code**
[code]
**api.yaml**
[code]

**stdout**
[code]

[2019-12-19 10:22] postatum opened #574 "Feature request: Implement buildJsonSchema/toJsonSchema for DataNode"
This would be very handy when extracting examples data through `Example.structuredValue`.

[2019-12-20 06:45] postatum opened #575 "Feature request: Support more json-schema drafts as payloads"
Currently only drafts 1-4 are supported and newer drafts payloads are validated against draft-04.
See https://github.com/raml-org/webapi-parser/issues/66

[2019-12-31 15:13] dsimpsonOMF opened #576 "RamlParser.parseStringAsync(url: string, stream: string) is parsing the url file, not the stream"
Disclaimer: I maintain the VS Code Plugin located [here](https://marketplace.visualstudio.com/items?itemName=OneMain.raml-ls)

While working on that plugin, I noticed that the method `RamlParser.parseStringAsync(url: string, stream: string)` seems to ignore the `stream` parameter and only parse the file at the `url` param. I then thought to change the `url` param to a directory instead, but I bega

[2020-01-14 09:47] postatum opened #577 "Host js typings at @types/amf-client-js"
So it will be possible to use amf typings in `webapi-parser` or just install them separately.

[2020-01-14 09:56] postatum opened #578 "Some exported top-level JS objects are not described in .d.ts"
Some exported top-level JS objects are not described in `amf-client-js.d.ts`. In particular:
[code]

[2020-01-30 10:55] postatum opened #579 "Some behaviour seems to be lost on fullOptJS"
I've tested it on the repo clone and `master` branch as of commit 98ed701c4e9c3d5362a305aad9e6a5f6057fbeea.
I only notices this one case but I guess there could be more.

Consider this line of code. It says that the argument `statusCode` must be a string.
https://github.com/aml-org/amf/blob/f9edfdbf0d179d7b28621c5f15587a21c0649d7e/amf-webapi/shared/src/main/scala/amf/client/model/domain/Response.s

[2020-01-30 18:45] brennana opened #580 "RAML 1.0 nested union types not resolved correctly"
Using `amf-client-js@4.0.4`, the following code does not resolve the defined `OuterUnion` type correctly, which is a union of `Type3` and another union, `InnerUnion`. Instead, only `Type3` is included in the `anyOf` section of the JSON schema generated from the definition.

[code]

The output of this test follows.

[code]

[2020-02-13 06:39] postatum commented on #582
Update:

Looks like it's a usual thing in JavaScript. Having two modules using different installs of the same library, object created in from lib in module1 won't be an instance of lib in module2.

Still though, please let me know if you would consider reworking that code piece that fails to not produce `scala.MatchError`.

[2020-02-13 07:24] postatum commented on #569
This issue is invalid as described here https://github.com/aml-org/amf/issues/582#issuecomment-585575940

Looks like when I reported this, my `my-awesome-lib` lib used a different installation of `amf-client-js`.

[2020-02-13 07:24] #569 closed

[2020-03-06 08:57] postatum opened #583 "Method toRamlDatatype produces invalid date type format"
Using `amf-client-js@4.0.5`.

Consider the code [1]. Note that method `toRamlDatatype` of the parsed OAS document produces RAML which is then reported as invalid by AMF. [2]

[1]
[code]

[2]
[code]

Originally reported in https://github.com/raml-org/webapi-parser/issues/72.

[2020-03-12 10:08] postatum opened #584 "OAS "allOf" is not converted to RAML using Multiple Inheritance"
Using amf-client-js@4.0.5.

Consider this code [1]. It seems to me that OAS 2-3 `allOf` can be represented in RAML 1.0 using [Multiple Inheritance](https://github.com/raml-org/raml-spec/blob/master/versions/raml-10/raml-10.md/#multiple-inheritance) but when it's converted to RAML, the declaration uses `(amf-and)` [2].
I expect it to be similar to [3]. This is also true when parsing/working with OA

[2020-03-12 10:35] postatum opened #383 "OAS 3 renderer outputs swagger 2.0 for RAML 1.0 Library"
Using amf-client-js@4.0.5

Consider the code [1] and the output [2].
When converting regular RAML API (`#%RAML 1.0` header, not a Library), output OAS version is correct - `"openapi": "3.0.0"`.

[1]
[code]
[2]
[code]

[2020-03-12 10:35] postatum opened #585 "OAS 3 renderer outputs swagger 2.0 for RAML 1.0 Library"
Using amf-client-js@4.0.5

Consider the code [1] and the output [2].
When converting regular RAML API (`#%RAML 1.0` header, not a Library), output OAS version is correct - `"openapi": "3.0.0"`.

[1]
[code]
[2]
[code]

[2020-03-13 12:01] postatum opened #586 "RAML inheritance converted to OAS uses x-amf-merge instead of allOf"
Using amf-client-js@4.0.5.

May be related to https://github.com/aml-org/amf/issues/571.

Consider this issue https://github.com/raml-org/webapi-parser/issues/74. When using AMF it can be reproduced using the code below. The output is almost identical to the one reported in the mentioned issue, but described inheritance issue is easy to notice.

**The code**
[code]

[2020-03-24 07:18] skingreek opened #587 "AmfGraphRenderer in CompactUris mode generate full name of some properties"
I use `amf-core_2.12-4.1.20.jar`.
When i have source raml [1], and run code as [2], i found properties with name `file://../api-specs/raml/discrTest.raml#/declarations/annotations/linkType`, but expected `#/declarations/annotations/linkType` because I configure CompactUris mode.

This behavior is cause of problem of other tools (`api-console` as example, because api-console not render annotations,

[2020-04-10 14:35] yungcheng opened #588 "Provide un-obfuscated JavaScript artifact for development/debugging use"
The NPM package `amf-client-js` packs a fully optimized artifact by running `fullOptJS` as the ScalaJS build option, resulting in most function names (including shape constructors) being mangled.

Can we provide the un-obfuscated artifact in additional to the fully optimized artifact in the NPM package? It would greatly boost development productivity. (I recently encountered a parsing issue that I

[2020-05-11 23:41] wes566 opened #589 "Custom validation profile throws violation when defining named example in RAML overlay"
1. use an overlay.raml to add a named example to a Type
2. use a custom validation profile that extends the RAML validation profile, something as simple as:
[code]

3. use amf-client-js to validate with that custom validation profile

Expected:
No violations

Actual:
`example-validation-error` violation is present

Switching to use the "RAML" validation profile produces no violations.

I have crea

[2020-05-19 13:52] looseale commented on #589
Hi.
We created an internal issue to track this: https://www.mulesoft.org/jira/browse/APIMF-2117

[2020-05-28 18:08] wes-goulet opened #361 "Validation has violation when defining named example on optional query parameter in RAML overlay"
1. create an endpoint with an optional query parameter

[code]

2. use an overlay.raml to add a named example to an optional query parameter

[code]

2. use amf-client-js to validate with RAML validation profile

[code]

Expected:
No violations (`results is empty`)

Actual:
Violation occurs with ID: `http://a.ml/vocabularies/amf/core#resolution-validation` and message: `Property 'http://a.ml/vocab

[2020-05-28 18:08] wes566 opened #590 "Validation has violation when defining named example on optional query parameter in RAML overlay"
1. create an endpoint with an optional query parameter

[code]

2. use an overlay.raml to add a named example to an optional query parameter

[code]

2. use amf-client-js to validate with RAML validation profile

[code]

Expected:
No violations (`results is empty`)

Actual:
Violation occurs with ID: `http://a.ml/vocabularies/amf/core#resolution-validation` and message: `Property 'http://a.ml/vocab

[2020-06-05 14:03] tomsfernandez opened #591 "Github Integration Test"

[2020-06-05 14:03] #591 closed

[2020-06-05 18:11] tomsfernandez commented on #394
Hi @postatum. I have tested this API in AMFs most recent version (4.1.2 JS) and it has improved dramatically since the time you tested it. The times were:
- Parsing: 7 seconds
- Resolution: 155 seconds (2 minutes 30 seconds)

The test was conducted with Node 13.1.0.

[2020-06-05 18:12] tomsfernandez commented on #394
I'm closing this issue as the time it takes to resolve the API has improved a lot given it's complexity (it is a very big and complex API with lots of resource types to be applied)

[2020-06-05 18:12] #567 closed

[2020-06-05 18:16] tomsfernandez commented on #473
Hi @postatum. I have tested this issue with amf version 4.1.2 JS distribution and it is working correctly. We have made many fixes since version 3.1.7.

The produced api using your code snippet is now:
[code]

[2020-06-05 18:17] #441 closed

[2020-06-05 18:17] tomsfernandez commented on #473
I'm closing this issue as the problem has been resolved

[2020-06-05 18:43] tomsfernandez commented on #458
Hi @postatum. I'm closing this issue as it is a "violation" level validation since at least AMF version 4.0.0 (as you stated in issue aml-org/amf#423 ).
I tested it in amf version 4.1.2 just in case and it is working as expected.

P.D: I couldn't replicate it in 3.1.9 JS.

[2020-06-05 18:43] #471 closed

[2020-06-05 19:08] #473 closed

[2020-06-05 19:19] tomsfernandez commented on #465
Hi @deduper. It would be great if you could submit a PR improving the docs! If you do please link this issue and we will continue discussing it in the PR.

[2020-06-05 19:24] tomsfernandez commented on #456
Hi @postatum . I have replicated the issue in amf version 4.1.2 JS distribution. I have created an internal ticket to track this. We will provide further updates in this Github issue thread.

The internal ticket is: https://www.mulesoft.org/jira/browse/APIMF-2176

[2020-06-05 19:39] #576 closed

[2020-06-05 20:32] #588 closed

[2020-06-05 20:55] #575 closed

[2020-06-08 17:16] tomsfernandez commented on #391
Hi @postatum. This difference you are seeing is the expected.
[1] and [2]. The produced json schema also has an array and items field similar to the RAML datatype.
[3] and [4]: I suspect this is the one that brings confusion. As there is no inheritance in JsonSchema then the type can't be expressed as the RAML inheritance in [3]. That is why it is an object with an annotation making explicit that

[2020-06-08 19:06] tomsfernandez commented on #361
Hi @wes566. After looking the RAML spec I noticed that it says:

**Certain nodes of a RAML API definition specify the behavior of an API: its resources, methods, parameters, bodies, responses, and so on. These nodes cannot be changed by applying an overlay.** In contrast, other nodes, such as descriptions or annotations, address concerns beyond the functional interface, such as the human-oriented

[2020-06-09 06:35] postatum commented on #391
Hi @tomsfernandez. Thank you for the response.

My point is - I expected both includes to produce a similar ref. Either `"$ref": "inventoryObject.raml"` or `"$ref": "#/definitions/type"`. I can't recall why exactly I needed it though.

[2020-06-09 14:55] tomsfernandez commented on #456
Hi @postatum. After speaking with the rest of the AMF team we have decided this is part of the current AMF behaviour. We have no short term plans to change it. I'm closing this issue and the closing the related internal ticket too.

[2020-06-09 14:55] #475 closed

[2020-06-09 15:04] tomsfernandez commented on #467
Hi @postatum. The RAML spec states that:

This is why UnionShapes having properties doesn't make a lot of sense as they will never be taken into account in validation.

AMF throws violation when declaring facets for UnionTypes

[2020-06-09 15:04] #460 closed

[2020-06-09 15:04] tomsfernandez commented on #467
I'm closing this issue

[2020-06-09 15:18] #483 closed

[2020-06-09 15:23] tomsfernandez commented on #361
As this example is invalid I'm closing this issue

[2020-06-09 15:42] #586 closed

[2020-06-09 15:45] #584 closed

[2020-06-09 15:57] #489 closed

[2020-06-09 15:58] #571 closed

[2020-06-09 16:13] tomsfernandez commented on #383
Hi @postatum. I could reproduce this problem and have created an internal ticket for the team to evaluate.
The internal ticket is: https://www.mulesoft.org/jira/browse/APIMF-2184

[2020-06-09 16:45] #574 closed

[2020-06-09 16:55] #568 closed

[2020-06-09 17:06] #484 closed

[2020-06-09 19:53] #572 closed

[2020-06-10 23:09] unandyala opened #362 "AMF graph has inconsistent nodes for the same RAML content"
Your issue may already be reported! Please search on Github issues before creating one.

* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] question
  - [ ] other

* **What is the current behavior?**
I have same RAML file in two directories. AMF graph generated for both the RAMLs is not same. Occasionally the graphs seem to match.  Look at the property "core:name" in the

[2020-06-10 23:09] unandyala opened #595 "AMF graph has inconsistent nodes for the same RAML content"
Your issue may already be reported! Please search on Github issues before creating one.

* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] question
  - [ ] other

* **What is the current behavior?**
I have same RAML file in two directories. AMF graph generated for both the RAMLs is not same. Occasionally the graphs seem to match.  Look at the property "core:name" in the

[2020-06-10 23:25] tomsfernandez commented on #362
Hi @unandyala. Could you please provide the smallest API possible that causes this issue. This is to replicate the issue in our local environments.

[2020-06-11 08:51] postatum opened #379 "Undocumented resolution behaviour change for OAS 2.0 and 3.0 in version 4.1.2"
* **I'm submitting a ...**
  - [ ] bug report
  - [ ] question

* **What is the current behavior?**
OAS 2.0 and 3.0 resolution leaves definitions/components.

* **What is the expected behavior?**
OAS 2.0 and 3.0 resolution should move definitions from definitions/components to endpoints.

* **Please tell us about your environment:**

  - AMF Version: 4.1.2
  - AMF Distribution: JS

* **Other infor

[2020-06-11 08:51] postatum opened #596 "Undocumented resolution behaviour change for OAS 2.0 and 3.0 in version 4.1.2"
* **I'm submitting a ...**
  - [ ] bug report
  - [ ] question

* **What is the current behavior?**
OAS 2.0 and 3.0 resolution leaves definitions/components.

* **What is the expected behavior?**
OAS 2.0 and 3.0 resolution should move definitions from definitions/components to endpoints.

* **Please tell us about your environment:**

  - AMF Version: 4.1.2
  - AMF Distribution: JS

* **Other infor

[2020-06-11 13:43] unandyala commented on #362
[coupons.zip](https://github.com/aml-org/amf/files/4765092/coupons.zip)
Please find the attached API that I am seeing the issue with. I tried to make it smaller but then I couldn't reproduce it.
With attached API I am seeing the issue most of the times

[2020-06-11 14:11] #142 closed

[2020-06-11 14:11] tomsfernandez commented on #497
Hi @vromero. Unfortunately we have no long-term/short-term plans of doing a _feature_ like this. I'm closing this issue.

[2020-06-11 14:12] #463 closed

[2020-06-11 14:12] tomsfernandez commented on #465
I'm closing this issue. Please create a PR if you want to collaborate to the project's documentation.

[2020-06-11 14:39] #560 closed

[2020-06-11 15:10] #573 closed

[2020-06-11 15:21] tomsfernandez commented on #362
Hi @unandyala. I'm creating an internal ticket to analyze this.

The internal ticket is: https://www.mulesoft.org/jira/browse/APIMF-2195

[2020-06-11 15:35] tomsfernandez commented on #379
Hi @postatum. We migrated to this "compact" emission because it is much more performant in cases with very big and complex apis. From 4.1.2 common refs are extracted to the declarations section.
I have updated the release notes of version 4.1.2 to reflect this change. Thanks for the heads up!

[2020-06-11 15:35] #596 closed

[2020-06-12 06:33] postatum commented on #379
Hi @tomsfernandez. Thanks for being so responsive!

I see.
What does resolution do to OAS now? Is there a way to see it change OAS2-3 document substantially?
I need this to describe OAS resolution in `webapi-parser` docs and tests.

[2020-06-12 13:04] tomsfernandez commented on #379
It is not a change in resolution. It only impacts the way OAS is emitted to an API

[2020-06-15 07:32] postatum commented on #379
Hi @tomsfernandez.

I don't mean to judge this optimization, I'm just trying to understand what "resolution" means now when applying it to OAS document.

I guess I'm missing something because to me it seems like it does affect resolution. I seems so because:

* Using AMF 4.1.1, if I simply parse an OAS doc with `definitions` and generate string from it the `definitions` property is present in the

[2020-06-16 14:05] tomsfernandez commented on #379
AMF api processing has 2 parts:
- **Parsing**: an API in RAML/OAS is scanned, analyzed and dumped into the AMF model (WebApi, Endpoint, Operation, Request, etc.). The resultant AMF model has undetected cycles, links (explicit references between requests and types for example) and unmerged traits and resource types in the case of RAML.
- **Resolution**: Here is where the AMF model is rearranged to

[2020-06-17 06:39] postatum commented on #379
Understood. Is there a way to opt out of the new optimized OAS emission? (Output spec the "old way")

[2020-06-17 07:50] postatum opened #378 "RAML 1.0 "protocols" gets converted to "schemes" in OAS 3.0"
* **I'm submitting a ...**
  - [ ] bug report

* **What is the current behavior?**
RAML 1.0 node `protocols` gets converted to node `schemes` in OAS 3.0.

* **If the current behavior is a bug, please provide the minimal steps to reproduce with AMF code. Please don't upload AMF code mixed with yours.**
[code]

Output:
[code]

* **What is the expected behavior?**
I guess RAML 1.0 `protocols` should

[2020-06-17 07:50] postatum opened #597 "RAML 1.0 "protocols" gets converted to "schemes" in OAS 3.0"
* **I'm submitting a ...**
  - [ ] bug report

* **What is the current behavior?**
RAML 1.0 node `protocols` gets converted to node `schemes` in OAS 3.0.

* **If the current behavior is a bug, please provide the minimal steps to reproduce with AMF code. Please don't upload AMF code mixed with yours.**
[code]

Output:
[code]

* **What is the expected behavior?**
I guess RAML 1.0 `protocols` should

[2020-06-17 12:46] tomsfernandez commented on #378
Hi @postatum! An internal ticket has been created so that the team can analyze it. All updates will be provided in this Github issue thread.

The internal ticket is: https://www.mulesoft.org/jira/browse/APIMF-2205

[2020-06-17 12:59] tomsfernandez commented on #379
Not at the moment. We don't have plans in the short term to expose the old OAS emission as the new one is much more efficient and solves several `$ref` problems we were having.

[2020-06-23 14:59] tomsfernandez commented on #378
Hi @postatum. The team talked about this issue and we decided that the best way not to lose information in the emitted spec is to emit RAML "schemes" as an OAS 3 annotation. Taking into account that the definitions of **_protocols_** in RAML 1.0 and **_url_** in OAS 3.0 servers are very different, what would be your expected behaviour?

[2020-06-23 20:42] tomsfernandez commented on #383
Hi @postatum. This issue has been fixed and will be available in the next AMF version. The commit is: d7b7c5a7. I'm closing this issue. Thanks for contributing.

[2020-06-23 20:42] #585 closed

[2020-06-24 05:58] postatum commented on #378
Hi @tomsfernandez.

I can only guess what's the correct way to do this. I guess a conversion similar to this should happen:

RAML 1.0:
[code]

OAS 3.0:
[code]

[2020-06-24 13:02] tomsfernandez commented on #378
This conversion "fails" if there is no **baseUri**. This causes urls that only have the protocol which wouldn't make a lot of sense as they are empty urls in practice

[2020-06-26 14:58] tomsfernandez commented on #378
Hi @postatum. After further analysis of the issue I realized that in the example you uploaded you are never using the Oas30Resolver with COMPATIBILITY_PIPELINE:

[code]

This produces the following valid output:
[code]

We don't include the "schemes" node as it is incompatible with Oas30. This was decided a time ago, I apologize for not remembering it earlier. Reminder: the current spec conversion

[2020-06-29 07:04] postatum commented on #378
Hi @tomsfernandez!

Oh, thanks a lot for letting me know. This is the first time I hear about this :)

Does "compatibility" pipeline work fine when parsing and emitting a spec of the same format? E.g. RAML 1.0 to RAML 1.0.

[2020-06-29 16:14] tomsfernandez commented on #378
It isn't a considered use case.

[2020-06-30 12:14] postatum commented on #379
Hi @tomsfernandez :)

I got one more question. I was told that it's possible to use `SourceMap`s to somewhat resolve this issues. I was told it's possible to provide a sourcemap to control the generated output.

Can you confirm this? If so, how do I properly use `SourceMap`s?

[2020-06-30 12:21] tomsfernandez commented on #379
Hi @postatum . Please open another issue  so that we can do the follow up in that thread.

[2020-06-30 23:40] wes-goulet commented on #361
Hi @tomsfernandez - if I set the `required` property in the overlay then I agree that this would be an obvious violation of the spec.  But I'm not setting the `required` property in the overlay, I'm intentionally leaving it unset because I don't want to modify any aspect of the base RAML.

I guess this is a feature request: it would be great if AMF parser didn't attempt to apply defaults to unset

[2020-07-01 07:09] postatum opened #363 "Controling generated output with "SourceMap""
* **I'm submitting a ...**
  - [ ] question

Hi.

I was told that it's possible to use `SourceMap`s to somewhat resolve [this issue](https://github.com/aml-org/amf/issues/596). I was also told it's possible to provide a sourcemap to control the generated output.

Can you confirm this? If so, how do I properly use `SourceMap`s?

[2020-07-01 07:09] postatum opened #600 "Controling generated output with "SourceMap""
* **I'm submitting a ...**
  - [ ] question

Hi.

I was told that it's possible to use `SourceMap`s to somewhat resolve [this issue](https://github.com/aml-org/amf/issues/596). I was also told it's possible to provide a sourcemap to control the generated output.

Can you confirm this? If so, how do I properly use `SourceMap`s?

[2020-07-01 08:06] postatum opened #364 "Creating and using a custom Oas20Plugin"
* **I'm submitting a ...**
  - [ ] question

Let's say I have a lib (written in Scala) which uses AMF and I want to create a custom `Oas20Plugin` to change the way OAS 2.0 emission works.

I imagine it as:
1. Copy and edit contents of `amf-webapi/shared/src/main/scala/amf/plugins/document/webapi/OasPlugin.scala`
2. Register new plugin with `amf.Core.loadPlugin()`.

My questions are:
I. Do the step

[2020-07-01 08:06] postatum opened #601 "Creating and using a custom Oas20Plugin"
* **I'm submitting a ...**
  - [ ] question

Let's say I want to create a custom `Oas20Plugin` to change the way OAS 2.0 emission works.

I imagine it as:
1. Copy and edit contents of `amf-webapi/shared/src/main/scala/amf/plugins/document/webapi/OasPlugin.scala`
2. Register new plugin with `amf.Core.loadPlugin()`.

My questions are:
I. Do the steps I described make sense?
II. If I follow these ste

[2020-07-01 12:52] tomsfernandez commented on #378
Closing this issue as it is not an AMF bug, the problem resides in the way AMF is being used.

[2020-07-01 12:52] #597 closed

[2020-07-01 21:50] jstoiko commented on #361
@tomsfernandez: I think this is a misinterpretation. [According to the spec](https://github.com/raml-org/raml-spec/blob/master/versions/raml-10/raml-10.md#overlays), overlays are validated "after applying the merging algorithm":

and those [merging rules](https://github.com/raml-org/raml-spec/blob/master/versions/raml-10/raml-10.md#merging-rules), and particularly the "Merging Algorithm" section d

[2020-07-03 13:40] nschejtman commented on #364
Depends on what you want to achieve. What is your concrete use case?

[2020-07-06 07:40] postatum commented on #364
I want to partially undo what was done by this commit  https://github.com/aml-org/amf/commit/f4a82948d76b7415e08130bd49f94612d6b39785. In particular, I want to create OAS 2-3 emitters/contexts/etc which would allow me to output OAS 2-3 the old way - without using "definitions" node.

[2020-07-07 09:06] postatum opened #370 "RAML 1.0 "protocols" to OAS 3.0"
Using `amf-client-js@4.1.3` (JS).

Consider this code [1] and the output [2].

Issues I have with the output:
1. I was told, that when using the "compatibility" pipeline, RAML 1.0 `protocols` won't be converted to `schemes` in OAS 3.0. This example uses the mentioned pipeline and `schemes` are still in the output.
2. It's polluted with `amf-*` annotationTypes.

This issue continues the old issue 5

[2020-07-07 12:24] nschejtman commented on #364
Ok, is this blocking you to achieve what you need to achieve? Why do you need inlined definitions rather extracted definitions?

[2020-07-07 12:27] nschejtman commented on #363
Hi @postatum, that link [https://github.com/aml-org/amf/issues/596](https://github.com/aml-org/amf/issues/596) seems to be pointing to our old repo. Could you help me identify the correct issue?

[2020-07-08 07:07] postatum commented on #364
Hi @nschejtman. Thanks for answering this issue.

It does.

We have a lib [webapi-parser](https://github.com/raml-org/webapi-parser) which wraps AMF to provide users simplified interface. One of its features is the [resolution](https://raml-org.github.io/webapi-parser/resolving.html). In a nutshell it's a process of making specs super-flat - flattening types inheritance, moving types definitions t

[2020-07-08 07:14] postatum commented on #363
Hi. Yes, it's the issue 596 in the old repo. It's been closed and not migrated to this repo.

[2020-07-08 07:58] postatum commented on #370
Looks like I had to resolve with OAS 3.0 resolver.

[2020-07-08 07:58] #370 closed, assigned to nobody

[2020-07-08 08:58] postatum opened #372 "core.Vendor constants are not exported to JS"
* **I'm submitting a ...**
  - [ ] bug report

* **What is the current behavior?**
Constants on `core.Vendor` are not exported to JS. E.g. `RAML`, `RAML10`, `ASYNC20`, etc.

* **If the current behavior is a bug, please provide the minimal steps to reproduce with AMF code. Please don't upload AMF code mixed with yours.**

[code]

* **What is the expected behavior?**
`core.Vendor` constants should b

[2020-07-08 12:59] nschejtman commented on #372
Hi @postatum I've created an internal Jira ticket for this case: [https://www.mulesoft.org/jira/browse/APIMF-2258](https://www.mulesoft.org/jira/browse/APIMF-2258)

[2020-07-08 13:08] nschejtman commented on #363
Not sure if I understand what you mean by SourceMaps for this case. Maybe you mean render options?

[2020-07-08 13:33] tomsfernandez opened #373 "GH Slack integration test"

[2020-07-08 13:34] #373 closed, assigned to nobody

[2020-07-08 14:10] nschejtman commented on #364
Great, I understand. Since you have already identified the commit I suggest that rather than extending the Oas20Plugin you parametrize this change in emission

[2020-07-09 06:57] postatum commented on #363
Hi @nschejtman.

I mean [this thing](https://github.com/aml-org/amf/blob/develop/documentation/model.md#sourcemap). I don't know how and when to use them and whether they make sense in my situation. I'm trying to figure this out.

[2020-07-09 07:16] postatum commented on #364
Hi @nschejtman.

Thanks a lot for helping me with this!

Few questions:
1. What exactly should I parameterize? Should there be a switch to turn on/off this change in emission? Or a way to pass custom emitters/context/etc. through `Oas20Renderer -> Environment`? Any other way?
2. Should I make a PR to AMF with these changes or keep them in our lib?

[2020-07-13 14:43] #378 closed, assigned to nobody

[2020-07-13 14:43] #379 closed, assigned to nobody

[2020-07-13 14:44] #383 closed, assigned to nobody

[2020-07-13 14:45] #391 closed, assigned to nobody

[2020-07-13 14:47] #416 closed, assigned to nobody

[2020-07-14 15:05] unandyala opened #528 "With AMF 4.1.3, the generated amf graph has inconsistent reference node ids though the content is same"
* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] question
  - [ ] other

* **What is the current behavior?**
I have two ramls with same content except that one raml is missing an endpoint
![image (2)](https://user-images.githubusercontent.com/59447810/87441767-7f1a2000-c5c1-11ea-96cc-90882deab5d3.png)

With AMF 4.1.3, reference node IDs between the ramls are different

[2020-07-14 15:35] nschejtman commented on #528
APIMF-2263 has been created to track internally this issue in our Jira.

[2020-07-14 15:40] nschejtman commented on #363
I don't see how you can use source maps to solve this issue. Nevertheless I think your best approach is what you mention in https://github.com/aml-org/amf/issues/364. Let's keep the discussion there. Closing this issue

[2020-07-14 15:40] #363 closed, assigned to nobody

[2020-07-14 15:42] nschejtman commented on #364
1. Yes, a render option during emission would be the most correct choice
2. You can open us a PR with that improvement

[2020-07-14 15:55] nschejtman commented on #361
@wes566 created APIMF-2264 to track internally this enhancement request in our Jira

[2020-07-15 08:15] postatum commented on #364
Understood. I'll work on this.
Thanks!

[2020-07-15 08:21] postatum commented on #364
One more question: should this option be just a boolean switch or a custom emitter class?

[2020-07-15 12:45] nschejtman commented on #364
Boolean is OK. Closing this question, if you have any further questions feel free to reopen

[2020-07-15 12:45] #364 closed, assigned to nobody

[2020-07-17 10:28] postatum commented on #364
Hi @nschejtman. I can't reopen this issue, but I got another quick question: How do I link local `amf-core` to local `amf`?

Considering I change something in `amf-core` locally, I want local `amf` to use the changed local `amf-core`.

[2020-07-21 10:26] postatum commented on #364
@nschejtman please notice my previous comment :point_up:

[2020-07-21 15:03] nschejtman commented on #364
@postatum Mi recommendation is to use source mode with the flag `-Dsbt.sourcemode=true`.
Example for running a test suite `sbt -Dsbt.sourcemode=true "testOnly package.to.my.suite.MySuite"`

I suggest following the directory convention `~/mulesoft/amf` `~/mulesoft/amf-aml` `~/mulesoft/amf-core` so you don't have to configure paths manually

[2020-07-21 18:08] nschejtman commented on #528
This issue has been fixed and will be available in our next release (July 29th 2020)

[2020-07-21 18:08] #528 closed, assigned to nschejtman

[2020-07-29 18:16] AgustinBettati commented on #362
Hello @unandyala, we were able to reproduce the inconsistent behaviour you reported. The problem is caused by certain asynchronous tasks in AMF which lead to nondeterministic models.
We have some solutions in mind, but this is currently a limitation we have in our project.
internal ticket: https://www.mulesoft.org/jira/browse/APIMF-2347

[2020-08-05 09:53] postatum commented on #364
Hi again @nschejtman. I need more of your assistance :)

I tried running tests the way you suggested, but got an error:
[code]

How do I handle this issue, considering I don't have access to `mulesoft/syaml` source code?

I also noticed `amf` can load dependencies from local ivy2. I tried releasing `amf-core` to local ivy2 with `sbt publishLocal`, but `amf` doesn't seem to pick up the `amf-core` r

[2020-08-06 10:08] postatum commented on #364
I've figured this out.
To make it work in the "source mode", I had to specify `syaml` as a regular dependency (`libraryDependencies`) instead of a source dependency (using `sbt-sriracha`'s `sourceDependency`). It was all done in `amf-core`.

[2020-08-11 08:51] postatum opened #581 "OAS 3 query parameter description is lost in RAML 0.8"
Consider the code [1], RAML 0.8 output [2] and RAML 1.0 output [3]. Note how the RAML 0.8 output is missing the query parameter `def` `description`.

[1]
[code]

[2]
[code]

[3]
[code]

* **Please tell us about your environment:**

  - AMF Version: 4.2.0
  - AMF Distribution: JS
  - Operating System: Linux

* **Other information:**
Originally reported in https://github.com/raml-org/webapi-parser/i

[2020-08-11 12:27] Serdarrr opened #582 "Exception when trying to clear items in tags() while parsing RAML files in Java"
Hi,

I'm using [web api parser](https://github.com/raml-org/webapi-parser) to generate RAML files from OpenApi 3 (using [springdoc](https://github.com/springdoc/springdoc-openapi)). I want to able to remove certain fields, I managed the remove few of them like server description and operation names. But while removing tags() using clear() method I am getting the following exception error.

This ne

[2020-08-11 12:44] AgustinBettati commented on #581
Hello @postatum! I was able to reproduce the error and created the following internal ticket: https://www.mulesoft.org/jira/browse/APIMF-2388
We will keep you updated on the status of the issue.

[2020-08-11 16:41] AgustinBettati commented on #582
Hello @Cytor! First of all, i would encourage you use our issue template so that we have important details clarified beforehand.
As of this case, it is a known issue which has been fixed in AMF version 4.1.2 in the following commit c9083ea0.
[Web api parser](https://github.com/raml-org/webapi-parser) is currently using version 4.0.3. Your alternatives are to use AMF directly using the updated vers

[2020-08-11 16:41] #582 closed, assigned to nobody

[2020-08-11 17:24] Serdarrr commented on #582
Hello @AgustinBettati, thank you I will use the template for the next time. Nice that this bug is fixed. It seems that I can also achieve the above code (web api parser) with AMF framework only? I was considering to switch to only AMF, instead of using the raml parser that relies on AMF.

[2020-08-12 13:41] AgustinBettati commented on #582
Yes that is correct, you can take a look at [amf examples](https://github.com/mulesoft/amf-examples) as a guideline, and also look at how webapi parser is using AMF.

[2020-08-12 19:21] Serdarrr commented on #582
@AgustinBettati You mentioned using an alternative by using AMF directly, did you mean switch to AMF or use latest AMF maven dependency with raml webapi-parser? I tried adding amf_client dependency but no luck (getting an error no method found..)

[2020-08-13 10:14] postatum commented on #364
@nschejtman hello again.

Does someone else work on this issue?
I've noticed that `compactEmission: Boolean` param has been added to `Oas3SpecEmitterContext` and `Oas2SpecEmitterContext` and is used in `OasCompactEmitterFactory`. It seems to do what we discussed here.
If so, is the work complete or is it in progress?
It the work is complete, how do I disable compacted emission now?

PS. The new pa

[2020-08-13 14:17] AgustinBettati commented on #364
Hello @postatum!
Your observation is correct, but this boolean has not been propagated to client interfaces as it is currently used internally.
You can add a boolean field in client RenderOptions and use that value within the specContext method in each OasPlugin when creating the appropriate context.

[2020-08-13 14:24] AgustinBettati commented on #582
What i mean by the first alternative is to replace raml webapi-parser for amf directly, but this will surely require some changes in your code base as they do not expose the same interfaces (even though they seem fairly similar).

[2020-08-13 14:33] Serdarrr commented on #582
Thank you for clarifying.

[2020-08-14 06:44] postatum commented on #364
I see. Thanks for the answer!

Yep, that's what I was doing. There already seems to be a field in ShapeRenderOptions though - `ShapeRenderOptions.compactedEmission`.

[2020-09-16 10:08] dcrossleyau opened #637 "The CLI jar falsely reports true RAML conformance with some invalid files"
* **I'm submitting a ...**
  - [*] bug report
  - [ ] feature request
  - [ ] question
  - [ ] other

* **What is the current behavior?**
The CLI jar incorrectly reports a broken RAML file as "conforms=true"

* **What is the expected behavior?**
Should say "conforms=false"

* **Please tell us about your environment:**

  - AMF Version: amf-4.4.0-SNAPSHOT
  - AMF Distribution: Java CLI
  - Operatin

[2020-09-16 17:54] arielmirra commented on #581
Good morning @postatum! I've been reviewing and have some comments regarding this issue, hope this helps:

1. When changing specs in resolution (e.x. OAS30 -> RAML10) the _compatibility pipeline_ must be used in resolution
2. Although it's technically possible, we don't support conversion to RAML08 (as far as the raml08resolver doesn't support compatibility pipeline)

I've reproduced your exact ca

[2020-09-16 17:54] #581 closed, assigned to nobody

[2020-09-18 10:54] philipp-kaiser opened #645 "RAML1.0 -> OAS3.0: Traits are not resolved"
* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] question
  - [ ] other

* **What is the current behavior?**

Raml Traits are not resolved, leading to "x-amf-is" and "x-amf-traits".

Converting this simple RAML file:
[code]

* **If the current behavior is a bug, please provide the minimal steps to reproduce with AMF code. Please don't upload AMF code mixed with yours.*

[2020-09-18 11:04] philipp-kaiser opened #646 "RAML1.0 -> OAS3.0: ResourceTypes are not resolved"
* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] question
  - [ ] other

* **What is the current behavior?**

Raml ResourceTypes are not resolved, leading to "x-amf-type" and "x-amf-resourceTypes".

Converting this simple RAML file:
[code]

* **If the current behavior is a bug, please provide the minimal steps to reproduce with AMF code. Please don't upload AMF code mi

[2020-09-18 12:59] tomsfernandez commented on #646
Hi @Kaiser1989. This is not a bug in AMF.

To turn your RAML spec into an OAS 3.0 spec besides parsing the RAML you must _**resolve**_ the BaseUnit. This is a process in which AMF Resolvers resolve amf links, apply resourceTypes and traits, apply extensions and overlays, drill-down parameters and so on.

**Resolution** requires one to choose the **resolution spec** and the **resolution pipeline**.

[2020-09-18 12:59] #646 closed, assigned to nobody

[2020-09-18 14:59] tomsfernandez commented on #645
Duplicate of https://github.com/aml-org/amf/issues/646

[2020-09-18 15:00] #645 closed, assigned to nobody

[2020-09-21 07:48] philipp-kaiser commented on #646
Thanks a lot. This looks much better! But still noticing some small errors, i will create tickets for them (if not already listed)!

[2020-09-21 11:14] philipp-kaiser opened #649 "RAML10 -> OAS30: Documentation incorrect"
* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] question
  - [ ] other

* **What is the current behavior?**

Raml documentation section is not translated correctly

Converting this simple RAML file:
[code]

* **If the current behavior is a bug, please provide the minimal steps to reproduce with AMF code. Please don't upload AMF code mixed with yours.**

Java function

[2020-09-21 12:10] BlockLucas commented on #637
Hi @dcrossleyau

I've created an internal ticket to check this case: https://www.mulesoft.org/jira/browse/APIMF-2536

We track down the behavior change to 4.0.4, maybe is still useful for you to use AMF 4.0.3 in the meantime.

See 4.0.3 output:

[code]

Regards!

[2020-09-24 05:36] dcrossleyau opened #661 "Unresolved reference when example has same filename as a type filename"
* **I'm submitting a ...**
  - [*] bug report

* **What is the current behavior?**
If the filename of an example is the same as the filename of a parent schema type, then "Unresolved reference" violations occur.

* **What is the expected behavior?**
Happiness.

* **Please tell us about your environment:**

  - AMF Version: amf-client-js (v4.3.0)
  - AMF Distribution: JS
  - Operating System: macOS

[2020-09-30 15:54] nschejtman commented on #661
Hi @dcrossleyau, we confirm this is a bug. Tracking in our internal Jira (APIMF-2559). Once that's fixed we'll update this issue

[2020-09-30 16:10] nschejtman commented on #649
Hi @Kaiser1989, as you said there is no 1-to-1 mapping for this RAML feature in OAS 3.0. Our conversion does a "best effort" to preserve all the properties from the original model in the target spec. This "best effort" subjective to all adopters so unless you provide an argument we consider valid for changing this specific conversion we won't change it.

Closing for now, feel free to reopen if you

[2020-09-30 16:10] #649 closed, assigned to nobody

[2020-10-21 14:29] arielmirra commented on #661
Hi @dcrossleyau! This issue has been resolved in the latest release of AMF 4.4.0 so I'm closing it, Thank you!

[2020-10-21 14:29] #661 closed, assigned to nobody

[2020-10-21 14:46] unandyala opened #696 "With "amf-client-js@4.3.1", toJsonSchema is exported as a string instead of function"
With "amf-client-js@4.3.1", toJsonSchema is exported as a string instead of function in amf-client-js.d.ts.

[code]

[2020-10-22 13:27] dcrossleyau commented on #661
Thanks. Verified with our set of RAML files. That reduced the number of files which indicated "violations" from 75 to 25. Nice.

[2020-10-22 17:36] AgustinBettati commented on #372
Hello @postatum, the issue has been fixed and will be present in AMF's coming release scheduled for the 18th of November.

[2020-10-22 17:36] #372 closed, assigned to nobody

[2020-10-22 18:51] looseale commented on #696
Fixed with commit https://github.com/aml-org/amf/commit/7c44cdd7b637b7b3c55588622d118ea926019042

[2020-10-22 18:51] #696 closed, assigned to nobody

[2020-10-28 15:58] arielmirra commented on #637
Hi @dcrossleyau!
We fixed this wrong behavior of the CLI. The fix should be public and available in the next release of AMF, version 4.4.1. I'm closing this issue.
Thanks!

[2020-10-28 15:58] #637 closed, assigned to nobody

[2020-11-04 21:44] unandyala opened #718 "Validation of RAML is taking longer"
RAML validation with custom profile is talking longer. Please find the attached raml file and the profile used.
[checkout.zip](https://github.com/aml-org/amf/files/5490628/checkout.zip)
[profiles.zip](https://github.com/aml-org/amf/files/5490635/profiles.zip)

Code to validate
[code]
With all the rules in the profile it is taking more than 2 mins to validate.
[code]
With just one rule, it is takin

[2020-11-05 15:40] arielmirra commented on #718
Hi @unandyala! Thanks for submitting this issue. Could you please provide the previous AMF version in which the validations were faster (and maybe by how much)? That would really help. Thank you!

[2020-11-05 16:04] unandyala commented on #718
We observed similar issues in 4.1.2 as well. We didn't track exactly when the issue started. It used to take a few seconds earlier not minutes

[2020-11-17 16:54] arielmirra commented on #718
Hi @unandyala, I've been unable to reproduce the described behavior. In order to simplify version-changing and sync the javascript code being used, we've created this project:

[Custom Validations Test JS.zip](https://github.com/aml-org/amf/files/5554908/Custom.Validations.Test.JS.zip)

It runs AMFs' custom validations to a RAML file and outputs the result. The version of AMF can be easily changed

[2020-11-20 02:55] unandyala commented on #718
Hi @arielmirra ,

I ran the code you provided against the attached raml and profile (attached in the first comment). And I am seeing similar results

Note: I just added `new Date()` for the log statements

[code]

[2020-11-25 12:52] tomsfernandez commented on #718
Hi @unandyala, which Node version are you using to run this?

[2020-11-30 13:53] unandyala commented on #718
Hi @tomsfernandez
Node version is v12.16.3

[2020-12-01 14:34] tomsfernandez commented on #718
@unandyala, I tested your api/profile with 4.2.0, 4.3.0, 4.4.0 and 4.5.0 and in all of those the execution time has been above the 2 minutes.

I created the internal ticket: https://www.mulesoft.org/jira/browse/APIMF-2711 to figure out why the validation is taking so long.

[2020-12-01 15:05] unandyala commented on #718
Thanks for the update

[2020-12-17 22:19] kdubb opened #779 "Cannot retrieve RAML annotations applied to Library"
Your issue may already be reported! Please search on Github issues before creating one.

* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] question
  - [ ] other

* **What is the current behavior?**

RAML `Library` level annotations are lost or inaccessible after parsing. `API`'s add the annotation(s) to the root encoded object in `EncodesModel.encode`.

* **If the curr

[2020-12-18 16:55] kdubb commented on #779
A "proper" solution might be adding a `customDomainProperties` to `BaseUnit` where top-level annotations are available for all RAML module types.

[2020-12-22 19:42] looseale commented on #779
Hi @kdubb .
You are right, the spec allows that function and currently the annotations in the root level are missing because they don't have a place in the current library model (Module).
I created the internal ticket https://www.mulesoft.org/jira/browse/APIMF-2769 to check this. We will keep you informed of any news.

[2020-12-22 19:45] kdubb commented on #779
I'm willing to contribute a PR if you can point me in the right direction. We're moving from the old RAML parser and this is a blocking issue for us.

[2020-12-22 20:14] kdubb commented on #779
@looseale Also, it's worth noting that although the 3.0 OpenAPI spec only allow "extensions" on certain elements... all the notable parser implementations seem to allow extension nearly everywhere; specifically on document root and schema items.

[2021-01-06 18:36] bredmond-sf opened #790 "SPARQL validation in JS results in 'not assigned' error"
Your issue may already be reported! Please search on Github issues before creating one.

* **I'm submitting a ...**
  - [ x ] bug report
  - [ ] feature request
  - [ ] question
  - [ ] other

* **What is the current behavior?**

When trying use the following query with https://github.com/SalesforceCommerceCloud/raml-toolkit/blob/master/testResources/raml/mercury/mercury.raml (or other RAMLs)

[co

[2021-01-14 18:49] kdubb commented on #779
@looseale Any thoughts on when this might be fixed or how I can help get this started?

[2021-01-26 19:27] #362 closed, assigned to nobody

[2021-01-26 21:47] jsantanasf opened #810 "Subtypes not always being rendered in converted OAS spec"
Your issue may already be reported! Please search on Github issues before creating one.

* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] question
  - [ ] other

* **What is the current behavior?**
I have a RAML spec that relies on being able to have object inheritance for some of the types. For example, I have a generic `AttributeDefinition` with subtypes of `ItemIden

[2021-01-26 22:37] tomsfernandez commented on #810
Linking to Jira issue: https://www.mulesoft.org/jira/browse/APIMF-2853

[2021-02-02 12:36] looseale commented on #790
Hi.
Using the validation like this should work in JS and JVM:
[code]

We will try to add an "auto-binding" of `?this` in JS like is happening in JVM and create some documentation about making queries in the near future.

[2021-02-02 12:36] #790 closed, assigned to nobody

[2021-02-03 19:37] tomsfernandez commented on #779
Hi @kdubb. This issue was resolved in https://github.com/aml-org/amf/pull/817. It will be available on the release of AMF's next version next week.

Thanks for raising the issue.
With the merged PR I'm closing the issue.

[2021-02-03 19:37] #779 closed, assigned to nobody

[2021-02-08 02:42] kdubb opened #830 "Id of request parameter nodes not unique"
Your issue may already be reported! Please search on Github issues before creating one.

* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] question
  - [ ] other

* **What is the current behavior?**

Schema ids for RAML method queryParameters & headers are not unique.

* **If the current behavior is a bug, please provide the minimal steps to reproduce with AMF code. Ple

[2021-02-08 13:12] tomsfernandez commented on #830
Hi @kdubb. I could replicate this using an RC for the upcoming release artifact. I created a bug in our internal issue system to track this: https://www.mulesoft.org/jira/browse/APIMF-2876. I wrote this here to link our internal ticket with Github.

All updates on this issue will be communicated through this channel (the Github issue).
Thanks!

[2021-02-10 03:41] jsantanasf commented on #810
Even though I mentioned the workaround works, I didn't look at the result close enough. The types get added to the resulting OAS spec, but still don't have any hierarchy information (e.g. `AttributeDefinition` doesn't mention `ItemIdentifierAttributeDefinition` as a subType, and vice versa).

[2021-02-10 15:16] unandyala commented on #718
Hi @tomsfernandez,

The issue seems to have resolved in version 4.7.0. I ran the same code provided in https://github.com/aml-org/amf/issues/718#issuecomment-729059813 with the amf version 4.7.0.

Looking at the results, there is not a huge improvement in the performance. Just want to check if this is expected.

Thanks
Ujwala

[code]

[2021-02-10 17:30] looseale commented on #718
Hi @unandyala,
I don't know why this is closed, I will reopen it.
I closed the issue from AMF side but I created a subtask to fix this problem.
The performance issue is related with the use of the `extends` in the validation profile, so I create another issue to check the RAML validation profile that we provide.
I think I will fix this in the next days, so it will be released in the next release.

[2021-02-11 13:28] tomsfernandez commented on #810
Hi! @jsantanasf. That is the expected behaviour as OAS is based in JSON Schema and that spec doesn't have the concept of inheritance.

[2021-02-11 15:13] tomsfernandez commented on #810
I'm closing this issue as this is AMF's expected behaviour and we won't be pursuing any enhancements to this feature yet.

[2021-02-11 15:13] #810 closed, assigned to nobody

[2021-02-11 17:42] jsantanasf commented on #810
@tomsfernandez I'm confused...both OAS 2.0 and 3.0 have support for discriminators, which are there to provide polymorphism. Is there something I'm missing?

[2021-02-11 20:59] nschejtman commented on #810
Hi @jsantanasf. Reviewed your case, I'll try to explain.

Technically polymorphism does not exist in any API spec. Polymorphism is a characteristic of the type system of the programming language implementing that API, which it might or might not have. In fact, types in RAML/OAS are not even actual types but schemas. API specs provide discriminators to support polymorphism in API implementations. H

[2021-02-25 22:52] kdubb opened #849 "RAML nillable shorthand types not recognized in uriParameters/queryParameters/headers maps"
Your issue may already be reported! Please search on Github issues before creating one.

* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] question
  - [ ] other

* **What is the current behavior?**

Using a nillable shorthand type (aka `string?`) inside the headers parameter map produces the error `Cannot declare unresolved parameter`.

* **If the current behavior is a

[2021-03-04 12:44] AgustinBettati commented on #361
Hello @wes566, this issue has been fixed (https://github.com/aml-org/amf/pull/856) and will be available in the coming AMF release (4.7.1) due for next week.
Thanks!

[2021-03-04 12:44] #361 closed, assigned to nobody

[2021-03-04 20:36] looseale commented on #849
Hi @kdubb. I created a bug in our internal issue system to track this: https://www.mulesoft.org/jira/browse/APIMF-2934. I wrote this here to link our internal ticket with Github.

All updates on this issue will be communicated through this channel (the Github issue).
Thanks!

[2021-03-07 17:22] ryan-slack-big opened #858 "Validation error when ID template variable used as map key"
**I'm submitting a ...**
  - [ x] bug report
  - [ ] feature request
  - [ ] question
  - [ ] other

**Example**
In the following dialect `NamedCode` has `idTemplate: http://a.ml/codes/{name}`,  and `MapKeyIdTempleateTestNode`  has `mapKey: name`.

*Dialect:*
[code]

*Document:*
[code]

**Actual behavior:**

 `Missing ID template variable 'name' in node`
[code]

**Expected behavior:**
Create a id

[2021-03-07 17:52] ryan-slack-big opened #859 "mapValue does not work with allowMultiple"
Your issue may already be reported! Please search on Github issues before creating one.

* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] question
  - [ ] other

* **What is the current behavior?**

I would like to validate this:
[code]
I would expect the following dialect to work:
[code]
however this results in
[code]

On the other hand this works...
[code]
...with th

[2021-03-12 01:35] kdubb opened #869 "RAML nillable shorthand properties lose default value"
Your issue may already be reported! Please search on Github issues before creating one.

* **I'm submitting a ...**
  - [X] bug report
  - [ ] feature request
  - [ ] question
  - [ ] other

* **What is the current behavior?**

RAML nillable shorthand properties lose their default value.

* **If the current behavior is a bug, please provide the minimal steps to reproduce with AMF code. Please don'

[2021-03-12 01:40] kdubb commented on #869
Note that in expanded union form... e.g.
[code]

The default value is appropriately assigned.

[2021-03-12 05:14] kdubb opened #870 "RAML pattern properties are populated in NodeShape.properties"
Your issue may already be reported! Please search on Github issues before creating one.

* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] question
  - [ ] other

* **What is the current behavior?**

Pattern properties defined in RAML are populated in `NodeShape.properties()`.

* **If the current behavior is a bug, please provide the minimal steps to reproduce with AMF

[2021-03-12 12:58] AgustinBettati commented on #870
Hello @kdubb!
The behavior your are describing is expected. Pattern properties are stored within `properties(): Seq[PropertyShape]`, taking into account that an additional field `PropertyShape.pattternName()` is present with the corresponding regular expression as a value.
I will close this issue but feel free to leave a comment if you have any doubts.

[2021-03-12 12:58] #870 closed, assigned to nobody

[2021-03-15 12:58] looseale commented on #859
Hi @ryan-slack-big . I could replicate this. I created a bug in our internal issue system to track this: https://www.mulesoft.org/jira/browse/APIMF-2955. I wrote this here to link our internal ticket with Github.

All updates on this issue will be communicated through this channel (the Github issue).
Thanks!

[2021-03-15 21:44] looseale commented on #858
Hi @ryan-slack-big . I could replicate this. I created a bug in our internal issue system to track this: https://www.mulesoft.org/jira/browse/APIMF-2956. I wrote this here to link our internal ticket with Github.

All updates on this issue will be communicated through this channel (the Github issue).
Thanks!

[2021-03-22 19:23] AgustinBettati commented on #869
Hello @kdubb! thanks for bringing this up.
I created an issue in our internal tracking system for this: https://www.mulesoft.org/jira/browse/APIMF-2973.
I will keep you updated on any progress.

[2021-03-22 19:26] kdubb commented on #869
@AgustinBettati I have found **numerous** issues with nillable shorthand properties. I haven't reported all of them because they basically seem to be just unsupported at the current time.

That being said, _please_ fix and support them! RAML is concise and this is one of the things that makes it concise and why we use it exclusively as our design language over OpenAPI.

[2021-03-22 19:40] AgustinBettati commented on #869
Trailing question marks in properties and schemas are fully supported, what are exactly the issues you are encountering?

[2021-03-22 20:38] kdubb commented on #869
As I said there have been numerous. I'll continue to report them as we re-encounter them.

Here is another problem we encounter. The following RAML produces the inexplicable error ` Property 'required' not supported in a RAML 1.0 string node`.

[code]

Edit: corrected invalid RAML for history's sake

[2021-03-22 20:39] kdubb commented on #869
To be clear, any use of the shorthand precludes using an explicit `required: false|true`.

[2021-03-22 20:40] kdubb commented on #869
Also, another similar issue. The following RAML, using both shorthands, produces the error `Property 'type?' not supported in a RAML 1.0 string node`.

[code]

Edit: corrected invalid RAML for history's sake

[2021-03-23 00:34] kdubb commented on #869
@AgustinBettati Should I open separate issues for these issues?

[2021-03-23 13:00] AgustinBettati commented on #869
I made some simple adjustments to both cases as the RAML definitions where not correctly defined.

**First case** - nillable type with required facet in property:
[code]
This is effectively giving an incorrect validation for the 'required' facet, please raise a separate issue! @kdubb
Note: the expanded form `string | nil` works correctly.

**Second case** - optional property with nillable type:
[c

[2021-03-23 14:01] kdubb opened #874 "RAML nillable shorthand properties cannot have required facet"
Your issue may already be reported! Please search on Github issues before creating one.

* **I'm submitting a ...**
  - [X] bug report
  - [ ] feature request
  - [ ] question
  - [ ] other

* **What is the current behavior?**

RAML nillable shorthand properties cannot have the `required` facet.

* **If the current behavior is a bug, please provide the minimal steps to reproduce with AMF code. Ple

[2021-03-23 14:03] kdubb commented on #869
@AgustinBettati Yes, apologies for the hastily written and incorrect RAML.

I've opened #874 for the first case.

The second case (optional property with billable type) seems it might be an issue with our usage of the generated shapes; will debug and see if it warrants any issue.

[2021-03-23 14:45] AgustinBettati commented on #874
Thank you for creating the issue, internal reference: https://www.mulesoft.org/jira/browse/APIMF-2975

[2021-03-25 15:11] tomsfernandez commented on #849
Hi @kdubb. This issue was fixed in PR #875 and will be available in AMF's next release scheduled in 2 weeks.

Thanks for raising the issue.

[2021-03-25 15:11] #849 closed, assigned to nobody

[2021-03-29 09:48] deiteris opened #879 "Recursive shape error when schema is placed in a trait with response body"
Your issue may already be reported! Please search on Github issues before creating one.

* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] question
  - [ ] other

* **What is the current behavior?**

When response JSON schemas are added as traits, validator reports the "Recursive shape" error for no obvious reason. This also results in incomplete model.

* **If the curr

[2021-03-29 10:04] deiteris opened #880 "Incorrect validation with JSON oneOf rule"
Your issue may already be reported! Please search on Github issues before creating one.

* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] question
  - [ ] other

* **What is the current behavior?**

When one of the fields should present in the example, "oneOf" rule does not provide correct validation.

* **If the current behavior is a bug, please provide the minimal st

[2021-04-05 22:44] jarrodek opened #888 "Use of var in amf-client-js/amf.js"
The generated `amf.js` file contains two `require` declarations as the following:

[code]
This works for a regular scripts but it fails as an ES module which requires defining variables the correct way. Please, add `var` before variables declarations so the library can be used as a ES module:

[code]

[2021-04-07 17:51] jarrodek opened #891 "Missing `operationId` in the typpings for the `Operation`"
* **I'm submitting a bug report**

* **What is the expected behavior?**
The `operationId` is defined in the typppings for the `Operation` object.

* **Please tell us about your environment:**

  - AMF Version: 4.7.1
  - AMF Distribution: JS
  - Operating System: n/a
  - Link to your project: n/a

[2021-04-08 14:33] tomsfernandez commented on #888
Hi @jarrodek. Can you elaborate a bit more on why this change is required and why do you need this change? (I know you said that you want to use it as an ES module but I'm not grasping the meaning of it)

[2021-04-08 16:43] jarrodek commented on #888
Hi @tomsfernandez ,
The ES modules can only run in strict mode and there's nothing you can do about it. I have a requirement to run my application in a m ES module. Therefore everything imported as an ES module (via both `import` and `import()`) are in strict mode. This causes an error because both variables are not defined at the moment of using them and therefore the whole script is crashing.

T

[2021-04-08 20:33] tomsfernandez commented on #888
@jarrodek I have created an internal issue to track this. The issue is: https://www.mulesoft.org/jira/browse/APIMF-3020. All updates/questions will be in this Github thread.

[2021-04-09 15:22] deiteris commented on #879
The issue seems to be fixed with 4.7.2. Closing this issue.

[2021-04-09 15:22] #879 closed, assigned to nobody

[2021-04-12 12:33] tomsfernandez commented on #880
Hi @deiteris sorry for the wait. This is definitely a bug, I could reproduce it with 4.7.2 (didn't try with 4.7.1). The internal ticket for this issue is https://www.mulesoft.org/jira/browse/APIMF-3025. We will give all updates in this Github thread. Thanks!

[2021-04-13 08:24] deiteris opened #899 "Security scheme fragment doesn't use global mediaType"
Your issue may already be reported! Please search on Github issues before creating one.

* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] question
  - [ ] other

* **What is the current behavior?**

With global `mediaType` defined, a response inside `securityScheme` doesn't seem to pick it up, and produces false validation error.

* **If the current behavior is a bug,

[2021-04-13 17:43] tomsfernandez commented on #899
Hi @deiteris. This is a bug. The internal ticket https://www.mulesoft.org/jira/browse/APIMF-3026 was created to address this problem. All further communication will be in this Github issue. Thanks!

[2021-04-13 20:57] deiteris opened #901 "Incompatible types [array, array] when overriding an object property with an array of array"
Your issue may already be reported! Please search on Github issues before creating one.

* **I'm submitting a ...**
  - [ ] bug report
  - [ ] feature request
  - [x] question
  - [ ] other

* **What is the current behavior?**

The following structure of types produces the `Incompatible types [array, array]` error while producing a correct output:
[code]

But, if we change the type of the `items`

[2021-04-14 15:35] wjhsf opened #902 "Setting additionalProperties is not properly reflected in "closed" property when using imported types"
* **I'm submitting a ...**
  - [x] bug report

* **What is the current behavior?**
When parsing a RAML file with a type that has `additionalProperties: false`, the AMF model has `closed: true`. However, when that type is imported into a separate file and used, the AMF model incorrectly reports `closed: false`. The aliased type has a `linkTarget` that models the original type, which does correctly

[2021-04-15 12:45] tomsfernandez commented on #901
Hi @deiteris. This is a bug. The internal ticket issue is: https://www.mulesoft.org/jira/browse/APIMF-3032. Thanks!

[2021-04-21 20:52] tomsfernandez commented on #891
Hi @jarrodek. We have automated typing generation for AMF so know typings should be updated as we update the Scala interface.

https://github.com/aml-org/amf/blob/6f8b61c35758538791a0ee627588df23a5cdf98e/amf-client/js/typings/amf-client-js.d.ts#L1907 shows that the `operationId` is know part of the `Operation` object.

I'm closing this issue. Thanks for creating it.

PR: https://github.com/aml-org

[2021-04-23 21:43] arielmirra commented on #888
Hi @jarrodek! Quick question, does this count as valid js in strict mode:
[code]

Simply adding `var` to the beginning makes tests fail with errors like `Cannot find global Ajv object`. You can try this solution by editing the `amf.js` file. Let me know if it works and I'll continue testing from there. Thanks!

[2021-04-29 15:02] unandyala commented on #718
Hi @looseale,
Any update on this ticket? We are also seeing memory issues with large RAMLs. Could this be related to the same issue?

Below are the error details. Please let me know if you would like me to create a separate ticket/issue for this

Thanks
Ujwala

[code]

[2021-05-04 14:46] nschejtman commented on #902
Hi @wjhsf, can you provide an example API where this occurs? Tried reproducing this but I'm getting the `closed:true` as expected

[2021-05-04 15:06] wjhsf commented on #902
[This gist](https://gist.github.com/wjhsf/60198f3c097e7b50768a5377039fd091) has a minimal reproduction. When I run it (node v12.22.1 on macOS 11.2.3), I see this output:
[code]

Here's an [example API](https://github.com/SalesforceCommerceCloud/commerce-sdk/blob/master/apis/checkout/orders/orders.raml) where this occurs. I originally encountered this when building the [Commerce SDK](https://github

[2021-05-05 14:54] arielmirra commented on #888
Hi @jarrodek! is this issue still relevant to you?

[2021-05-05 19:00] nschejtman commented on #902
Just seen your minimal example. This is the expected behavior.

When you do `.value()` on a BoolField (like `closed`) which is not defined it returns `false` by default. You can call `.option` instead of `.value()` which returns `boolean | undefined`.

In your case the `.closed` field is not defined for your link but it is defined for your link target, so that is why you see that difference.

[2021-05-05 19:01] nschejtman commented on #902
Closing the issue as it is the expected behavior

[2021-05-05 19:01] #902 closed, assigned to nobody

[2021-05-08 19:45] jarrodek commented on #888
Sorry for not responding. GitHub does not notify me about mentions for some reason.
Global is not the best way to solve this. There is no such variable in a web environment (it is in Node  but not in browser). Instead you can use [globalThis](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/globalThis) which refers to the global object across different environments.

[2021-05-08 20:00] jarrodek opened #951 "cannot read property `document` of undefined when calling `amf.plugins.document`"
Since the beginning of the project I was always using the following to initialize the API project:

[code]

The whole tolling for API Console uses this. I just upgraded amf-client-js from `4.7.1` to `4.7.3` and started having erros when parsing API files:

[code]

Here's the output of running tests with different versions:

## 4.7.1

[code]

Then I am upgrading the client package:

[code]
(output

[2021-05-09 01:55] nschejtman commented on #951
Hi @jarrodek, we noticed this. You can use 4.7.3-1 instead

[2021-05-10 13:00] tomsfernandez commented on #891
Hi @jarrodek. We have had to rollback this change. Re-opening the issue.

[2021-05-10 17:39] jarrodek commented on #951
But this is a pre-release version. I can't use it in a production code @nschejtman

[2021-05-10 18:02] looseale commented on #718
Hi @unandyala.

We found that we have an incompatibility between SHACL and some of our internal validations for specs, so we need to make a big refactor there. In the meantime, I recommend you to use the workaround that I provided in a previous comment: remove the 'extends: RAML' of the profile and run the RAML validation directly using AMF first and then call the validation of the custom validati

[2021-05-10 18:55] gkhunger-sf commented on #718
Hi @looseale

Thank you for looking into the issue and providing more details. We split the validations and that did lead to some good performance improvement but we were still seeing some really high memory consumption. During our investigation we found that most of that is due to the one rule we have in our custom profile which contains a SPARQL query. The rule is to check for duplicate display

[2021-05-11 21:59] nschejtman commented on #951
`4.7.3-1` is actually a hot fix for `4.7.3` meant for production.

We deviated from the traditional semver definition `<version core>-<pre-release>` and use `<version core>-<hot fix>` instead

[2021-05-11 21:59] #951 closed, assigned to nobody

[2021-05-20 13:34] looseale commented on #718
Hi @gkhunger-sf
Could you please report it in another github issue? The profile attached here is old, it has the rule in JS not in SPARQL.
If I remember correctly, the rule checked the name of each domainElement versus the other domainElement names. In a very big API that could end in a lot of comparisons... I don't think there is a way to "cache" the names like in the JS rule in SPARQL (we are no

[2021-05-26 01:17] kdubb opened #962 "RAML Overlays replace all resources in overlaid API"
* **I'm submitting a ...**
  - [X] bug report
  - [ ] feature request
  - [ ] question
  - [ ] other

* **What is the current behavior?**

When using an Overlay, if it attempts to overlay any resource from the overlaid document, all resources that are not overlaid are missing from the final document.

Given the RAML examples below, once parsed the only defined end point in the loaded API is `/test

[2021-05-27 13:50] tomsfernandez commented on #962
Hi @kdubb. Can you specify how you are parsing the Overlay?

[2021-05-27 13:53] kdubb commented on #962
@tomsfernandez  Here is the function:

https://github.com/outfoxx/sunday-generator/blob/f252cd5285d7f504e777661429085480f2cb586c/generator/src/main/kotlin/io/outfoxx/sunday/generator/parse.kt#L77

Excerpted for history's sake:
[code]

[2021-05-27 18:56] tomsfernandez commented on #859
Hi @ryan-slack-big. This issue is fixed with #271 . It will be included in the next release that will be done sometime next week. I'm closing this issue.

[2021-05-27 18:56] #859 closed, assigned to nobody

[2021-05-27 22:06] arielmirra commented on #962
Hi @kdubb! I've been looking into this and have some clarifications and a solution.

Parsing an overlay does not give you the resolved, merged, complete API you're looking for. For that, you must  `resolve` the overlay with a `Raml10Resolver`. That gives you the complete model you want.

I've tested this and pushed an example in [this commit](https://github.com/aml-org/examples/commit/750c326e94bc

[2021-05-27 22:06] #962 closed, assigned to nobody

[2021-05-27 22:14] kdubb commented on #962
@arielmirra Thank you!  This was very helpful.

Side note, is there documentation of the different pipelines?

[2021-05-27 22:56] arielmirra commented on #962
@kdubb today we updated the documentation with new docs. This should be helpful: https://a.ml/docs/AMF/Using%20AMF/amf_resolution

[2021-05-27 22:59] kdubb commented on #962
@arielmirra 🎉🎉🎉

One final off topic question.... Would it be possible to open up the "Discussions" feature for this project?

We've built a large generation codebase on the AMF client and given that the documentation is just coming around, I'm quite sure we're doing a lot of things wrong.  It would be nice to have a place to ask questions about intended usage without creating issues each time.

[2021-05-28 13:12] arielmirra commented on #962
@kdubb I think it's opened, check if you can access this link: https://github.com/aml-org/amf/discussions

For some reason, the "discussions" tab is not shown, probably because it's still in beta.

[2021-05-28 13:32] kdubb opened #967 "`Shape.inherits` is discarded during resolve with editing pipeline"
Your issue may already be reported! Please search on Github issues before creating one.

* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] question
  - [ ] other

* **What is the current behavior?**

During resolve with editing pipeline , `Shape.inherits` is discarded.  It doesn't appear to be "moved" to another property or set of properties.

It appears it is currently

[2021-05-28 13:33] kdubb commented on #962
@arielmirra It is opened and the tab is showing for me!

[2021-05-31 14:40] arielmirra commented on #967
Hi @kdubb! This is the expected behaviour when resolving type definitions. The documentation regarding editing pipeline may lead to confusions, and we'll look into that and update it with more details, thanks for the catch. But to be more specific, it refers to maintaining information regarding referenced documents as well as type declarations.

Resolving shapes is key part of resolution pipelines

[2021-05-31 14:55] kdubb commented on #967
@arielmirra The Sunday generator has an option to generate class hierarchies that match "simple" RAML inheritance. We are defining "simple" inheritance to be when all the types in an inheritance hierarchy inherit from a single type.

Currently, the generator code uses unresolved documents (with lots of manual resolving) and we are able to recover the inheritance hierarchy using `Shape.inherits`. T

[2021-05-31 16:27] arielmirra commented on #967
I see, what do you mean when you said "overlays aren't supported at all"?  I'm trying to get all the info about how are you using the inherits and the annotation IDs.

[2021-05-31 16:37] kdubb commented on #967
I only meant that without resolving a document (as we are currently doing), the overlays are not applied. I understand that we should be using a resolved document, and we want to, but we need the inheritance information in some fashion.

[2021-06-02 12:00] deiteris opened #976 "Trait does not apply correctly to new endpoint method in extension fragment"
Your issue may already be reported! Please search on Github issues before creating one.

* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] question
  - [ ] other

* **What is the current behavior?**

I've encountered this in https://github.com/mulesoft/api-console/issues/689 when working with the API console. I'll duplicate the description just in case.

* **If the curr

[2021-06-02 13:10] kdubb commented on #967
@arielmirra Is there a workaround that you can suggest? This issue the last major hurdle for us. We need to be able to use resolved documents _and_ have access to the inheritance information in some fashion.

[2021-06-02 13:56] arielmirra commented on #888
Hi @jarrodek! We've fixed the issue in [APIMF-3020](https://www.mulesoft.org/jira/browse/APIMF-3020) and it'll be available in the release of AMF 4.7.4. I'm closing the issue.

[2021-06-02 13:56] #888 closed, assigned to nobody

[2021-06-02 22:05] arielmirra commented on #967
Hi @kdubb! A couple of things I'd like to mention.

Regarding the documentation, thanks to this issue we're working on updating it to make more clear what the editing pipeline does and what resolution stages are in every pipeline. That's being tracked in the internal issue [APIMF-3137](https://www.mulesoft.org/jira/browse/APIMF-3137) (attached for history's sake, only the team can see it).

Regard

[2021-06-03 12:35] kdubb commented on #967
I am attempting to use the IDs from the `InheritedShapes` annotation with `BaseUnit.findById` to lookup the directly inherited shapes for any given shape, in a resolved document.

According to the code in `ShapeCanonizer.canonicalInheritance` the `InheritedShapes` annotation saves this information we need. Unfortunately the ids stored in here seem to be removed from the resolved document.

[2021-06-03 15:05] kdubb commented on #967
@arielmirra The change in PR #983  makes `InheritedShapes` usable for us in the final resolved document.

Here is some code (in Kotlin) I am using to test out printing the inheritance hierarchy. Without the changes in PR #983, this will always print `Not Found` for all of the ids found in `InheritedShapes`.

Note: It uses extension methods on `BaseUnit` to make it more readable. I've added those d

[2021-06-06 12:25] kdubb commented on #967
After further testing PR #983 doesn't properly save the information we are looking for when using overlays & fragments & documents all together.

I am at a loss and this brings our project to a standstill until we find a proper solution.

[2021-06-07 05:11] jarrodek opened #990 "Invalid security scheme settings when loading JSON+LD model"
* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] question
  - [ ] other

* **What is the current behavior?**

After loading graph data (previously generated JSON+LD from an API spec) the security settings for Open Id and API key are not set. The settings object is of a type of `http://a.ml/vocabularies/security#Settings` instead of the corresponding type.

* **The test

[2021-06-07 12:57] tomsfernandez commented on #990
Hi @jarrodek, I could replicate this with what you provided, it is originated by the JSON-LD parser so it only occurs when parsing it from JSON-LD. I created https://www.mulesoft.org/jira/browse/APIMF-3142 to track this internally.

FYI: in the example you are validating an OAS 3 API with a RAML profile. You should use `ProfileNames.OAS30` as the second argument.

[2021-06-07 13:01] tomsfernandez commented on #976
Hi @deiteris. Can you tell us how you are obtaining that json-ld graph?

[2021-06-07 15:52] deiteris commented on #976
Hi @tomsfernandez. For this one, I was using serialization method in [AML Language Server 3.2.7-1](https://github.com/aml-org/als) that is currently based on AMF 4.7.3.

If you need a code example with AMF options that reproduce the issue, here's the [gh-976.zip](https://github.com/aml-org/amf/files/6610367/gh-976.zip) project based on the examples I provided that produces the same output. It uses

[2021-06-07 19:47] tomsfernandez commented on #976
Is it possible you can create a GH repo with the code and share it with us?

[2021-06-07 21:00] deiteris commented on #976
@tomsfernandez sure, https://github.com/deiteris/amf-gh-976

[2021-06-11 12:45] tomsfernandez commented on #976
@deiteris definitely a bug. Reproduced both in JVM and JS with 4.7.4. Internal ticket link: https://www.mulesoft.org/jira/browse/APIMF-3152.

We will keep you posted via this github thread. Thanks!

[2021-06-11 12:48] tomsfernandez commented on #967
Sorry for the wait. We have to fix this from our side but it won't be easy.

Internal ticket link: https://www.mulesoft.org/jira/browse/APIMF-3153.

We will be posting updates in this Github thread.

[2021-06-22 16:50] wjhsf opened #1014 "Including a description in a request/response body with a type destroys information about the type"
**I'm submitting a ...**
  - [x] bug report

**What is the current behavior?**

Adding a `description` field to a request/response body with a `type` field causes the incorrect value to be returned for the name of the type. In the snippet below, the returned name is `default`, rather than the expected `RequestBody`. Removing the description results in the correct value being returned.
[code]

**If

[2021-06-24 18:25] nschejtman commented on #1014
Hello @wjhsf
This is in fact an expected behavior. By adding a new `description` facet the type is no longer the same exact type as `RequestBody`. This means we are creating a new type which inherits all the facets from `RequestBody` and defines its own `description` facet. This is why the new type has another name. The `description` facet might seem superfluous but from an AMF standpoint it is no

[2021-06-24 18:25] #1014 closed, assigned to nobody

[2021-06-28 20:03] wjhsf opened #1023 "Expose import namespaces"
**I'm submitting a ...**
  - [x] feature request
  - [ ] question
  - [ ] other

**What is the current behavior?**
For the RAML file below, there is currently no way to access the namespace defined by the import (`Namespaced`) by using defined properties and methods.
[code]

**What is the expected behavior?**
The namespace is exposed in the build artifacts, so it should be also available via a def

[2021-07-07 08:10] deiteris opened #1037 "Ajv update for js library"
* **I'm submitting a ...**
  - [ ] bug report
  - [ ] feature request
  - [x] question
  - [ ] other

I noticed that javascript library uses Ajv 6.5.2, while latest minor version is 6.12.6. Current version is affected by [CVE-2020-15366](https://cve.mitre.org/cgi-bin/cvekey.cgi?keyword=CVE-2020-15366) till 6.12.2 and updates may contain some improvements. Are there any plans to update it to latest

[2021-07-07 18:08] looseale commented on #1037
Hi @deiteris. I created https://www.mulesoft.org/jira/browse/APIMF-3232 to track this internally.
If there are no compatibility issues, probably in the next release we will push the version to 6.12.6.
Currently there are no plans to move into a new major version.

[2021-07-07 19:06] looseale commented on #1023
Hi @wjhsf.
I created an story in our internal issue system to track this: https://www.mulesoft.org/jira/browse/APIMF-3233.
We will evaluate to add an annotation or a new field in the model to save this information.

All updates on this issue will be communicated through this channel (the Github issue).
Thanks!

[2021-07-12 19:16] kdubb commented on #967
@tomsfernandez Is there any update on this? It's very limiting to releasing a fully working version.

Also, I've done some hacking on the library already, maybe if you pointed in a general direction I could help implement the necessary changes.

[2021-07-14 18:46] tomsfernandez commented on #967
Hi @kdubb, sorry for the slow response. Right now we don't have the manpower to fix this as we are focusing on releasing a new major version. I would gladly point you to where this can be done but there is an internal change of the new version that will probably break what you do.

We will know in these weeks if it will break or not. If you want I can write to you then and point where the fix can

[2021-07-27 19:41] deiteris opened #1057 "Empty string as enum value"
* **I'm submitting a ...**
  - [ ] bug report
  - [ ] feature request
  - [x] question
  - [ ] other

The RAML specification doesn't explain how enum works in details, so this goes as a question.

* **What is the current behavior?**

In other validation tool I've got an error that `enum: [""]` contains an invalid value, while AMF validates it without any issues. So the question is: is it expected

[2021-07-27 21:35] AgustinBettati commented on #1057
Hello @deiteris!
As you mentioned, the raml spec does not define a limitation for the items that can be defined in the `enum` array. Having said that, `""` is a valid instance for type string so I find no compelling reason to generate a validation for this case.
I am closing this issue but feel free to carry on the conversation.

[2021-07-27 21:35] #1057 closed, assigned to nobody

[2021-07-28 16:47] deiteris commented on #1037
Looks like Ajv was updated in 4.7.6. Should I close this issue @looseale?

[2021-07-28 16:59] looseale commented on #1037
Yep. Sorry, we forgot to close it.
The library Ajv was updated to 6.12.6 with the release of AMF 4.7.6.

[2021-07-28 16:59] #1037 closed, assigned to nobody

[2021-07-29 15:21] yungcheng opened #1061 "OAS 2.0 to RAML 1.0 conversion missing `type:` under `application/json:`"
Your issue may already be reported! Please search on Github issues before creating one.

* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] question
  - [ ] other

* **What is the current behavior?**

Sample swagger.json snippet
[code]

Expected Output
[code]
Actual output
(Notice that `Pet` is inlined instead of under `type: Pet`)
[code]

* **If the current behavior is

[2021-07-29 15:27] yungcheng opened #1062 "custom validation profile loading not working in aml example"
Your issue may already be reported! Please search on Github issues before creating one.

* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] question
  - [ ] other

* **What is the current behavior?**
See the example here
https://github.com/aml-org/examples/blob/master/AMF4/src/test/js/validation.test.js#L28

The file path in the test is outdated but even after I updated

[2021-07-29 22:27] arielmirra commented on #1062
Hi @yungcheng! Thank you for bringing that up! I've done some research into it and:
- I've already fixed the paths issue in AMF 4 in [this PR](https://github.com/aml-org/examples/pull/27)
- I've reproduced and confirmed that the custom validation example doesn't work (AMF doesn't apply the validation profile) and created an internal issue: https://www.mulesoft.org/jira/browse/APIMF-3302
- You can

[2021-07-29 22:34] arielmirra commented on #1061
Hi @yungcheng! This is not a bug. The output API is a valid RAML and is equivalent to the expected output, both in RAML and in the AMF model. I'm closing this issue but feel free to ask anything.

Also, the project you linked is currently private. If you're using AMF, consider adopting the AMF 5 version.

Thank you!

[2021-07-29 22:34] #1061 closed, assigned to arielmirra

[2021-08-04 20:50] arielmirra commented on #869
Hi @kdubb! I've fixed this issue, it was a problem when dealing with the nullable notation '?'.
Now this raml:
[code]

should be equivalent to:
[code]

This fix will be present in the next AMF release approximately on August 23rd. It will also be available in AMF 5.0.0-beta.4 if you're considering switching to the new AMF major version.

Thanks!

[2021-08-04 20:50] #869 closed, assigned to arielmirra

[2021-08-05 20:20] #874 closed, assigned to arielmirra

[2021-08-05 21:14] arielmirra commented on #874
Hi @kdubb! We've fixed this issue!
Now the raml example provided doesn't throw an incorrect validation.

This fix will be present in the next AMF release approximately on August 23rd. It will also be available in AMF 5.0.0-beta.4 if you're considering switching to the new AMF major version.

Thanks!

[2021-08-12 01:36] jarrodek opened #1084 "Unable to track JSON schema (the raw value) from a payload"
Your issue may already be reported! Please search on Github issues before creating one.

* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] question
  - [ ] other

* **What is the current behavior?**
In RAML, when including a type that is a JSON schema I am unable to read the "raw" value anymore.

* **If the current behavior is a bug, please provide the minimal steps to

[2021-08-12 13:08] arielmirra commented on #880
Hi @deiteris! I'm looking into this issue. This has to do with how AMF processes the "oneOf" facet with sub-schemas that only define required properties. There is a workaround that'll work, propagating the declared properties like so:
[code]
Hope this solves your problem while we work to solve the issue.

[2021-08-12 17:10] deiteris opened #1085 "'type' facet allows nested 'type'"
Your issue may already be reported! Please search on Github issues before creating one.

* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] question
  - [ ] other

* **What is the current behavior?**

The following RAML is validated and parsed successfully:
[code]

* **If the current behavior is a bug, please provide the minimal steps to reproduce with AMF code. Please d

[2021-08-15 15:44] deiteris commented on #880
Hi @arielmirra. Thanks for the workaround! I've just tried it out and I see that I actually can include these properties just into the `oneOf` facet to avoid duplication (if I don't need `additionalProperties` to be false for the entire type), and it'll be valid in both, AMF and JSON Schema Validator. This should work for the time being.
[code]

[2021-08-17 12:00] deiteris opened #1086 "Custom domain property 'tags' disappears from the model"
Your issue may already be reported! Please search on Github issues before creating one.

* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] question
  - [ ] other

* **What is the current behavior?**

Given the following RAML:

[code]

When parsed, the `(tags)` annotation disappears from the endpoint method. This doesn't seem to happen with annotation types that have dif

[2021-08-23 14:51] tomsfernandez commented on #1085
Hi @deiteris, can you point out where in the spec it says this is not allowed?

According to https://github.com/raml-org/raml-spec/blob/master/versions/raml-10/raml-10.md#type-declarations in the `type` facet entry:

[2021-08-23 15:13] tomsfernandez commented on #1086
Hi @deiteris. This is definitely a bug. I created an internal issue to track this: https://www.mulesoft.org/jira/browse/APIMF-3341. All updates will be given in this thread. Thanks!

[2021-08-23 15:18] tomsfernandez commented on #1084
**Note to maintainers.**: this issue was reported internally. This is the internal Jira issue: https://www.mulesoft.org/jira/browse/APIMF-3311

[2021-08-23 16:41] arielmirra commented on #880
Hello @deiteris! issue APIMF-3025 has been fixed and will be present in AMF's coming release 4.7.7 on the 26th of August. Thank you!

[2021-08-23 16:41] #880 closed, assigned to arielmirra

[2021-08-23 17:23] deiteris commented on #880
Hi @arielmirra. Great, thanks! Will be waiting for the new release 🙂

[2021-08-23 17:42] deiteris commented on #1085
Hi @tomsfernandez. Just to make sure we're on the same page (as my example may be unclear): I am considering as a bug the following construct that is allowed by AMF parser:
[code]
And according to your cite from the spec it accepts **a value** (that is one of the possible listed values), not the other facets.

This may become especially confusing when deprecated `schema` keyword is being mistakenl

[2021-08-23 18:22] tomsfernandez commented on #1085
Hmm I interpret the word `value` in the phrase:

As a YAML node value. In the possible values described in that phrase are a scalar (point a) and b)) or an object (point c)). If this is the case then that is allowed behaviour.

[2021-08-23 18:24] tomsfernandez commented on #1085
I suggest you raise an issue in https://github.com/raml-org/raml-spec/issues to see if this example should be valid or not.

[2021-08-23 20:18] deiteris commented on #1085
Actually yeah, you are right and the spec means exactly that. But from the user's PoV it looks like a loophole in the spec (or I just don't see how it can be useful). I'll raise the issue in the spec repo. Thanks!

[2021-08-23 20:18] #1085 closed, assigned to arielmirra

[2021-09-02 17:04] gb-arm opened #1119 "RAML 1.0 examples on trait duplicated by usages of trait"
This is similar to issue #357 but worse.

I understand that all examples declared for a type are treated as examples for the type wherever it is used. So, for example a trait like this:

[code]

actually declares two examples for the `errorType` type. But if you use that trait three times:

[code]

then when you resolve the RAML with `Raml10Resolver.resolve(baseUnit, DEFAULT_PIPELINE)` you get 6 e

[2021-09-06 11:31] deiteris opened #1121 "JSON schema of scalar type causes java.RuntimeException when defined with 'type' facet and used in response body"
Your issue may already be reported! Please search on Github issues before creating one.

* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] question
  - [ ] other

* **What is the current behavior?**

If a JSON schema, that defines validation of a scalar type, is defined with `type` facet and used in response body, it causes java.RuntimeException.

* **If the current beh

[2021-09-06 12:29] stenri commented on #1121
According to my tests, this issue also affects AMF 5.0.0-beta.4-1.

[2021-09-06 19:17] nschejtman commented on #1119
Hi @gb-arm, I was able to reproduce this issue. Created ticket in our internal Jira with ID APIMF-3386. Will update this issue when we have any updates

[2021-09-06 19:37] nschejtman commented on #1121
@deiteris @stenri I confirm this is a bug. As a workaround, extracting the schema to an external file and including it works fine. Created APIMF-3387 in our internal Jira to track this, let you know when we have any updates.

[2021-09-06 19:44] deiteris commented on #1121
@nschejtman, just to clarify, the same issue happens if you also extract it to file. For example:
[code]

The issue does not occur, when JSON schema is directly assigned to a type. In the following example, both will work fine:
[code]

[2021-09-06 19:55] nschejtman commented on #1121
Thank you for the clarification 👍

[2021-09-07 19:43] arielmirra commented on #901
Hi @deiteris! This bug has been fixed and will be present in the next AMF release on Sep 21st, both in AMF 4 (which will enter maintenance mode) and AMF 5 (which is in beta and will go live by that date). Thank you!

[2021-09-07 19:43] #901 closed, assigned to arielmirra

[2021-10-04 17:59] arielmirra commented on #990
Hi @jarrodek! I've tested this scenario in the [examples repo](https://github.com/aml-org/examples) with AMF `4.7.8` and AMF `5.0.0`. The bug is still present in v4 and it's fixed in v5.

Please consider upgrading as we're no longer releasing new versions of AMF version 4. I'm closing this issue as fixed.

For reference, this is the code that I've added to the [AMF 5 conversion example](https://gi

[2021-10-04 17:59] #990 closed, assigned to arielmirra

[2021-10-07 10:37] gb-arm opened #1163 "Example on URI parameter with included type missing when resolved"
Take a RAML file with these URI parameters:

main.raml
[code]

type.raml
[code]

When resolved through the default pipeline, the first and third include the example string and the second doesn't. The displayName does get resolved from the underlying type, but the example (and also any annotations if present, not shown in this minimal example) don't get included. The presence of the overriding desc

[2021-10-07 10:44] gb-arm commented on #1163
Same is true for EDITING_PIPELINE(). COMPATIBILITY_PIPELINE() does include the examples and descriptions but with a nested type rather than flattened. Is this intentional?

[2021-10-21 14:02] arielmirra commented on #1163
Hi @gb-arm! I've analyzed the behavior you mention and have some clarifications:
1) Compatibility pipeline should only be used when changing API specification, from OAS to RAML for example.

2) when an inheritance is present and there are some fields other than `type`, the examples are removed as they may no longer be valid after the merge. Examples should be added in the same level as the `type`

[2021-11-15 19:07] arielmirra commented on #1084
Hi @jarrodek! This issue has been solved in the PRs attached above. when parsing the rendered jsonld, in both XML and JSON Schema, the raw value can be restored from the model. I've based my tests on one of [your provided tests](https://github.com/jarrodek/amf-tests/blob/main/test/amf-5.0.0-beta.test.js#L11).
Thank you 🙌🏽

[2021-11-15 19:07] #1084 closed, assigned to arielmirra

[2021-11-18 00:06] kdubb commented on #967
@tomsfernandez Wondering if there is any movement on this.  We've migrated to the 5.x version but we're still plagued by the same issue.

Now that the new version is more settled, is pointing me in the right direction to update/fix this issue now viable?

[2021-11-23 11:14] tomsfernandez commented on #967
@kdubb sorry for the long time to respond.

The issue you have is caused by:
https://github.com/aml-org/amf/blob/a574e1e13ca21d9f9130a20ce1ccffeff89a0181/amf-shapes/shared/src/main/scala/amf/shapes/internal/domain/resolution/shape_normalization/ShapeCanonizer.scala#L142.

It isn't straightforward at all as this is part of an overly-complex caching mechanism to avoid re-canonizing shapes. We are do

[2021-11-26 07:35] LokeshNSF opened #1213 "OAuth scopes defined in OAS specification is different from ones present in amf.json and also in UI"
Your issue may already be reported! Please search on Github issues before creating one.

* **I'm submitting a ...**
  - [] bug report
  - [ ] feature request
  - [x] question
  - [ ] other

* **What is the current behavior?**
We are generating amf.json from an OAS spec and using the amf.json to render the UI using "amf-client-js" version "4.7.5".

Here we are facing an issue related to OAuth scope

[2021-11-29 14:07] AgustinBettati commented on #1213
Hello @LokeshNSF!

AMF is generating a correct model, but it appears that the API Console is obtaining the scope values from an incorrect place.

To gain more understanding of the underlying model you can take a look at https://github.com/aml-org/amf/blob/develop/documentation/model.md#parametrizedsecurityscheme (which is stored within the Operation node). Here there are 2 fields, ```scheme``` whi

[2021-11-29 14:07] #1213 closed, assigned to nobody

[2021-11-29 15:29] LokeshNSF commented on #1213
Thanks @AgustinBettati for looking into this issue.
Will there be a different issue created for the API console team, just wanted to track this issue as we have a user who is waiting for this fix.

[2021-12-07 13:26] deiteris opened #1222 "JS variant throws TypeError exception with AMF 5.0.1"
Your issue may already be reported! Please search on Github issues before creating one.

* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] question
  - [ ] other

* **What is the current behavior?**

I've updated from AMF 5.0.0 to 5.0.1 with `npm`, and now AMF parser throws an exception with the following stack trace:
[code]

* **If the current behavior is a bug, please

[2021-12-07 13:39] looseale commented on #1222
Hi @deiteris, we had a publication issue with the version 5.0.1. We already released a HF, 5.0.1-0 that should fix that error.
Please try it using that version and let us know if it works.

[2021-12-07 14:33] deiteris commented on #1222
Hi @looseale. I see, this release wasn't listed on the github and `^` in the version doesn't upgrade to it. It works with `5.0.1-0`, thanks!

[2021-12-07 14:33] #1222 closed, assigned to nobody

[2021-12-09 17:49] tomsfernandez commented on #891
Closing as it is present in AMF 5.0.0 and AMF 5.0.1

[2021-12-09 17:49] #891 closed, assigned to nobody

[2021-12-12 22:19] jgsuess opened #1228 "AMF bundling for OSGi"
Your issue may already be reported! Please search on Github issues before creating one.

* **I'm submitting a ...**
  - [ ] bug report
  - [x] feature request
  - [ ] question
  - [ ] other

* **What is the current behavior?**
[The `client` packages and potentially others are split over several jars](https://nirmalsasidharan.wordpress.com/2010/09/02/split-packages-an-osgi-nightmare/). This makes d

[2021-12-13 10:56] ShauniArima opened #1230 "`withTags` is not available from WebAPI in Java"
* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] question
  - [ ] other

* **What is the current behavior?**

The `withTags` function is not accessible from WepApi object.

* **If the current behavior is a bug, please provide the minimal steps to reproduce with AMF code. Please don't upload AMF code mixed with yours.**

Try building a fresh new `WepApi` object. The met

[2021-12-13 17:54] AgustinBettati commented on #1230
Hello @ShauniArima, thanks for bringing this up.
Internal issue to track this: https://www.mulesoft.org/jira/browse/APIMF-3592.

Will let you know when this fix is merged and the release in which it will be included.

[2021-12-13 18:07] #1230 closed, assigned to nobody

[2021-12-13 18:13] AgustinBettati commented on #1230
This fix will be available in the coming AMF release scheduled for the 10th of January. In the meantime you can use the snapshot version ```5.1.0-SNAPSHOT``` which already includes the fix, but use this version with caution as it may be unstable.

[2021-12-13 20:01] AgustinBettati commented on #1228
Hello @jgsuess!

Could you provide a specific version where you encountered this issue?
From my understanding this problem occurs when there are separate libraries that make use of the same package name. For the case of AMF versions 5.x.x we can ensure that this is not posible as we have normalized our package structure, where the packages contained in each library have a unique prefix.

[2021-12-14 05:00] jgsuess commented on #1228
I am using amf-core_2.12-4.1.20, which is consistent with your specification. However, this version is used transitively used from webapi-parser-0.5.0.jar: com.github.amlorg » amf-webapi_2.12 | 4.0.3

Hence, I cannot profit from the OSGi bundling.

From an end-users perspective, the AMF-AML is valuable for working with RAML. No-one will go out and write a chocolate factory control modelling softwa

[2021-12-14 08:26] ShauniArima commented on #1230
Thank you! 🎉

[2021-12-14 14:39] anandsgar-sap opened #1236 "Trying to parse and map a particular Open API spec crashes the APP due to memory"
* **I'm submitting a ..Question**
  - [ ] bug report
  - [ ] question

* **What is the current behavior?**
* The application crashes when i execute this piece of code:
  I am using this version -->    "amf-client-js": "^4.7.7",

* **What is the expected behavior?**
          *   Wanted the JSON schema output as string .
          * Primarily we want to get the request and  response object for each

[2021-12-14 15:27] AgustinBettati commented on #1228
Regarding **webapi-parser**: Since the release of AMF 5.x.x, this repository has not been maintained and is replaced in favour of the new interfaces provided directly by AMF (I am currently working on making this clear in the webapi-parser repository). All of the functionality related to API Specs can be invoked in a very simple manner.

On the other hand, I may have misunderstood your underlying

[2021-12-14 20:06] gutee opened #1237 "Git2Gus Integration issue"
Your issue may already be reported! Please search on Github issues before creating one.

* **I'm submitting a ...**
  - [X] bug report
  - [ ] feature request
  - [ ] question
  - [ ] other

* **What is the current behavior?**

* **If the current behavior is a bug, please provide the minimal steps to reproduce with AMF code. Please don't upload AMF code mixed with yours.**

* **What is the expecte

[2021-12-14 22:57] jgsuess commented on #1228
If **webapi-parser** is deprecated after **[RAML Java Parser](https://github.com/raml-org/raml-java-parser)** is deprecated, then pointing out what is current would be valuable. A standard like RAML without a TCK and accessible reference implementation is not very useful.

As to my problem, I am using [bnd](https://bnd.bndtools.org/) with either [maven P2](https://github.com/reficio/p2-maven-plugi

[2021-12-15 13:01] AgustinBettati commented on #1228
Thank you for all the insight and detail.

RAML does in fact have a [TCK](https://github.com/raml-org/raml-tck) where you will also find reference to implementations. We will look into giving the AMF implementation more visibility on this end.

Given that the problem originates from identical package names in different jars, I advise you migrate from webapi-parser to AMF 5 directly. You will be us

[2021-12-15 20:48] jgsuess commented on #1228
Could you please point me to the equivalent information for the parser invocation. Saying that I should 'migrate from `webapi-parser` to AMF 5 directly' is a bit like saying that I should 'look at the internet to read the documentation'. In other words, this is not a reasonably actionable, and hence not a useful, suggestion. Can you please provide either specific instructions or an example as to *

[2021-12-15 20:56] jgsuess commented on #1228
Self-note: It seems that the [generalized parsing instructions are here](https://a.ml/docs/amf/using-amf/amf_parsing#api-contract-model-parsing).

[2021-12-16 04:11] jgsuess commented on #1228
I have bundled AMF 5 up, and it does not declare its dynamic dependencies hence uses of the parser still fail. AMF5 cannot be used in OSGi.

@AgustinBettati please reopen.

[code]

[2021-12-16 04:13] jgsuess commented on #1228
This either requires dynamic import (not recommended) or import specification.

http://keheliya.blogspot.com/2013/02/use-of-dynamicimport-package-in-osgi.html

[2021-12-16 12:49] AgustinBettati commented on #1228
Yes that documentation is accurate, happy to see you found it.

Reopening the issue as it is relevant to AMF 5. From the error I see there is class from one of our external dependencies that is not resolved, is this due to package naming from their side? If this is the case there is not much we can do to change that. Are there any other alternatives we have from our side to fix the OSGi bundling p

[2021-12-16 22:50] jgsuess commented on #1228
The cause is reflective loading performed by AMF 5 dependencies. AMF 5 can solve this by providing an OSGi manifest that lists all packages that may be dynamically loaded. This is something that a bundle analyzer like bnd cannot do, as the information is not explicit. Alternatively [Dynamic Imports](http://docs.osgi.org/specification/osgi.core/7.0.0/framework.module.html#framework.module.dynamicim

[2021-12-20 11:21] tomsfernandez commented on #1236
Hi @anandsgar-sap. Can you post the error here please?

[2021-12-20 11:27] anandsgar-sap commented on #1236
[74480:0x108008000] 2549481 ms: Mark-sweep 8187.6 (8208.3) -> 8187.6 (8208.3) MB, 6236.3 / 0.1 ms (average mu = 0.032, current mu = 0.000) last resort GC in old space requested

3: 0x1000a5b8f node::OnFatalError(char const*, char const*)
4: 0x1001ee4c7 v8::Utils::ReportOOMFailure(v8::internal::Isolate*, char const*, bool)
5: 0x1001ee467 v8::internal::V8::FatalProcessOutOfMemory(v8::internal::Isola

[2021-12-20 11:46] tomsfernandez commented on #1236
can you post the api spec you are using please?

[2021-12-20 11:47] tomsfernandez commented on #1236
sorry just saw the link

[2021-12-20 12:06] tomsfernandez commented on #1236
AMF is running out of memory when emitting the json schema. The "components" section in the API is pretty big so i'd suggest giving the node process more memory.

The most probable cause of the memory consumption is the emission type. The default json schema emission in AMF 4 is an "expanded emission" (we don't use refs). There is a render option to use "flattened emission" (that uses references)

[2021-12-20 12:19] anandsgar-sap commented on #1236
Thanks @tomsfernandez

Also as you see we are trying to extract the set of Input and output properties schema, is there any other method that we could use instead of _toJsonSchema()_ to achieve the same. Even if that take to loop through the list of properties

[2021-12-20 12:29] tomsfernandez commented on #1236
can you expand a bit more on that? I don't understand what you want to do

[2021-12-20 12:30] tomsfernandez commented on #1236
AMF 4 examples with compacted emission:

[code]

[2021-12-20 12:34] anandsgar-sap commented on #1236
Yeah sure,
We want to read all the OPEN API spec, end-points and map to a corresponding structure on our side. hence we need to get the Response and input JSON Schema for each endpoint (would you recommend use to go this way, by using **buildJsonSchema**  or do you suggest a better alternative?

`Also, how do you suggest we update the reference that would be left due to "flattened emission" by bui

[2021-12-20 12:45] tomsfernandez commented on #1236
1. That method is fine
2. Refs are "self-contained" you shouldn't get a $ref pointing outside of the schema string the method returns

[2021-12-20 13:57] arielmirra commented on #1086
Hi @deiteris! this issue has been fixed will be present in the next AMF release version 5.0.3, approximately on January 10. Thank you!

[2021-12-20 13:57] #1086 closed, assigned to arielmirra

[2021-12-20 14:50] deiteris commented on #1086
Thank you!

[2021-12-20 15:02] tomsfernandez commented on #1236
I'm closing this issue. Please feel free to keep asking if you need to.

[2021-12-20 15:02] #1236 closed, assigned to nobody

[2021-12-20 15:05] anandsgar-sap commented on #1236
Sure I would validate a few points around this and would get back to you.
@tomsfernandez: Just wanted to know If there is any concrete example which I could follow for mapping open Api schema to a certain JSON Schema of my interest?

[2021-12-20 16:41] ShauniArima opened #1240 "(RAML 08 to OAS 3.0) Use of `schemas` result in an empty output during model transformation"
* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] question
  - [ ] other

* **What is the current behavior?**

Usage of schemas in RAML file seems to be avoided during model transformation.

* **If the current behavior is a bug, please provide the minimal steps to reproduce with AMF code. Please don't upload AMF code mixed with yours.**

Tranformation of these files to

[2021-12-20 16:49] tomsfernandez commented on #1240
Hi! We only support conversion between RAML 1.0 and OAS 2.0 / OAS 3.0 specs.

[2021-12-20 17:08] ShauniArima commented on #1240
Oh yes sorry. By using `RAML 1.0` specification this is different. But the result is still not good. By using the same files as before and fixing the raml file like this:

[code]

The conversion still output a bad `yaml` file:

[code]

Schemas are still empty 😢

[2021-12-20 17:15] tomsfernandez commented on #1240
Can you share with me the code you are using?

[2021-12-20 17:23] ShauniArima commented on #1240
Sure! The first argument is for the `source` file and the second one for the `result` file.

[code]

[2021-12-21 09:42] ShauniArima commented on #1240
Oh sorry! 😢
My specifications wasn't good. The `!include` keyword was missing. By adding it in my `types` definitions, it works well.

[code]

And it seems to work well with `RAML 0.8`! 🎉

[2021-12-21 19:06] #1237 closed, assigned to nobody

[2021-12-21 19:07] gutee opened #1243 "Git2Gus Integration issue"
Your issue may already be reported! Please search on Github issues before creating one.

* **I'm submitting a ...**
  - [ ] bug report
  - [X] feature request
  - [ ] question
  - [ ] other

* **What is the current behavior?**

* **If the current behavior is a bug, please provide the minimal steps to reproduce with AMF code. Please don't upload AMF code mixed with yours.**

* **What is the expecte

[2021-12-21 20:15] #1243 closed, assigned to nobody

[2021-12-21 20:18] gutee opened #1245 "Git2Gus Integration issue"
Your issue may already be reported! Please search on Github issues before creating one.

* **I'm submitting a ...**
  - [ ] bug report
  - [X] feature request
  - [ ] question
  - [ ] other

* **What is the current behavior?**

* **If the current behavior is a bug, please provide the minimal steps to reproduce with AMF code. Please don't upload AMF code mixed with yours.**

* **What is the expecte

[2021-12-22 13:46] AgustinBettati commented on #1228
Hello @jgsuess,

We have analyzed this issue with the team and have come to the conclusion that given our available resources and the limited value it brings to the project we will not be implementing or analyzing a related solution. I advise you generate a compliant bundle in a separate project with AMF dependencies, or feel free to contribute to the project if you find a solution from our end.

[2021-12-22 13:46] #1228 closed, assigned to nobody

[2021-12-22 16:24] #1240 closed, assigned to nobody

[2021-12-23 01:10] jgsuess commented on #1228
Thanks for performing the analysis. I understand it is challenging to make changes once dependencies have become tangled.

[2021-12-27 21:04] AgustinBettati commented on #1062
Hello @yungcheng!
Tried this test with the current state of AMF 4 examples using AMF 4.7.8 and the custom validation test case is working correctly. Closing this issue but feel free to comment if you cannot reproduce this behaviour.

Relevant to this topic, take into consideration that the newest version of AMF  no longer supports this functionality natively in the library. More details under **Di

[2021-12-27 21:04] #1062 closed, assigned to nobody

[2021-12-30 18:37] hghianni commented on #1121
Hello @deiteris @stenri this issue has been fixed and will be present in the next AMF release version 5.0.3,  probably January 10. Thank you!

[2021-12-30 18:37] #1121 closed, assigned to hghianni

[2022-01-04 05:09] jgsuess opened #1253 "RAML TCK samples unexpectedly pass validation"
I am using the attached RAML TCK 2.0 with AMF 5.0.2. I have set up a test suite that executes a parse and validate on each sample. I find that a large number of test cases marked invalid in the TCK are passing and receive an ok validation. Is this expected?

In AMF 4.0 there was [a RAML-specific profile](https://github.com/aml-org/amf/blob/develop/documentation/validation.md#using-amf-validation-p

[2022-01-04 05:57] jgsuess commented on #1253
Below is the list of TCK false negatives that I see:
[code]

[2022-01-04 12:52] AgustinBettati commented on #1253
Hello @jgsuess!

From a few examples I tried it appears that you are not taking into account parsing errors (defined as `isGrammarConformant` in your code). Maybe something under `// Logic to exit on grammar issue` is not working as expected?

This was a relevant change in the interfaces of AMF 5 as each operation now returns the errors it encounters, different to AMF 4 where parsing errors where

[2022-01-06 18:55] arielmirra commented on #1163
Hi @gb-arm! issue [APIMF-3503](https://www.mulesoft.org/jira/browse/APIMF-3503) has been solved and the fix will be available in the next AMF release version 5.0.3, releasing next week. Thank you!

[2022-01-06 18:55] #1163 closed, assigned to arielmirra

[2022-01-07 07:15] mkmishra89 opened #1258 "Method to retrieve payload schema in json format"
Hi Team,

I am using AMF 5.0.1 for my development and try to implement same feature but not getting any option.

payload.schema.toJsonSchema()

could you please suggest  the appropriate solution in AMF 5.0.1

[2022-01-07 10:06] manisharma07 commented on #1258
we wanted to retrieve payload schema in json format. from the parsed doc. Can you guide us to the correct method with sample code

[2022-01-07 12:22] AgustinBettati commented on #1258
Hello @mkmishra89 @manisharma07.

Json schema rendering can be found under the `AMFElementClient`. Here is an example in [java](https://github.com/aml-org/examples/blob/master/AMF5/src/test/ts/shape.serialization.spec.ts), but you can also find examples for typescript and scala in the same repository.
You can rely on the examples repository to help you out with the migration, as well as the [docum

[2022-01-07 12:22] #1258 closed, assigned to nobody

[2022-01-21 06:18] jgsuess opened #1280 "How to retain include structure when serialising parsed RAML"
Your issue may already be reported! Please search on Github issues before creating one.

* **I'm submitting a ...**
  - [x] question

* **What is the current behavior?**
When I parse a RAML document with dependent documents, I receive a memory structure that includes all items. However, if I want to store the information back in the original files, they get normalised into one file!

* **What is t

[2022-01-24 19:40] arielmirra commented on #1280
Hi @jgsuess! I want to make some clarifications about AMF behavior:
- AMF parses an API into a common [API Model](https://a.ml/docs/amf/using-amf/amf_model).
- When the API is distributed in different files, the only difference is that the parsed `BaseUnit` now has a list in the `references` property, that lists each referenced file. And even then, this `references` is oftentimes deleted from the

[2022-01-24 19:40] #1280 closed, assigned to arielmirra

[2022-02-02 05:14] anandsgar-sap opened #1287 "Not able to read global security and server details from the WebAPI model after parsing openAPi spec"
* **I'm submitting a ...**
  - [ ] question

_**Trying to understand how could i fetch the security and server configuration from the webApi ?**_

		    // for Open API 3.0 version

_**Attached is the OpenAPI spec for ref.[openapispec.json.txt](https://github.com/aml-org/amf/files/7983772/openapispec.json.txt)** - basically i wish to use the server and security configuration object from the spec_

[2022-02-02 10:48] tomsfernandez commented on #1287
Hi @anandsgar-sap. Could you post the API you are using? Thanks!

[2022-02-02 12:13] #1119 closed, assigned to arielmirra

[2022-02-02 22:49] arielmirra commented on #1119
hi @gb-arm! This issue has been solved and will be present in the next AMF release version 5.0.4, available Feb 10th. Thank you!

[2022-02-03 02:18] jgsuess opened #1292 "Factory Method Identification"
I am writing a reflective tool that constructs RAML from a different storage format. I need to know which features are constructed using which methods. The test below shows the effect. I can create an array and call the setter, but on generation

* **I'm submitting a ...**
  - [x] question

* **What is the current behavior?**

On some features, setting an array of items succeeds, on some, the vali

[2022-02-03 11:19] tomsfernandez commented on #1292
Hi @jgsuess!. Three questions:
- What AMF version specifically are you using ?
- How it the `validate` method implemented ?
- What is the exception this throws ?

[2022-02-04 00:39] jgsuess commented on #1292
`validate` is an API method provided by the product: `import static webapi.Raml10.validate;`
AMF: `2.12_4`

[code]

[code]
[code]

[2022-02-04 00:40] jgsuess commented on #1292
The exception is an `NPE` coming from Scala, when calling `get` on the `Future`.
[code]

[2022-02-04 18:13] tomsfernandez commented on #1292
Hi @jgsuess. Yup I agree there should be a better exception there. We will have to review the code for more cases like this one.
As our primary use case of obtaining models is by parsing a text file, over time assumptions about the fields that a certain model have crept in the code base and generate errors like yours. This doesn't happen while parsing from a text file as the absence of the "Path"

[2022-02-05 11:03] jgsuess commented on #1292
Yes, I had issues with validations on the 5.x line. I have a ticket for that. Is there any guidance on what the *general* conventions are? I am writing a serializer for all cases, so I would love to know what I can expect. I can run the TCK suite, but I am not sure that will cover all cases...

[2022-02-06 23:41] jgsuess commented on #1292
Also, could you please make me external listener on your ticket, so I can gauge if it is progressing or if I should give up? Without a track, this determination is difficult to make.

[2022-02-08 07:13] anandsgar-sap commented on #1287
@tomsfernandez would appreciate a response, am i clear in my query  ? I would be more than happy to share more details

[2022-02-08 12:20] tomsfernandez commented on #1287
Hi @anandsgar-sap sorry about the tardiness. Our default transformation "normalized" servers and security. You may have to look in all the api -> endpoint -> operation tree.

If you want to be able to lookup the servers and security in their original place, you can use the "editing" pipeline which keeps API Edition info.

To do this you should use:

[code]

[2022-02-08 12:45] tomsfernandez commented on #1292
Can you point me towards it? I don't see open issues with you as author.

We are working towards having open source visibility of our tickets but we don't have ir right now. Anyhow, me duplicate the Jira status in this Github ticket.

We don't have a general convention of which field is present or not in the ApiContractModel. A quick WA until this issue is solved is start from an API that is simil

[2022-02-08 15:11] anandsgar-sap commented on #1287
Ohh okay @tomsfernandez .

1. I tried a few things like resolvedModel.encodes.security, also tried to read the schema, could not find the security object, some code sample would really help.
2. Also not very sure how to get it from the operation tree as well, could you please share a sample for that as well?

[2022-02-08 15:44] tomsfernandez commented on #1287
Did you do this with `PipelineId.Editing` ?

[code]

[2022-02-08 16:34] anandsgar-sap commented on #1287
Yeah @tomsfernandez  i used PipelineId.Editing params At least it didn't work for me for the spec that i shared in the Query.

[2022-02-08 19:54] tomsfernandez commented on #1287
HI @anandsgar-sap my mistake. It seems that the `servers` are left when using Editing pipeline besides being drilled-down BUT securities aren't left, they are just drilled-down to the operations.

For example (security):
`resolvedModel.encodes.endPoints[0].operations[0].security[0]`

For example (servers):
`resolvedModel.encodes.servers`

I'll try to figure out why the "security" doesn't follow th

[2022-02-08 20:47] jgsuess commented on #1292
Thanks for the response. The WA is appreciated. However, it does not help with my practical problem. I have parsed and analysed all classes derived from the RAML domain model, and I am attempting to build a general purpose serializer. Hence there are no structures that 'may not occur' and no 'concrete case try-outs' I can do. Basically, I have to pass the [RAML-TCK](https://github.com/raml-org/ram

[2022-02-09 05:03] anandsgar-sap commented on #1287
Hi @tomsfernandez i could check that we get the security object at (resolvedModel.encodes.endPoints[0].operations[0].security[0] ), but was not able to extract the appropriate JSON structure to consume. DO you have recommendation for that (Also is there a generic way to model out json out of these webAPI objects)?

[2022-02-09 16:22] tomsfernandez commented on #1292
Hi @jgsuess. This is quite a big task as we will have to revise one by one our rendering classes in search of cases such as yours. We won't be able to solve it by this week and definitely not with a back-port to the 4.x.x if you can't upgrade to the 5.x.x line.

If it helps with something we also support Swagger 2.0, OpenApi 3.0 and AsyncApi 2.0 but the model used is the same as RAML.

[2022-02-09 20:34] jgsuess opened #1303 "Inhomogenous builder interface in `amf.client.model.domain.Operation`"
Your issue may already be reported! Please search on Github issues before creating one.

* **I'm submitting a ...**
  - [ ] bug report
  - [x] feature request
  - [ ] question
  - [ ] other

* **What is the current behavior?**

The type `amf.client.model.domain.Operation` offer methods `List<Request> amf.client.model.domain.Operation.requests()` and `amf.client.model.domain.Operation.withRequest(R

[2022-02-10 02:32] jgsuess opened #1304 "RAML Library References `uses:` lost after export"
Your issue may already be reported! Please search on Github issues before creating one.

When reading a RAML File that contains imports of libraries, the reference to the library types are reflected, but no `uses:` directives are contained.

* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] question
  - [ ] other

* **What is the current behavior?**

When reading a RAML

[2022-02-10 05:26] anandsgar-sap opened #1305 "Validation fails for a valid API spec"
Your issue may already be reported! Please search on Github issues before creating one.

* **I'm submitting a ...**
  - [ ] bug report

* **What is the current behavior?**

Try to validate [openapispec.json](https://github.com/aml-org/amf/files/8038305/openapispec.json.txt)
with below code:

Observed an error stating : 'Unresolved reference '#/components/parameters/count'',

* **What is the expect

[2022-02-10 06:50] dcrossleyau opened #1306 "Broken link to docs"
* **I'm submitting a ...**
  - [ ] bug report
  - [ ] feature request
  - [ ] question
  - [x] other

* **What is the current behavior?**

The link to documentation, on the right-hand side of the GitHub [front page](https://github.com/aml-org/amf) is broken 404.

Also going direct is broken, e.g. https://a.ml/docs/amf/migration_guide/

It did work recently, but not now.